In [9]:
import pandas as pd
import numpy as np
import random
import networkx as nx
import matplotlib.pyplot as plt
import os

# Class & Function Definitions

#### 1. Graphs

In [10]:
class Vertex:
    def __init__(self, id_=""):
        self.id_ = id_
        self.neighbours = {}
    
    def add_neighbour(self, nbr_vertex, weight=0):
        self.neighbours[nbr_vertex] = weight
    
    def get_vertex_neighbours(self):
        return self.neighbours.keys()
    
    def get_weight(self, neighbour):
        if neighbour in self.neighbours.keys():
            return self.neighbours[neighbour]
        return None
    
    def __eq__(self, other):
        return self.id_ == other.id_

    def __lt__(self, other):
        return self.id_ < other.id_

    def __hash__(self):
        return hash(self.id_)
    
    def __str__(self):
        my_string = f"Vertex {self.id_} is connected to: "
        my_neighbours = [vertex.id_ for vertex in self.get_vertex_neighbours()]
        my_string += ", ".join(my_neighbours)
        return my_string
    
class Graph:
    def __init__(self):
        self.vertices = {}
        
    def _create_vertex(self, id_):
        return Vertex(id_)

    def add_vertex(self, id_):
        self.vertices[id_] = self._create_vertex(id_)

    def get_vertex(self, id_):
        return self.vertices.get(id_, None)
        
    def add_edge(self, start_v, end_v, weight=0):
        if start_v not in self.vertices: 
            self.add_vertex(start_v)
        if end_v not in self.vertices: 
            self.add_vertex(end_v)
        v_start = self.vertices[start_v]
        v_end = self.vertices[end_v]
        v_start.add_neighbour(v_end)

    def get_neighbours(self, id_):
        vertex = self.get_vertex(id_)
        if vertex:
            return [neighbour.id_ for neighbour in vertex.get_vertex_neighbours()]
        return []
 
    def __contains__(self, id_):
        return id_ in self.vertices
    
    def __iter__(self):
        return iter(self.vertices.values())

    @property        
    def num_vertices(self):
        return len(self.vertices)

In [11]:
# def generate_probabilities(D=0.5, n=10):
#     """ 
#     Generates the probabilities of arc (i,j) existing for all i, j in n where i =/= j 
#     Probability values are generated based on (Hall & Posner, 2001)
#     Inputs: 
#         - D          : float, value between 0 and 1 which sets the density of the graph
#         - n          : int, number of nodes to be generated
#     Output: 
#         Returns p_ij, a dictionary which stores the probability values using the following data structure: 
#             p_ij = { i: {j: p_ij} }
#     """
#     p_ij = {}
#     n = int(n)
#     for i in range(1, n+1):
#         p_ij[f"J.{i}"] = {}
#         for j in range(1, n+1):
#             if j != i: 
#                 p_ij[f"J.{i}"][f"J.{j}"] = D*(1-D)**(j-i-1) / (1 - D * (1 - (1-D)**(j-i-1) ))
#     return p_ij 
import decimal


decimal.getcontext().prec = 100

def generate_probabilities(D=0.5, n=10):
    """ 
    Generates the probabilities of arc (i,j) existing for all i, j in n where i =/= j 
    Probability values are generated based on (Hall & Posner, 2001)
    Inputs: 
        - D          : float, value between 0 and 1 which sets the density of the graph
        - n          : int, number of nodes to be generated
    Output: 
        Returns p_ij, a dictionary which stores the probability values using the following data structure: 
            p_ij = { i: {j: p_ij} }
    """
    p_ij = {}
    n = int(n)
    D = decimal.Decimal(D)
    one = decimal.Decimal(1)
    
    for i in range(1, n + 1):
        p_ij[f"J.{i}"] = {}
        for j in range(1, n + 1):
            if j != i:
                exponent = decimal.Decimal(j - i - 1)
                numerator = D * (one - D) ** exponent
                denominator = one - D * (one - (one - D) ** exponent)
                p_ij[f"J.{i}"][f"J.{j}"] = float(numerator / denominator)
    return p_ij 


def generate_graph(n, p_ij, dict_graph={}):
    """ 
    Generates a new graph with arcs and nodes that represent a BOM network. 
    The BOM network is generated based on a given set of probability values (Hall & Posner, 2001)
    Inputs: 
        - n          : int, number of nodes in the graph 
        - p_ij       : dict, probability of arc (i,j) existing (p_ij = { i: {j: p_ij}})
        - dict_graph : dict, alternative method to store graph information using adjacency matrix 
    Output: 
        - g          : graph object containing node and edges information
        - dict_graph : no output, but dict_graph is processed in place 
    Specific Features:
        - The graph generated does not contain self-connecting cycles
    """

    g = Graph()
    edges = []

    for i in range(1, n+1):
        dict_graph[f"J.{i}"] = []
        for j in range(i + 1, n + 1):
            dict_graph[f"J.{j}"] = []
            if p_ij[f"J.{i}"][f"J.{j}"] <= random.random():
                edges.append((f"J.{i}", f"J.{j}"))

    for u, v in edges:
        u, v = str(u), str(v)
        if g.get_neighbours(u):
            continue  # Skip if u already has a successor
        if u < v:
            if not any(g.get_vertex(str(w)) for w in g.get_neighbours(v) if g.get_vertex(u) in g.get_neighbours(w)):
                g.add_edge(u, v)
                dict_graph[u].append(v)
        else:
            if not any(g.get_vertex(str(w)) for w in g.get_neighbours(u) if g.get_vertex(v) in g.get_neighbours(w)):
                g.add_edge(u, v)
                dict_graph[u].append(v)
    return g



def visualize_graph(graph, figure_size=(8, 6), font_type="Century Gothic", font_size=15, node_size=1500, node_color='lightblue', edge_color='black', alpha=1, folder_path=None, file_name=None):
    """ 
    Generates a visualization for a graph object. The visualization is made in such a way that: 
        (1) Nodes with no immediate predecessors are placed to the left of the image
        (2) Nodes with no immediate successors are placed to the right of the image 
        (3) All other remaining nodes are placed in between. 
    Inputs (Required): 
        - graph         : graph object, containing the nodes and edges to be visualized
    Inputs (Optional):
        - figure_size   : tuple, sets the preferred size of the image
        - font_type     : str, sets the font family
        - font_size     : float, sets the size of the font
        - node_size     : float, sets the size of the nodes
        - node_color    : str, sets the color of the nodes
        - edge_color    : str, sets the color of the edges
        - edge_alpha    : float, value between 0 and 1 which sets the density of the edges
    Output: 
        - Visualization of the graph using plt.show()
    """
    G = nx.DiGraph()
    
    for vertex in graph:
        G.add_node(vertex.id_)
        for neighbour in vertex.get_vertex_neighbours():
            G.add_edge(vertex.id_, neighbour.id_)
    
    # Create custom positions for nodes
    pos = {}
    nodes_without_predecessors = [node for node in G.nodes if G.in_degree(node) == 0]
    nodes_without_successors = [node for node in G.nodes if G.out_degree(node) == 0]
    other_nodes = [node for node in G.nodes if node not in nodes_without_predecessors and node not in nodes_without_successors]
    
    # Assign layers
    layers = {node: 0 for node in nodes_without_predecessors}
    for node in other_nodes:
        predecessors = G.predecessors(node)
        layers[node] = max(layers[pred] + 1 for pred in predecessors if pred in layers)
    for node in nodes_without_successors:
        predecessors = G.predecessors(node)
        layers[node] = max(layers[pred] + 1 for pred in predecessors if pred in layers)
    
    # Add subset attribute to nodes
    for node, layer in layers.items():
        G.nodes[node]['subset'] = layer
    
    # Assign positions using multipartite_layout
    pos = nx.multipartite_layout(G, subset_key='subset')
    
    # Draw the graph with custom positions
    plt.figure(figsize=figure_size)
    nx.draw(G, pos, with_labels=True, font_family=font_type, font_weight='bold', font_size=font_size,
            node_color=node_color, node_size=node_size,  
            edge_color=edge_color, alpha=alpha)
    if folder_path and file_name:
        plt.savefig(f"{folder_path}//{file_name}.png")
        # plt.show()
        plt.close()
    # else:
    #     plt.show()

#### 2. Machine Speeds

In [12]:
class LogarithmicDistribution:
    def __init__(self, p):
        if not (0 < p < 1):
            raise ValueError("Parameter p must be between 0 and 1.")
        self.p = p

    def pmf(self, k):
        """Probability mass function of the logarithmic distribution."""
        if k < 1:
            return 0
        return -self.p**k / (k * np.log(1 - self.p))

    def sample(self, size=1):
        """Generate random samples from the logarithmic distribution."""
        # Using inverse transform sampling
        samples = []
        for _ in range(size):
            u = np.random.uniform(0, 1)
            k = 1
            sum_pmf = self.pmf(k)
            while u > sum_pmf:
                k += 1
                sum_pmf += self.pmf(k)
            samples.append(k)
        return np.array(samples)

    def plot_pmf(self, max_k=20):
        """Plot the probability mass function."""
        ks = np.arange(1, max_k + 1)
        pmf_values = [self.pmf(k) for k in ks]
        plt.stem(ks, pmf_values, use_line_collection=True)
        plt.xlabel('k')
        plt.ylabel('P(X=k)')
        plt.title('Logarithmic Distribution PMF')
        plt.show()

In [13]:
def plot_histogram(data, bins=10, title='Histogram', xlabel='Value', ylabel='Frequency'):
    """
    Plots a histogram of the given data.

    Parameters:
    - data: array-like, the input array of numbers.
    - bins: int, the number of bins for the histogram.
    - title: str, the title of the plot.
    - xlabel: str, the label for the x-axis.
    - ylabel: str, the label for the y-axis.
    """
    plt.figure(figsize=(10, 6))
    plt.hist(data, bins=bins, edgecolor='black', alpha=0.7)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.grid(True)
    plt.show()

#### 3. Machine Routing

In [14]:
def generate_transition_matrix(M, bottleneck_machine=None, bottleneck_probability=0.3):
    """
    Generate a transition matrix for machine assignments.
    Inputs:
        - M                         : int, number of machines
        - bottleneck_machine        : int or None, index of the bottleneck machine (0-indexed)
        - bottleneck_probability    : float, probability that the bottleneck machine will be chosen
    Output:
        - transition_matrix         : numpy array of shape (M, M) containing transition probabilities
    """
    transition_matrix = np.ones((M, M))
    if bottleneck_machine is not None:
        bottleneck_machine -= 1  # Convert to 0-indexed
        transition_matrix[:, bottleneck_machine] = bottleneck_probability
        other_probability = (1 - bottleneck_probability) / (M - 1)
        for i in range(M):
            if i != bottleneck_machine:
                transition_matrix[:, i] = other_probability
    transition_matrix = transition_matrix / transition_matrix.sum(axis=1)[:, np.newaxis]
    return transition_matrix

def assign_machines(df, M, bottleneck_machine=None, bottleneck_probability=0.3):
    """
    Assign machines to operations based on a transition probability matrix.
    Inputs:
        - df                        : DataFrame, containing the operations and their predecessors
        - M                         : int, number of machines
        - bottleneck_machine        : int or None, index of the bottleneck machine (0-indexed)
        - bottleneck_probability    : float, probability that the bottleneck machine will be chosen
    Output:
        - df                        : DataFrame, with an additional column "machine" assigned
    """
    transition_matrix = generate_transition_matrix(M, bottleneck_machine, bottleneck_probability)
    current_machine = random.randint(0, M - 1)  # Start with a random machine (0-indexed)

    machine_assignments = []
    for _ in range(len(df)):
        next_machine_idx = np.random.choice(M, p=transition_matrix[current_machine])
        next_machine = f"M{1 + np.random.choice(M, p=transition_matrix[current_machine])}"
        machine_assignments.append(next_machine) 
        current_machine = next_machine_idx
    
    df['machine'] = machine_assignments
    return df

# Data Generation

In [15]:
def generate_dataset(n, M, D, p, folder_path=None, file_name=None, bottleneck_machine=None, display_graph=False):
    # ===========================
    # BOM PRECEDENCE NETWORK 
    # ===========================
    df = pd.DataFrame({
        "operation": [None] * n,
        "predecessor_operations": [None] * n
    })
    while True:
        p_ij = generate_probabilities(D=D, n=n)
        dict_graph = {}
        g = generate_graph(n, p_ij, dict_graph)
        reversed_graph = {f"J.{i}": [] for i in range(1, len(dict_graph))} # graph reversed to ease next part
        for predecessor, successors in dict_graph.items():
            for successor in successors:
                reversed_graph.setdefault(successor, []).append(predecessor)
        i = 0
        for successor in reversed_graph.keys():
            df.at[i, "operation"] = successor
            df.at[i, "predecessor_operations"] = reversed_graph[successor]
            i += 1
        if not df['operation'].isna().any(): 
            # check if all operations have been included
            # there is a chance that some operations are not included, due to p_ij 
            break
    # Visualization
    if display_graph:
        fig_size = (24, 18) if n >= 30 else (12, 9) if n > 15 else (8, 6) 
        visualize_graph(g, figure_size=fig_size, folder_path=folder_path, file_name=file_name)

    # ===========================
    # OPERATION PROCESSING TIMES
    # ===========================
    log_dist = LogarithmicDistribution(p)
    df['processing_time'] = log_dist.sample(n)

    # ===========================
    # MACHINE ROUTING
    # ===========================
    df = assign_machines(df, M, bottleneck_machine, bottleneck_probability=0.7)

    # ===========================
    # WORKCENTER INFORMATION
    # ===========================
    df['workcenter'] = [f"WC#{random.randint(1, 3)}" for _ in range(n)]

    # ===========================
    # END_PRODUCT &  DUE DATES 
    # ===========================
    def flatten(test_list):
        if isinstance(test_list, list):
            temp = []
            for ele in test_list:
                temp.extend(flatten(ele))
            return temp
        else:
            return [test_list]
    predecessor_operations = flatten(df['predecessor_operations'].tolist())
    unique_operations = list(df['operation'].unique())
    end_products = [item for item in unique_operations if item not in predecessor_operations]
    df['due_date'] = None    
    base_duedate = int(df['processing_time'].sum() / 5)
    for end_product in end_products: 
        df.at[int(end_product[2:])-1, 'due_date'] = base_duedate + random.randint(1,5)
        df.at[int(end_product[2:])-1, 'end_product'] = 1
        # the above code assumes each operation is named "J.xxx" where xxx is the operation number 


    return df

In [8]:
# def flatten(test_list):
#     if isinstance(test_list, list):
#         temp = []
#         for ele in test_list:
#             temp.extend(flatten(ele))
#         return temp
#     else:
#         return [test_list]

# mylist = flatten(df['predecessors'].tolist())
# unique_operations = list(df['operation'].unique())
# end_products = [item for item in unique_operations if item not in mylist]
# # print(mylist)
# # print(unique_operations)
# print(end_products)


# df['due_date'] = None
# for end_product in end_products: 
#     df.at[int(end_product)-1, 'due_date'] = random.randint(80,100)

# # display(df.head())
# display(df)

In [13]:
# Sample Implementation
random.seed(42)
D = 0.9
n = 100

p_ij = generate_probabilities(D=D, n=n)
df = generate_dataset(
    n=n, 
    M=20, 
    D=D, 
    p=0.25,
    dd=(80,100), 
    display_graph=False
)

display(df)
print(df['operation'].isna().any())

# import matplotlib.pyplot as plt 
# plt.figure(figsize=(10, 6))
# plt.hist(df['processing_time'], edgecolor='black', bins=100)
# plt.title('Histogram of Variable')
# plt.xlabel('Value')
# plt.ylabel('Frequency')
# plt.grid(True)
# plt.show()


# mylist = df['processing_time'].unique().tolist()
# mylist.sort()
# print(mylist)
# for time in mylist: 
#     print(time, len(df.loc[(df['processing_time']==time)]))

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M6,WC1,None,0
1,J.2,[],1,M3,WC1,None,0
2,J.3,[],1,M12,WC1,None,0
3,J.4,[J.1],1,M12,WC3,None,0
4,J.5,"[J.2, J.3]",1,M4,WC2,None,0
...,...,...,...,...,...,...,...
95,J.96,[],1,M5,WC1,None,0
96,J.97,"[J.94, J.95]",1,M19,WC2,None,0
97,J.98,[J.96],1,M10,WC3,None,0
98,J.99,[],1,M1,WC1,86,1
99,J.100,"[J.97, J.98]",1,M9,WC3,99,1

False

In [31]:
list_n = [200,100,50,30,15]
list_M = [1, 2, 5]
list_D = [0.1, 0.5, 0.9]
list_p = [0.15, 0.95]

combinations = []
for n in list_n: 
    for M in list_M:
        for D in list_D: 
            for p in list_p: 
                combinations.append( (n, M, D, p) )

for n, M, D, p in combinations: 
    folder_path = f"TestCases//{n}operations"
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)
    
    df = generate_dataset(n, M, D, p, bottleneck_machine=None)
    display(df)
    filename = f"{n}_{M}_{D}_{p}"
    df.to_csv(f"{folder_path}//{filename}.csv", index=False)

    if M > 1:
        df = generate_dataset(n, M, D, p, bottleneck_machine=random.randint(1, M))
        display(df)
        filename_bottleneck = f"{n}_{M}_{D}_{p}_bottleneck"
        df.to_csv(f"{folder_path}//{filename_bottleneck}.csv", index=False)

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M1,WC#2,None,NaN
3,J.4,[J.3],1,M1,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],1,M1,WC#2,None,NaN
196,J.197,"[J.195, J.196]",2,M1,WC#1,None,NaN
197,J.198,[J.197],1,M1,WC#3,None,NaN
198,J.199,[J.198],1,M1,WC#3,None,NaN
199,J.200,[J.199],1,M1,WC#3,48,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],6,M1,WC#1,None,NaN
1,J.2,[J.1],2,M1,WC#2,None,NaN
2,J.3,[],2,M1,WC#1,None,NaN
3,J.4,"[J.2, J.3]",1,M1,WC#1,None,NaN
4,J.5,[J.4],42,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.195],1,M1,WC#3,None,NaN
196,J.197,[J.196],7,M1,WC#1,None,NaN
197,J.198,[J.197],21,M1,WC#1,None,NaN
198,J.199,[J.198],1,M1,WC#1,None,NaN
199,J.200,[J.199],1,M1,WC#2,291,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M1,WC#3,None,NaN
3,J.4,[],2,M1,WC#2,None,NaN
4,J.5,[J.3],1,M1,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.195],1,M1,WC#3,None,NaN
196,J.197,[J.196],1,M1,WC#3,None,NaN
197,J.198,[J.197],1,M1,WC#3,None,NaN
198,J.199,[J.198],1,M1,WC#3,None,NaN
199,J.200,[J.199],1,M1,WC#2,47,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#2,None,NaN
1,J.2,[J.1],7,M1,WC#1,None,NaN
2,J.3,[J.2],26,M1,WC#2,None,NaN
3,J.4,[J.3],45,M1,WC#1,None,NaN
4,J.5,[J.4],10,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],1,M1,WC#1,None,NaN
196,J.197,[],1,M1,WC#1,None,NaN
197,J.198,[J.195],14,M1,WC#3,None,NaN
198,J.199,[J.197],1,M1,WC#3,None,NaN
199,J.200,"[J.196, J.198, J.199]",1,M1,WC#1,284,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#2,None,NaN
2,J.3,[J.1],1,M1,WC#1,None,NaN
3,J.4,[J.2],1,M1,WC#1,None,NaN
4,J.5,[],1,M1,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.194],1,M1,WC#1,None,NaN
196,J.197,[J.195],1,M1,WC#1,None,NaN
197,J.198,[J.196],1,M1,WC#1,None,NaN
198,J.199,[],1,M1,WC#2,48,1.0
199,J.200,"[J.197, J.198]",1,M1,WC#1,47,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],2,M1,WC#1,None,NaN
2,J.3,[],12,M1,WC#3,None,NaN
3,J.4,"[J.1, J.2]",1,M1,WC#3,None,NaN
4,J.5,[],2,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,"[J.193, J.194]",20,M1,WC#1,None,NaN
196,J.197,[],2,M1,WC#1,None,NaN
197,J.198,"[J.195, J.196]",4,M1,WC#3,None,NaN
198,J.199,[],2,M1,WC#1,246,1.0
199,J.200,"[J.197, J.198]",4,M1,WC#3,249,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#2,None,NaN
1,J.2,[J.1],2,M1,WC#1,None,NaN
2,J.3,[J.2],1,M2,WC#3,None,NaN
3,J.4,[J.3],1,M2,WC#1,None,NaN
4,J.5,[],1,M2,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],1,M2,WC#1,None,NaN
196,J.197,[J.196],1,M1,WC#2,None,NaN
197,J.198,"[J.195, J.197]",1,M2,WC#1,None,NaN
198,J.199,[J.198],1,M2,WC#2,None,NaN
199,J.200,[J.199],1,M2,WC#3,44,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M2,WC#1,None,NaN
1,J.2,[],1,M2,WC#2,None,NaN
2,J.3,"[J.1, J.2]",1,M2,WC#3,None,NaN
3,J.4,[J.3],1,M1,WC#1,None,NaN
4,J.5,[J.4],1,M2,WC#3,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.195],1,M2,WC#2,None,NaN
196,J.197,[J.196],1,M2,WC#1,None,NaN
197,J.198,[],2,M2,WC#3,None,NaN
198,J.199,"[J.197, J.198]",1,M1,WC#1,None,NaN
199,J.200,[J.199],1,M2,WC#1,44,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],34,M2,WC#2,None,NaN
1,J.2,[J.1],15,M1,WC#2,None,NaN
2,J.3,[J.2],1,M2,WC#3,None,NaN
3,J.4,[J.3],8,M2,WC#1,None,NaN
4,J.5,[J.4],19,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,"[J.194, J.195]",4,M1,WC#3,None,NaN
196,J.197,[J.196],1,M1,WC#2,None,NaN
197,J.198,[J.197],1,M1,WC#2,None,NaN
198,J.199,[J.198],10,M2,WC#3,None,NaN
199,J.200,[J.199],1,M1,WC#1,250,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],10,M2,WC#2,None,NaN
1,J.2,[J.1],14,M2,WC#1,None,NaN
2,J.3,[J.2],12,M1,WC#1,None,NaN
3,J.4,[J.3],4,M1,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.195],10,M2,WC#1,None,NaN
196,J.197,[J.196],25,M1,WC#3,None,NaN
197,J.198,[J.197],2,M1,WC#1,None,NaN
198,J.199,[J.198],2,M1,WC#2,None,NaN
199,J.200,[J.199],7,M2,WC#2,252,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,[J.2],1,M1,WC#1,None,NaN
3,J.4,[],1,M1,WC#1,None,NaN
4,J.5,"[J.1, J.3]",1,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],1,M2,WC#2,None,NaN
196,J.197,"[J.195, J.196]",1,M1,WC#2,None,NaN
197,J.198,[],2,M2,WC#3,None,NaN
198,J.199,"[J.197, J.198]",1,M1,WC#2,None,NaN
199,J.200,[J.199],1,M1,WC#3,46,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#2,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M2,WC#3,None,NaN
3,J.4,[J.3],1,M2,WC#2,None,NaN
4,J.5,[],1,M2,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],1,M2,WC#3,None,NaN
196,J.197,[],1,M2,WC#3,None,NaN
197,J.198,"[J.195, J.196]",1,M2,WC#1,45,1.0
198,J.199,[],1,M2,WC#1,47,1.0
199,J.200,[J.197],1,M2,WC#1,44,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],4,M1,WC#3,None,NaN
1,J.2,[],3,M2,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M1,WC#1,None,NaN
3,J.4,[J.3],11,M1,WC#1,None,NaN
4,J.5,[],5,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],15,M2,WC#2,None,NaN
196,J.197,"[J.195, J.196]",2,M2,WC#1,None,NaN
197,J.198,[],47,M1,WC#2,None,NaN
198,J.199,"[J.197, J.198]",1,M1,WC#3,None,NaN
199,J.200,[J.199],2,M2,WC#2,218,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M2,WC#1,None,NaN
1,J.2,[J.1],11,M1,WC#1,None,NaN
2,J.3,[J.2],1,M1,WC#2,None,NaN
3,J.4,[],1,M2,WC#3,None,NaN
4,J.5,[J.4],1,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],16,M1,WC#2,None,NaN
196,J.197,"[J.195, J.196]",1,M1,WC#3,265,1.0
197,J.198,[],2,M2,WC#3,None,NaN
198,J.199,[J.198],4,M1,WC#2,None,NaN
199,J.200,[J.199],8,M2,WC#3,264,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],1,M2,WC#3,None,NaN
2,J.3,[],1,M1,WC#1,None,NaN
3,J.4,[J.2],1,M2,WC#1,None,NaN
4,J.5,[J.1],1,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],1,M2,WC#3,None,NaN
196,J.197,"[J.194, J.196]",1,M1,WC#1,None,NaN
197,J.198,[J.195],2,M1,WC#1,48,1.0
198,J.199,[],1,M1,WC#2,49,1.0
199,J.200,[J.197],1,M1,WC#3,49,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#3,None,NaN
1,J.2,[],1,M2,WC#3,None,NaN
2,J.3,[],1,M2,WC#3,None,NaN
3,J.4,[J.1],1,M2,WC#3,None,NaN
4,J.5,"[J.2, J.4]",1,M2,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,"[J.193, J.194]",1,M2,WC#2,None,NaN
196,J.197,"[J.195, J.196]",1,M2,WC#2,None,NaN
197,J.198,[J.197],1,M2,WC#3,None,NaN
198,J.199,[],1,M2,WC#1,46,1.0
199,J.200,[J.198],2,M1,WC#2,48,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],6,M1,WC#3,None,NaN
1,J.2,[J.1],3,M1,WC#2,None,NaN
2,J.3,[],9,M2,WC#3,None,NaN
3,J.4,[J.2],4,M2,WC#3,None,NaN
4,J.5,[J.3],4,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.194],13,M2,WC#1,None,NaN
196,J.197,[],3,M2,WC#3,None,NaN
197,J.198,"[J.195, J.196]",33,M1,WC#2,None,NaN
198,J.199,[J.197],2,M1,WC#3,230,1.0
199,J.200,[J.198],1,M1,WC#2,230,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],4,M2,WC#1,None,NaN
1,J.2,[],3,M2,WC#3,None,NaN
2,J.3,[J.1],18,M2,WC#1,None,NaN
3,J.4,[J.2],3,M2,WC#2,None,NaN
4,J.5,[J.3],6,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.194],1,M1,WC#2,None,NaN
196,J.197,[J.195],51,M2,WC#2,None,NaN
197,J.198,[],4,M2,WC#3,None,NaN
198,J.199,"[J.196, J.197]",1,M1,WC#2,226,1.0
199,J.200,[J.198],2,M2,WC#3,222,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#3,None,NaN
1,J.2,[J.1],1,M3,WC#1,None,NaN
2,J.3,[J.2],1,M3,WC#1,None,NaN
3,J.4,[J.3],1,M3,WC#1,None,NaN
4,J.5,[J.4],1,M3,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,"[J.193, J.195]",1,M1,WC#1,None,NaN
196,J.197,[J.196],1,M2,WC#3,None,NaN
197,J.198,[J.197],1,M1,WC#3,None,NaN
198,J.199,[J.198],1,M4,WC#1,None,NaN
199,J.200,[J.199],1,M3,WC#1,43,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#3,None,NaN
1,J.2,[J.1],1,M4,WC#2,None,NaN
2,J.3,[J.2],1,M4,WC#1,None,NaN
3,J.4,[J.3],1,M2,WC#3,None,NaN
4,J.5,[J.4],1,M4,WC#3,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],1,M1,WC#1,None,NaN
196,J.197,"[J.195, J.196]",1,M4,WC#1,None,NaN
197,J.198,[J.197],1,M5,WC#3,None,NaN
198,J.199,[J.198],1,M4,WC#2,None,NaN
199,J.200,[J.199],1,M4,WC#2,43,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#3,None,NaN
1,J.2,[J.1],5,M2,WC#1,None,NaN
2,J.3,[],2,M5,WC#3,None,NaN
3,J.4,[J.3],10,M2,WC#2,None,NaN
4,J.5,"[J.2, J.4]",1,M3,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.195],3,M2,WC#1,None,NaN
196,J.197,[J.196],1,M3,WC#3,None,NaN
197,J.198,[J.197],1,M2,WC#2,None,NaN
198,J.199,[J.198],1,M1,WC#1,None,NaN
199,J.200,[J.199],2,M3,WC#3,254,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],18,M3,WC#2,None,NaN
1,J.2,[J.1],20,M3,WC#2,None,NaN
2,J.3,[J.2],8,M4,WC#3,None,NaN
3,J.4,[J.3],2,M4,WC#1,None,NaN
4,J.5,[J.4],1,M4,WC#3,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.195],16,M2,WC#1,None,NaN
196,J.197,[J.196],6,M2,WC#3,None,NaN
197,J.198,[J.197],1,M4,WC#2,None,NaN
198,J.199,[J.198],1,M2,WC#3,None,NaN
199,J.200,[J.199],3,M4,WC#2,284,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#3,None,NaN
1,J.2,[J.1],1,M5,WC#3,None,NaN
2,J.3,[],1,M3,WC#2,None,NaN
3,J.4,[J.2],1,M3,WC#3,None,NaN
4,J.5,[J.3],1,M1,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[],1,M3,WC#2,None,NaN
196,J.197,[J.195],1,M2,WC#1,None,NaN
197,J.198,"[J.196, J.197]",2,M2,WC#3,None,NaN
198,J.199,[J.198],1,M1,WC#3,None,NaN
199,J.200,[J.199],1,M1,WC#2,45,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#2,None,NaN
1,J.2,[J.1],1,M5,WC#3,None,NaN
2,J.3,[],1,M5,WC#1,None,NaN
3,J.4,"[J.2, J.3]",1,M4,WC#1,None,NaN
4,J.5,[],1,M5,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,"[J.194, J.195]",1,M5,WC#2,None,NaN
196,J.197,[],1,M5,WC#1,None,NaN
197,J.198,"[J.196, J.197]",1,M1,WC#2,None,NaN
198,J.199,[],1,M4,WC#1,None,NaN
199,J.200,"[J.198, J.199]",1,M5,WC#1,48,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M3,WC#3,None,NaN
1,J.2,[],4,M2,WC#1,None,NaN
2,J.3,[J.1],2,M3,WC#1,None,NaN
3,J.4,"[J.2, J.3]",2,M2,WC#3,None,NaN
4,J.5,[],1,M5,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.195],38,M5,WC#3,None,NaN
196,J.197,[],1,M3,WC#2,None,NaN
197,J.198,[J.196],1,M3,WC#1,None,NaN
198,J.199,[J.197],1,M2,WC#3,None,NaN
199,J.200,"[J.198, J.199]",5,M1,WC#2,260,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],7,M3,WC#3,None,NaN
1,J.2,[J.1],2,M3,WC#3,None,NaN
2,J.3,[],1,M3,WC#1,None,NaN
3,J.4,[J.2],1,M3,WC#3,None,NaN
4,J.5,[J.4],1,M3,WC#3,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.194],18,M3,WC#2,None,NaN
196,J.197,"[J.195, J.196]",2,M3,WC#3,None,NaN
197,J.198,[],1,M3,WC#2,None,NaN
198,J.199,[J.197],4,M3,WC#2,240,1.0
199,J.200,[J.198],4,M3,WC#1,237,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M2,WC#3,None,NaN
1,J.2,[],1,M2,WC#1,None,NaN
2,J.3,[],1,M4,WC#2,None,NaN
3,J.4,"[J.1, J.2]",1,M1,WC#2,None,NaN
4,J.5,[],1,M4,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.193],1,M1,WC#2,None,NaN
196,J.197,"[J.194, J.195]",1,M4,WC#2,None,NaN
197,J.198,[],1,M1,WC#1,47,1.0
198,J.199,[J.196],1,M5,WC#1,45,1.0
199,J.200,[J.197],1,M5,WC#1,46,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M3,WC#3,None,NaN
2,J.3,[J.1],1,M3,WC#3,None,NaN
3,J.4,"[J.2, J.3]",1,M3,WC#1,None,NaN
4,J.5,[],1,M4,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.193],1,M3,WC#3,None,NaN
196,J.197,[J.194],1,M3,WC#2,None,NaN
197,J.198,[J.196],1,M5,WC#1,None,NaN
198,J.199,"[J.195, J.198]",1,M3,WC#1,47,1.0
199,J.200,[J.197],1,M3,WC#2,47,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],6,M2,WC#3,None,NaN
1,J.2,[],4,M3,WC#2,None,NaN
2,J.3,[J.1],2,M1,WC#2,None,NaN
3,J.4,[],8,M4,WC#1,None,NaN
4,J.5,"[J.2, J.3]",3,M2,WC#2,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.194],4,M4,WC#1,None,NaN
196,J.197,[],5,M5,WC#1,None,NaN
197,J.198,[J.195],1,M3,WC#1,310,1.0
198,J.199,[J.196],5,M4,WC#3,307,1.0
199,J.200,[J.197],10,M4,WC#1,307,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],35,M4,WC#1,None,NaN
1,J.2,[],17,M4,WC#3,None,NaN
2,J.3,[],22,M5,WC#1,None,NaN
3,J.4,"[J.1, J.2]",19,M4,WC#2,None,NaN
4,J.5,[J.3],1,M3,WC#1,None,NaN
...,...,...,...,...,...,...,...
195,J.196,[J.194],1,M4,WC#3,None,NaN
196,J.197,"[J.195, J.196]",5,M4,WC#2,None,NaN
197,J.198,[],1,M2,WC#2,None,NaN
198,J.199,[],14,M2,WC#1,278,1.0
199,J.200,"[J.197, J.198]",5,M4,WC#2,281,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[J.1],1,M1,WC#3,None,NaN
2,J.3,[J.2],2,M1,WC#3,None,NaN
3,J.4,[J.3],1,M1,WC#2,None,NaN
4,J.5,[J.4],1,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M1,WC#1,None,NaN
96,J.97,[J.96],2,M1,WC#2,None,NaN
97,J.98,[J.97],1,M1,WC#2,None,NaN
98,J.99,[J.98],1,M1,WC#3,None,NaN
99,J.100,[J.99],1,M1,WC#1,25,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],5,M1,WC#1,None,NaN
1,J.2,[J.1],2,M1,WC#2,None,NaN
2,J.3,[],7,M1,WC#1,None,NaN
3,J.4,"[J.2, J.3]",9,M1,WC#3,None,NaN
4,J.5,[J.4],11,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M1,WC#1,None,NaN
96,J.97,[J.96],1,M1,WC#3,None,NaN
97,J.98,[J.97],2,M1,WC#2,None,NaN
98,J.99,[],1,M1,WC#1,None,NaN
99,J.100,"[J.98, J.99]",5,M1,WC#2,121,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#3,None,NaN
2,J.3,[J.1],1,M1,WC#3,None,NaN
3,J.4,[J.3],1,M1,WC#3,None,NaN
4,J.5,[],1,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M1,WC#1,None,NaN
96,J.97,[J.96],1,M1,WC#3,None,NaN
97,J.98,[],1,M1,WC#2,None,NaN
98,J.99,[J.97],1,M1,WC#2,None,NaN
99,J.100,"[J.98, J.99]",1,M1,WC#1,26,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],5,M1,WC#3,None,NaN
1,J.2,[J.1],6,M1,WC#1,None,NaN
2,J.3,[],6,M1,WC#1,None,NaN
3,J.4,"[J.2, J.3]",1,M1,WC#2,None,NaN
4,J.5,[J.4],22,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,"[J.93, J.95]",1,M1,WC#1,None,NaN
96,J.97,[J.96],1,M1,WC#2,None,NaN
97,J.98,[],2,M1,WC#3,None,NaN
98,J.99,"[J.97, J.98]",1,M1,WC#2,None,NaN
99,J.100,[J.99],12,M1,WC#1,107,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[J.1],1,M1,WC#3,None,NaN
2,J.3,[J.2],1,M1,WC#1,None,NaN
3,J.4,[],1,M1,WC#2,None,NaN
4,J.5,[],2,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],1,M1,WC#2,None,NaN
96,J.97,"[J.94, J.96]",1,M1,WC#2,None,NaN
97,J.98,[J.95],1,M1,WC#2,None,NaN
98,J.99,[],2,M1,WC#2,None,NaN
99,J.100,"[J.97, J.98, J.99]",2,M1,WC#1,25,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],7,M1,WC#3,None,NaN
1,J.2,[],2,M1,WC#2,None,NaN
2,J.3,[J.1],9,M1,WC#1,None,NaN
3,J.4,[J.2],22,M1,WC#3,None,NaN
4,J.5,[J.3],1,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],4,M1,WC#1,None,NaN
96,J.97,"[J.94, J.96]",4,M1,WC#2,None,NaN
97,J.98,[J.95],2,M1,WC#2,132,1.0
98,J.99,[],1,M1,WC#3,None,NaN
99,J.100,"[J.97, J.99]",3,M1,WC#3,135,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#3,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M1,WC#1,None,NaN
3,J.4,[J.3],2,M2,WC#3,None,NaN
4,J.5,[J.4],1,M2,WC#2,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M2,WC#1,None,NaN
96,J.97,[J.96],1,M2,WC#3,None,NaN
97,J.98,[J.97],1,M2,WC#2,None,NaN
98,J.99,[J.98],1,M2,WC#2,None,NaN
99,J.100,[J.99],1,M1,WC#1,25,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[J.1],1,M1,WC#2,None,NaN
2,J.3,[J.2],1,M2,WC#2,None,NaN
3,J.4,[J.3],1,M1,WC#1,None,NaN
4,J.5,[J.4],1,M2,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M2,WC#1,None,NaN
96,J.97,[J.96],1,M1,WC#1,None,NaN
97,J.98,[J.97],1,M2,WC#3,None,NaN
98,J.99,[J.98],1,M2,WC#1,None,NaN
99,J.100,[J.99],2,M2,WC#1,26,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[J.1],1,M2,WC#2,None,NaN
2,J.3,[],1,M1,WC#2,None,NaN
3,J.4,"[J.2, J.3]",16,M2,WC#3,None,NaN
4,J.5,[J.4],25,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],6,M1,WC#2,None,NaN
96,J.97,[J.95],21,M1,WC#1,None,NaN
97,J.98,[J.97],2,M2,WC#1,None,NaN
98,J.99,"[J.96, J.98]",1,M1,WC#3,None,NaN
99,J.100,[J.99],7,M2,WC#3,121,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M2,WC#1,None,NaN
1,J.2,[J.1],4,M2,WC#2,None,NaN
2,J.3,[J.2],1,M2,WC#1,None,NaN
3,J.4,[J.3],28,M1,WC#1,None,NaN
4,J.5,[J.4],10,M2,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M1,WC#2,None,NaN
96,J.97,[],1,M2,WC#1,None,NaN
97,J.98,[J.97],1,M2,WC#2,None,NaN
98,J.99,[J.98],9,M1,WC#1,None,NaN
99,J.100,"[J.96, J.99]",4,M2,WC#2,145,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M2,WC#2,None,NaN
1,J.2,[],1,M2,WC#1,None,NaN
2,J.3,[J.1],1,M1,WC#1,None,NaN
3,J.4,"[J.2, J.3]",1,M1,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,"[J.93, J.95]",1,M2,WC#3,None,NaN
96,J.97,[],1,M1,WC#3,None,NaN
97,J.98,[],1,M1,WC#2,26,1.0
98,J.99,[J.97],1,M1,WC#1,None,NaN
99,J.100,"[J.96, J.99]",1,M1,WC#2,24,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[J.1],1,M1,WC#2,None,NaN
2,J.3,[],1,M1,WC#1,None,NaN
3,J.4,"[J.2, J.3]",1,M2,WC#1,None,NaN
4,J.5,[],1,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.92],1,M1,WC#1,None,NaN
96,J.97,"[J.95, J.96]",1,M2,WC#2,None,NaN
97,J.98,"[J.94, J.97]",1,M2,WC#1,None,NaN
98,J.99,[],1,M1,WC#2,None,NaN
99,J.100,"[J.98, J.99]",1,M2,WC#1,24,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#2,None,NaN
1,J.2,[J.1],13,M1,WC#1,None,NaN
2,J.3,[J.2],2,M1,WC#3,None,NaN
3,J.4,[J.3],2,M1,WC#2,None,NaN
4,J.5,[],2,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],1,M2,WC#2,None,NaN
96,J.97,"[J.95, J.96]",9,M2,WC#2,None,NaN
97,J.98,[],5,M1,WC#1,None,NaN
98,J.99,"[J.97, J.98]",2,M1,WC#1,None,NaN
99,J.100,[J.99],2,M1,WC#1,152,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],6,M2,WC#3,None,NaN
1,J.2,[J.1],1,M2,WC#1,None,NaN
2,J.3,[],49,M2,WC#1,None,NaN
3,J.4,[],8,M1,WC#2,None,NaN
4,J.5,"[J.2, J.3, J.4]",1,M2,WC#2,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],2,M1,WC#1,None,NaN
96,J.97,"[J.95, J.96]",10,M2,WC#1,None,NaN
97,J.98,[],4,M2,WC#3,None,NaN
98,J.99,[],2,M2,WC#1,None,NaN
99,J.100,"[J.97, J.98, J.99]",1,M2,WC#1,139,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#3,None,NaN
1,J.2,[],1,M2,WC#2,None,NaN
2,J.3,[],1,M1,WC#3,None,NaN
3,J.4,[J.1],1,M1,WC#2,None,NaN
4,J.5,[J.2],1,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,"[J.92, J.93]",1,M1,WC#3,None,NaN
96,J.97,[J.94],1,M1,WC#3,None,NaN
97,J.98,[J.95],1,M2,WC#2,None,NaN
98,J.99,[J.96],1,M1,WC#2,23,1.0
99,J.100,"[J.97, J.98]",1,M2,WC#2,23,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],1,M2,WC#2,None,NaN
2,J.3,"[J.1, J.2]",1,M2,WC#2,None,NaN
3,J.4,[],1,M1,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],1,M2,WC#2,None,NaN
96,J.97,[J.95],1,M1,WC#1,None,NaN
97,J.98,[],2,M2,WC#1,23,1.0
98,J.99,[J.96],1,M2,WC#3,26,1.0
99,J.100,[J.97],1,M1,WC#2,23,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],7,M2,WC#1,None,NaN
1,J.2,[],10,M1,WC#1,None,NaN
2,J.3,[],7,M1,WC#2,None,NaN
3,J.4,[J.1],2,M2,WC#3,None,NaN
4,J.5,"[J.2, J.3]",1,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],8,M2,WC#1,None,NaN
96,J.97,[J.94],1,M1,WC#3,None,NaN
97,J.98,[J.96],1,M1,WC#2,151,1.0
98,J.99,[],3,M1,WC#3,148,1.0
99,J.100,[J.97],6,M1,WC#3,151,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],6,M2,WC#2,None,NaN
1,J.2,[],29,M2,WC#1,None,NaN
2,J.3,[],14,M1,WC#1,None,NaN
3,J.4,[J.1],1,M2,WC#2,None,NaN
4,J.5,"[J.2, J.3]",6,M2,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.93],6,M1,WC#2,None,NaN
96,J.97,"[J.95, J.96]",3,M1,WC#2,None,NaN
97,J.98,[],3,M2,WC#1,None,NaN
98,J.99,[J.97],1,M2,WC#2,113,1.0
99,J.100,[J.98],4,M1,WC#1,113,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M5,WC#1,None,NaN
1,J.2,[J.1],1,M3,WC#3,None,NaN
2,J.3,[J.2],1,M3,WC#3,None,NaN
3,J.4,[J.3],1,M5,WC#3,None,NaN
4,J.5,[],1,M2,WC#2,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M3,WC#3,None,NaN
96,J.97,[J.96],1,M2,WC#3,None,NaN
97,J.98,[J.97],1,M1,WC#1,None,NaN
98,J.99,[J.98],1,M4,WC#1,None,NaN
99,J.100,[J.99],1,M2,WC#1,22,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[J.1],1,M1,WC#3,None,NaN
2,J.3,[J.2],1,M1,WC#3,None,NaN
3,J.4,[],1,M1,WC#2,None,NaN
4,J.5,"[J.3, J.4]",1,M5,WC#2,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M3,WC#3,None,NaN
96,J.97,[J.96],1,M1,WC#3,None,NaN
97,J.98,[J.97],1,M3,WC#3,None,NaN
98,J.99,[J.98],1,M1,WC#2,None,NaN
99,J.100,[J.99],1,M1,WC#1,24,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M4,WC#3,None,NaN
1,J.2,[J.1],1,M1,WC#1,None,NaN
2,J.3,[],8,M4,WC#3,None,NaN
3,J.4,[J.3],14,M5,WC#1,None,NaN
4,J.5,"[J.2, J.4]",8,M3,WC#2,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],1,M1,WC#1,None,NaN
96,J.97,[],6,M5,WC#2,None,NaN
97,J.98,"[J.96, J.97]",12,M3,WC#2,None,NaN
98,J.99,[J.98],1,M5,WC#3,None,NaN
99,J.100,[J.99],5,M2,WC#1,147,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],51,M5,WC#2,None,NaN
1,J.2,[J.1],2,M5,WC#2,None,NaN
2,J.3,[J.2],1,M5,WC#2,None,NaN
3,J.4,[J.3],7,M3,WC#1,None,NaN
4,J.5,[J.4],6,M1,WC#2,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],3,M4,WC#3,None,NaN
96,J.97,[J.96],13,M1,WC#3,None,NaN
97,J.98,[J.97],7,M2,WC#1,None,NaN
98,J.99,[J.98],4,M4,WC#3,None,NaN
99,J.100,[J.99],6,M5,WC#1,138,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[J.1],1,M5,WC#2,None,NaN
2,J.3,[],2,M2,WC#2,None,NaN
3,J.4,[J.2],2,M5,WC#3,None,NaN
4,J.5,[],1,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],1,M2,WC#1,None,NaN
96,J.97,[J.95],1,M4,WC#3,None,NaN
97,J.98,[],1,M4,WC#2,None,NaN
98,J.99,"[J.96, J.97]",1,M3,WC#1,None,NaN
99,J.100,"[J.98, J.99]",1,M3,WC#3,27,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M4,WC#1,None,NaN
1,J.2,[J.1],1,M4,WC#2,None,NaN
2,J.3,[],2,M4,WC#2,None,NaN
3,J.4,"[J.2, J.3]",1,M4,WC#2,None,NaN
4,J.5,[J.4],1,M4,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],1,M4,WC#1,None,NaN
96,J.97,[J.95],1,M5,WC#3,None,NaN
97,J.98,[J.96],1,M4,WC#1,None,NaN
98,J.99,"[J.97, J.98]",1,M4,WC#3,None,NaN
99,J.100,[J.99],1,M3,WC#3,26,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],27,M5,WC#1,None,NaN
1,J.2,[J.1],2,M4,WC#2,None,NaN
2,J.3,[J.2],15,M4,WC#1,None,NaN
3,J.4,[J.3],4,M4,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],2,M5,WC#3,None,NaN
96,J.97,"[J.95, J.96]",1,M1,WC#1,None,NaN
97,J.98,[],3,M4,WC#2,None,NaN
98,J.99,[J.97],3,M2,WC#1,117,1.0
99,J.100,[J.98],2,M1,WC#2,117,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M4,WC#2,None,NaN
1,J.2,[J.1],1,M1,WC#1,None,NaN
2,J.3,[],2,M1,WC#1,None,NaN
3,J.4,[J.2],3,M1,WC#3,None,NaN
4,J.5,[J.3],23,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.95],3,M1,WC#2,None,NaN
96,J.97,[J.93],10,M1,WC#3,None,NaN
97,J.98,"[J.96, J.97]",81,M4,WC#1,None,NaN
98,J.99,[],14,M1,WC#2,None,NaN
99,J.100,"[J.98, J.99]",2,M1,WC#1,150,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M4,WC#1,None,NaN
1,J.2,[],1,M4,WC#3,None,NaN
2,J.3,[J.1],1,M1,WC#3,None,NaN
3,J.4,[J.2],1,M1,WC#1,None,NaN
4,J.5,[J.3],1,M2,WC#3,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[],1,M5,WC#1,None,NaN
96,J.97,[],1,M3,WC#3,None,NaN
97,J.98,[J.95],1,M1,WC#1,23,1.0
98,J.99,[J.96],1,M5,WC#3,22,1.0
99,J.100,[J.97],1,M1,WC#1,26,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M3,WC#3,None,NaN
1,J.2,[J.1],1,M3,WC#3,None,NaN
2,J.3,[],1,M3,WC#1,None,NaN
3,J.4,[J.2],1,M3,WC#3,None,NaN
4,J.5,[J.3],1,M2,WC#2,None,NaN
...,...,...,...,...,...,...,...
95,J.96,"[J.93, J.94, J.95]",1,M3,WC#1,None,NaN
96,J.97,[],1,M4,WC#2,None,NaN
97,J.98,[],2,M3,WC#2,None,NaN
98,J.99,[J.97],1,M1,WC#2,26,1.0
99,J.100,"[J.96, J.98]",1,M2,WC#3,23,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],23,M4,WC#2,None,NaN
1,J.2,[],1,M4,WC#1,None,NaN
2,J.3,[],1,M3,WC#3,None,NaN
3,J.4,"[J.1, J.2]",9,M2,WC#1,None,NaN
4,J.5,[],1,M3,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.94],2,M4,WC#3,None,NaN
96,J.97,[],1,M4,WC#3,None,NaN
97,J.98,"[J.95, J.96]",10,M5,WC#3,None,NaN
98,J.99,[J.98],2,M3,WC#1,139,1.0
99,J.100,[J.97],1,M3,WC#3,139,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],5,M4,WC#3,None,NaN
1,J.2,[],1,M4,WC#1,None,NaN
2,J.3,[],1,M4,WC#1,None,NaN
3,J.4,[J.1],4,M4,WC#3,None,NaN
4,J.5,"[J.2, J.3]",3,M1,WC#1,None,NaN
...,...,...,...,...,...,...,...
95,J.96,[J.94],6,M4,WC#3,None,NaN
96,J.97,[],1,M5,WC#2,None,NaN
97,J.98,[J.95],26,M4,WC#3,109,1.0
98,J.99,[J.96],3,M2,WC#1,None,NaN
99,J.100,"[J.97, J.99]",2,M5,WC#2,112,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[J.1],1,M1,WC#2,None,NaN
2,J.3,[J.2],1,M1,WC#3,None,NaN
3,J.4,[J.3],1,M1,WC#1,None,NaN
4,J.5,[J.4],1,M1,WC#2,None,NaN
5,J.6,[J.5],1,M1,WC#1,None,NaN
6,J.7,[J.6],1,M1,WC#3,None,NaN
7,J.8,[J.7],1,M1,WC#2,None,NaN
8,J.9,[J.8],1,M1,WC#2,None,NaN
9,J.10,[J.9],1,M1,WC#1,None,NaN
10,J.11,[],1,M1,WC#1,None,NaN
11,J.12,"[J.10, J.11]",2,M1,WC#3,None,NaN
12,J.13,[J.12],1,M1,WC#3,None,NaN
13,J.14,[J.13],1,M1,WC#1,None,NaN
14,J.15,[J.14],1,M1,WC#1,None,NaN
15,J.16,[J.15],1,M1,WC#3,None,NaN
16,J.17,[J.16],1,M1,WC#2,None,NaN
17,J.18,[J.17],1,M1,WC#2,None,NaN
18,J.19,[J.18],1,M1,WC#1,None,NaN
19,J.20,[J.19],1,M1,WC#1,None,NaN
20,J.21,[],1,M1,WC#2,None,NaN
21,J.22,"[J.20, J.21]",1,M1,WC#1,None,NaN
22,J.23,[J.22],1,M1,WC#3,None,NaN
23,J.24,[J.23],1,M1,WC#2,None,NaN
24,J.25,[J.24],1,M1,WC#1,None,NaN
25,J.26,[J.25],1,M1,WC#1,None,NaN
26,J.27,[J.26],2,M1,WC#1,None,NaN
27,J.28,[J.27],1,M1,WC#2,None,NaN
28,J.29,[J.28],1,M1,WC#1,None,NaN
29,J.30,[J.29],1,M1,WC#2,None,NaN
30,J.31,[J.30],2,M1,WC#3,None,NaN
31,J.32,[J.31],1,M1,WC#1,None,NaN
32,J.33,[J.32],1,M1,WC#1,None,NaN
33,J.34,[J.33],1,M1,WC#3,None,NaN
34,J.35,[J.34],1,M1,WC#2,None,NaN
35,J.36,[J.35],1,M1,WC#3,None,NaN
36,J.37,[J.36],1,M1,WC#1,None,NaN
37,J.38,[J.37],1,M1,WC#3,None,NaN
38,J.39,[J.38],1,M1,WC#1,None,NaN
39,J.40,[J.39],1,M1,WC#2,None,NaN
40,J.41,[J.40],1,M1,WC#1,None,NaN
41,J.42,[J.41],1,M1,WC#2,None,NaN
42,J.43,[J.42],2,M1,WC#1,None,NaN
43,J.44,[J.43],1,M1,WC#3,None,NaN
44,J.45,[J.44],1,M1,WC#1,None,NaN
45,J.46,[J.45],1,M1,WC#1,None,NaN
46,J.47,[J.46],1,M1,WC#1,None,NaN
47,J.48,[J.47],1,M1,WC#3,None,NaN
48,J.49,[J.48],1,M1,WC#2,None,NaN
49,J.50,[J.49],1,M1,WC#1,15,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#1,None,NaN
1,J.2,[J.1],7,M1,WC#2,None,NaN
2,J.3,[J.2],1,M1,WC#2,None,NaN
3,J.4,[J.3],1,M1,WC#1,None,NaN
4,J.5,[],1,M1,WC#2,None,NaN
5,J.6,"[J.4, J.5]",2,M1,WC#3,None,NaN
6,J.7,[J.6],1,M1,WC#2,None,NaN
7,J.8,[J.7],2,M1,WC#2,None,NaN
8,J.9,[J.8],3,M1,WC#2,None,NaN
9,J.10,[J.9],10,M1,WC#3,None,NaN
10,J.11,[J.10],1,M1,WC#3,None,NaN
11,J.12,[J.11],2,M1,WC#3,None,NaN
12,J.13,[J.12],1,M1,WC#2,None,NaN
13,J.14,[J.13],1,M1,WC#3,None,NaN
14,J.15,[J.14],5,M1,WC#1,None,NaN
15,J.16,[J.15],1,M1,WC#1,None,NaN
16,J.17,[J.16],1,M1,WC#3,None,NaN
17,J.18,[J.17],2,M1,WC#3,None,NaN
18,J.19,[],1,M1,WC#2,None,NaN
19,J.20,"[J.18, J.19]",9,M1,WC#2,None,NaN
20,J.21,[J.20],3,M1,WC#2,None,NaN
21,J.22,[J.21],11,M1,WC#3,None,NaN
22,J.23,[J.22],1,M1,WC#3,None,NaN
23,J.24,[J.23],5,M1,WC#3,None,NaN
24,J.25,[],1,M1,WC#2,None,NaN
25,J.26,[J.24],1,M1,WC#3,None,NaN
26,J.27,[J.26],3,M1,WC#2,None,NaN
27,J.28,"[J.25, J.27]",2,M1,WC#2,None,NaN
28,J.29,[J.28],1,M1,WC#1,None,NaN
29,J.30,[J.29],5,M1,WC#1,None,NaN
30,J.31,[J.30],1,M1,WC#1,None,NaN
31,J.32,[J.31],1,M1,WC#1,None,NaN
32,J.33,[J.32],1,M1,WC#1,None,NaN
33,J.34,[J.33],1,M1,WC#1,None,NaN
34,J.35,[J.34],1,M1,WC#2,None,NaN
35,J.36,[],1,M1,WC#1,None,NaN
36,J.37,"[J.35, J.36]",5,M1,WC#1,None,NaN
37,J.38,[],1,M1,WC#1,None,NaN
38,J.39,"[J.37, J.38]",6,M1,WC#2,None,NaN
39,J.40,[J.39],1,M1,WC#1,None,NaN
40,J.41,[J.40],6,M1,WC#1,None,NaN
41,J.42,[J.41],2,M1,WC#3,None,NaN
42,J.43,[J.42],9,M1,WC#1,None,NaN
43,J.44,[],1,M1,WC#3,None,NaN
44,J.45,"[J.43, J.44]",2,M1,WC#2,None,NaN
45,J.46,[J.45],3,M1,WC#2,None,NaN
46,J.47,[J.46],1,M1,WC#1,None,NaN
47,J.48,[J.47],1,M1,WC#2,None,NaN
48,J.49,[J.48],4,M1,WC#2,None,NaN
49,J.50,[J.49],7,M1,WC#3,31,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M1,WC#3,None,NaN
3,J.4,[J.3],1,M1,WC#1,None,NaN
4,J.5,[],1,M1,WC#3,None,NaN
5,J.6,[],1,M1,WC#2,None,NaN
6,J.7,[J.6],1,M1,WC#1,None,NaN
7,J.8,"[J.4, J.5]",3,M1,WC#3,None,NaN
8,J.9,[J.8],2,M1,WC#1,None,NaN
9,J.10,"[J.7, J.9]",1,M1,WC#2,None,NaN
10,J.11,[J.10],1,M1,WC#2,None,NaN
11,J.12,[],1,M1,WC#1,None,NaN
12,J.13,[J.11],1,M1,WC#3,None,NaN
13,J.14,"[J.12, J.13]",1,M1,WC#1,None,NaN
14,J.15,[],1,M1,WC#3,None,NaN
15,J.16,"[J.14, J.15]",1,M1,WC#3,None,NaN
16,J.17,[],1,M1,WC#2,None,NaN
17,J.18,[J.16],1,M1,WC#3,None,NaN
18,J.19,[J.17],1,M1,WC#1,None,NaN
19,J.20,[J.19],1,M1,WC#2,None,NaN
20,J.21,"[J.18, J.20]",1,M1,WC#2,None,NaN
21,J.22,[],1,M1,WC#1,None,NaN
22,J.23,"[J.21, J.22]",1,M1,WC#2,None,NaN
23,J.24,[J.23],1,M1,WC#2,None,NaN
24,J.25,[J.24],2,M1,WC#3,None,NaN
25,J.26,[],1,M1,WC#3,None,NaN
26,J.27,[J.26],1,M1,WC#1,None,NaN
27,J.28,"[J.25, J.27]",1,M1,WC#3,None,NaN
28,J.29,[J.28],1,M1,WC#2,None,NaN
29,J.30,[J.29],1,M1,WC#3,None,NaN
30,J.31,[J.30],1,M1,WC#2,None,NaN
31,J.32,[J.31],1,M1,WC#1,None,NaN
32,J.33,[],1,M1,WC#2,None,NaN
33,J.34,[J.32],1,M1,WC#2,None,NaN
34,J.35,"[J.33, J.34]",1,M1,WC#1,None,NaN
35,J.36,[],2,M1,WC#1,None,NaN
36,J.37,[],1,M1,WC#2,None,NaN
37,J.38,[J.35],1,M1,WC#3,None,NaN
38,J.39,[J.38],1,M1,WC#2,None,NaN
39,J.40,"[J.36, J.39]",1,M1,WC#2,None,NaN
40,J.41,[J.37],1,M1,WC#1,None,NaN
41,J.42,[J.41],1,M1,WC#3,None,NaN
42,J.43,[J.40],1,M1,WC#1,None,NaN
43,J.44,[J.42],1,M1,WC#3,None,NaN
44,J.45,[J.43],1,M1,WC#1,None,NaN
45,J.46,[J.44],1,M1,WC#2,None,NaN
46,J.47,"[J.45, J.46]",1,M1,WC#1,None,NaN
47,J.48,[],1,M1,WC#2,None,NaN
48,J.49,[],1,M1,WC#2,None,NaN
49,J.50,"[J.47, J.48, J.49]",2,M1,WC#2,14,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],4,M1,WC#2,None,NaN
1,J.2,[J.1],2,M1,WC#3,None,NaN
2,J.3,[J.2],16,M1,WC#2,None,NaN
3,J.4,[],4,M1,WC#2,None,NaN
4,J.5,[],2,M1,WC#2,None,NaN
5,J.6,"[J.3, J.4, J.5]",3,M1,WC#1,None,NaN
6,J.7,[],8,M1,WC#3,None,NaN
7,J.8,"[J.6, J.7]",1,M1,WC#2,None,NaN
8,J.9,[],22,M1,WC#3,None,NaN
9,J.10,[J.8],2,M1,WC#3,None,NaN
10,J.11,[],1,M1,WC#2,None,NaN
11,J.12,[J.9],7,M1,WC#1,None,NaN
12,J.13,[J.10],5,M1,WC#2,None,NaN
13,J.14,"[J.11, J.12, J.13]",3,M1,WC#3,None,NaN
14,J.15,[],14,M1,WC#1,None,NaN
15,J.16,[J.14],2,M1,WC#2,None,NaN
16,J.17,[],7,M1,WC#3,None,NaN
17,J.18,[J.16],2,M1,WC#3,None,NaN
18,J.19,"[J.15, J.18]",13,M1,WC#3,None,NaN
19,J.20,"[J.17, J.19]",16,M1,WC#3,None,NaN
20,J.21,[J.20],6,M1,WC#3,None,NaN
21,J.22,[J.21],8,M1,WC#3,None,NaN
22,J.23,[],4,M1,WC#1,None,NaN
23,J.24,[],5,M1,WC#1,None,NaN
24,J.25,[J.22],4,M1,WC#1,None,NaN
25,J.26,[J.24],1,M1,WC#2,None,NaN
26,J.27,"[J.23, J.25, J.26]",2,M1,WC#1,None,NaN
27,J.28,[],1,M1,WC#3,None,NaN
28,J.29,"[J.27, J.28]",6,M1,WC#2,None,NaN
29,J.30,[],5,M1,WC#3,None,NaN
30,J.31,[],1,M1,WC#1,None,NaN
31,J.32,"[J.29, J.30, J.31]",8,M1,WC#3,None,NaN
32,J.33,[J.32],3,M1,WC#1,None,NaN
33,J.34,[],2,M1,WC#3,None,NaN
34,J.35,[J.33],1,M1,WC#3,None,NaN
35,J.36,[J.34],2,M1,WC#3,None,NaN
36,J.37,[J.35],3,M1,WC#2,None,NaN
37,J.38,[J.36],7,M1,WC#1,None,NaN
38,J.39,[],2,M1,WC#1,None,NaN
39,J.40,"[J.38, J.39]",3,M1,WC#2,None,NaN
40,J.41,[J.37],3,M1,WC#3,None,NaN
41,J.42,[J.40],10,M1,WC#2,None,NaN
42,J.43,[J.41],2,M1,WC#3,None,NaN
43,J.44,[J.42],1,M1,WC#1,None,NaN
44,J.45,[J.43],2,M1,WC#3,None,NaN
45,J.46,[],2,M1,WC#1,None,NaN
46,J.47,[J.46],5,M1,WC#2,None,NaN
47,J.48,"[J.44, J.45, J.47]",3,M1,WC#3,None,NaN
48,J.49,[],2,M1,WC#3,None,NaN
49,J.50,"[J.48, J.49]",15,M1,WC#3,52,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M1,WC#2,None,NaN
3,J.4,[],1,M1,WC#1,None,NaN
4,J.5,"[J.3, J.4]",1,M1,WC#2,None,NaN
5,J.6,[],1,M1,WC#3,None,NaN
6,J.7,[J.5],1,M1,WC#1,None,NaN
7,J.8,[J.6],1,M1,WC#1,None,NaN
8,J.9,[J.7],1,M1,WC#1,None,NaN
9,J.10,[J.8],1,M1,WC#3,None,NaN
10,J.11,[],1,M1,WC#3,None,NaN
11,J.12,"[J.9, J.10]",1,M1,WC#1,None,NaN
12,J.13,[J.11],1,M1,WC#2,None,NaN
13,J.14,[],1,M1,WC#3,None,NaN
14,J.15,"[J.12, J.14]",1,M1,WC#3,None,NaN
15,J.16,[J.13],1,M1,WC#3,None,NaN
16,J.17,[J.15],1,M1,WC#3,None,NaN
17,J.18,[],1,M1,WC#3,None,NaN
18,J.19,"[J.16, J.17]",1,M1,WC#1,None,NaN
19,J.20,[J.18],1,M1,WC#1,None,NaN
20,J.21,[],1,M1,WC#3,None,NaN
21,J.22,"[J.19, J.20]",1,M1,WC#1,None,NaN
22,J.23,[J.21],1,M1,WC#1,None,NaN
23,J.24,[J.22],1,M1,WC#3,None,NaN
24,J.25,[J.24],1,M1,WC#1,None,NaN
25,J.26,[J.23],1,M1,WC#3,None,NaN
26,J.27,[J.25],1,M1,WC#3,None,NaN
27,J.28,[J.26],1,M1,WC#3,None,NaN
28,J.29,[J.27],1,M1,WC#3,None,NaN
29,J.30,[J.28],1,M1,WC#1,None,NaN
30,J.31,[],1,M1,WC#1,None,NaN
31,J.32,[J.29],1,M1,WC#3,None,NaN
32,J.33,"[J.30, J.31]",1,M1,WC#2,None,NaN
33,J.34,[J.32],1,M1,WC#1,None,NaN
34,J.35,[J.34],1,M1,WC#2,None,NaN
35,J.36,[J.33],1,M1,WC#3,None,NaN
36,J.37,[J.35],1,M1,WC#3,None,NaN
37,J.38,[],1,M1,WC#3,None,NaN
38,J.39,"[J.36, J.37]",1,M1,WC#3,None,NaN
39,J.40,[],1,M1,WC#2,None,NaN
40,J.41,"[J.38, J.39]",1,M1,WC#2,None,NaN
41,J.42,[J.40],1,M1,WC#1,None,NaN
42,J.43,[J.41],1,M1,WC#2,None,NaN
43,J.44,[],1,M1,WC#1,None,NaN
44,J.45,[J.42],1,M1,WC#3,None,NaN
45,J.46,"[J.43, J.44]",1,M1,WC#1,None,NaN
46,J.47,"[J.45, J.46]",1,M1,WC#2,None,NaN
47,J.48,[],1,M1,WC#1,13,1.0
48,J.49,[],1,M1,WC#3,13,1.0
49,J.50,[J.47],1,M1,WC#1,14,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],44,M1,WC#1,None,NaN
1,J.2,[],11,M1,WC#3,None,NaN
2,J.3,[J.1],4,M1,WC#3,None,NaN
3,J.4,[],1,M1,WC#3,None,NaN
4,J.5,[J.2],6,M1,WC#1,None,NaN
5,J.6,"[J.3, J.4]",1,M1,WC#1,None,NaN
6,J.7,[],3,M1,WC#3,None,NaN
7,J.8,[J.5],12,M1,WC#3,None,NaN
8,J.9,"[J.6, J.7]",12,M1,WC#3,None,NaN
9,J.10,[],8,M1,WC#1,None,NaN
10,J.11,[J.8],1,M1,WC#3,None,NaN
11,J.12,"[J.9, J.10]",1,M1,WC#2,None,NaN
12,J.13,[],13,M1,WC#1,None,NaN
13,J.14,[J.11],1,M1,WC#3,None,NaN
14,J.15,"[J.12, J.13, J.14]",3,M1,WC#1,None,NaN
15,J.16,[],24,M1,WC#1,None,NaN
16,J.17,[J.15],2,M1,WC#2,None,NaN
17,J.18,[J.16],4,M1,WC#2,None,NaN
18,J.19,[J.17],3,M1,WC#1,None,NaN
19,J.20,[],1,M1,WC#3,None,NaN
20,J.21,[J.18],3,M1,WC#1,None,NaN
21,J.22,[J.19],4,M1,WC#1,None,NaN
22,J.23,"[J.20, J.21]",2,M1,WC#2,None,NaN
23,J.24,[J.22],5,M1,WC#3,None,NaN
24,J.25,[J.23],3,M1,WC#3,None,NaN
25,J.26,[J.24],2,M1,WC#1,None,NaN
26,J.27,[J.25],4,M1,WC#2,None,NaN
27,J.28,[J.26],2,M1,WC#1,None,NaN
28,J.29,[J.27],8,M1,WC#1,None,NaN
29,J.30,[J.28],3,M1,WC#3,None,NaN
30,J.31,[],7,M1,WC#3,None,NaN
31,J.32,[J.29],1,M1,WC#3,None,NaN
32,J.33,[J.30],5,M1,WC#1,None,NaN
33,J.34,"[J.31, J.32]",10,M1,WC#3,None,NaN
34,J.35,[J.33],8,M1,WC#1,None,NaN
35,J.36,[],19,M1,WC#1,None,NaN
36,J.37,[J.34],2,M1,WC#1,None,NaN
37,J.38,"[J.35, J.36]",4,M1,WC#1,None,NaN
38,J.39,[J.37],19,M1,WC#3,None,NaN
39,J.40,[J.38],1,M1,WC#2,None,NaN
40,J.41,[J.39],1,M1,WC#1,None,NaN
41,J.42,[J.40],16,M1,WC#3,None,NaN
42,J.43,[J.42],6,M1,WC#2,None,NaN
43,J.44,[J.41],1,M1,WC#3,None,NaN
44,J.45,[],1,M1,WC#1,None,NaN
45,J.46,"[J.43, J.44]",4,M1,WC#3,None,NaN
46,J.47,[J.45],3,M1,WC#2,None,NaN
47,J.48,[J.46],30,M1,WC#2,None,NaN
48,J.49,[],29,M1,WC#3,78,1.0
49,J.50,"[J.47, J.48]",10,M1,WC#1,74,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[],1,M2,WC#3,None,NaN
2,J.3,"[J.1, J.2]",2,M2,WC#2,None,NaN
3,J.4,[J.3],1,M1,WC#2,None,NaN
4,J.5,[J.4],1,M1,WC#2,None,NaN
5,J.6,[J.5],1,M2,WC#1,None,NaN
6,J.7,[J.6],2,M1,WC#2,None,NaN
7,J.8,[],1,M1,WC#2,None,NaN
8,J.9,"[J.7, J.8]",1,M2,WC#3,None,NaN
9,J.10,[J.9],1,M1,WC#1,None,NaN
10,J.11,[J.10],1,M1,WC#1,None,NaN
11,J.12,[J.11],1,M2,WC#3,None,NaN
12,J.13,[J.12],1,M2,WC#1,None,NaN
13,J.14,[],1,M2,WC#3,None,NaN
14,J.15,[J.14],1,M2,WC#2,None,NaN
15,J.16,[J.15],1,M1,WC#2,None,NaN
16,J.17,"[J.13, J.16]",1,M2,WC#3,None,NaN
17,J.18,[J.17],1,M2,WC#3,None,NaN
18,J.19,[J.18],1,M1,WC#2,None,NaN
19,J.20,[J.19],1,M2,WC#3,None,NaN
20,J.21,[J.20],1,M1,WC#2,None,NaN
21,J.22,[J.21],1,M1,WC#3,None,NaN
22,J.23,[J.22],1,M1,WC#2,None,NaN
23,J.24,[J.23],1,M2,WC#3,None,NaN
24,J.25,[J.24],1,M1,WC#3,None,NaN
25,J.26,[J.25],1,M2,WC#1,None,NaN
26,J.27,[J.26],1,M1,WC#3,None,NaN
27,J.28,[J.27],1,M2,WC#2,None,NaN
28,J.29,[J.28],1,M2,WC#2,None,NaN
29,J.30,[J.29],1,M1,WC#3,None,NaN
30,J.31,[J.30],1,M1,WC#3,None,NaN
31,J.32,[J.31],1,M2,WC#1,None,NaN
32,J.33,[J.32],1,M1,WC#2,None,NaN
33,J.34,[J.33],2,M2,WC#1,None,NaN
34,J.35,[J.34],1,M2,WC#1,None,NaN
35,J.36,[J.35],1,M2,WC#3,None,NaN
36,J.37,[J.36],2,M2,WC#1,None,NaN
37,J.38,[],1,M1,WC#3,None,NaN
38,J.39,"[J.37, J.38]",1,M1,WC#3,None,NaN
39,J.40,[J.39],1,M1,WC#1,None,NaN
40,J.41,[J.40],1,M2,WC#2,None,NaN
41,J.42,[J.41],1,M2,WC#3,None,NaN
42,J.43,[J.42],1,M1,WC#3,None,NaN
43,J.44,[J.43],1,M2,WC#2,None,NaN
44,J.45,[J.44],1,M1,WC#3,None,NaN
45,J.46,[J.45],1,M1,WC#2,None,NaN
46,J.47,[J.46],1,M1,WC#3,None,NaN
47,J.48,[J.47],1,M2,WC#3,None,NaN
48,J.49,[J.48],1,M2,WC#3,None,NaN
49,J.50,[J.49],1,M2,WC#3,14,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[J.1],2,M2,WC#1,None,NaN
2,J.3,[J.2],1,M2,WC#2,None,NaN
3,J.4,[J.3],1,M2,WC#1,None,NaN
4,J.5,[J.4],1,M2,WC#3,None,NaN
5,J.6,[J.5],1,M2,WC#2,None,NaN
6,J.7,[],1,M2,WC#1,None,NaN
7,J.8,"[J.6, J.7]",1,M1,WC#2,None,NaN
8,J.9,[J.8],1,M2,WC#1,None,NaN
9,J.10,[J.9],1,M1,WC#1,None,NaN
10,J.11,[J.10],1,M2,WC#1,None,NaN
11,J.12,[J.11],1,M2,WC#1,None,NaN
12,J.13,[J.12],1,M2,WC#3,None,NaN
13,J.14,[J.13],1,M2,WC#1,None,NaN
14,J.15,[J.14],1,M2,WC#2,None,NaN
15,J.16,[J.15],1,M2,WC#1,None,NaN
16,J.17,[J.16],1,M1,WC#3,None,NaN
17,J.18,[J.17],1,M2,WC#3,None,NaN
18,J.19,[J.18],1,M2,WC#3,None,NaN
19,J.20,[J.19],1,M2,WC#1,None,NaN
20,J.21,[J.20],1,M2,WC#2,None,NaN
21,J.22,[],1,M2,WC#2,None,NaN
22,J.23,"[J.21, J.22]",1,M2,WC#2,None,NaN
23,J.24,[J.23],1,M2,WC#1,None,NaN
24,J.25,[J.24],1,M2,WC#3,None,NaN
25,J.26,[J.25],1,M2,WC#1,None,NaN
26,J.27,[J.26],1,M2,WC#3,None,NaN
27,J.28,[J.27],1,M2,WC#3,None,NaN
28,J.29,[J.28],1,M1,WC#2,None,NaN
29,J.30,[J.29],1,M1,WC#3,None,NaN
30,J.31,[J.30],1,M2,WC#3,None,NaN
31,J.32,[J.31],1,M2,WC#2,None,NaN
32,J.33,[J.32],1,M2,WC#3,None,NaN
33,J.34,[J.33],1,M2,WC#3,None,NaN
34,J.35,[J.34],1,M2,WC#1,None,NaN
35,J.36,[J.35],1,M1,WC#2,None,NaN
36,J.37,[],1,M2,WC#3,None,NaN
37,J.38,"[J.36, J.37]",1,M2,WC#1,None,NaN
38,J.39,[J.38],1,M1,WC#3,None,NaN
39,J.40,[],1,M2,WC#2,None,NaN
40,J.41,"[J.39, J.40]",1,M2,WC#1,None,NaN
41,J.42,[J.41],1,M2,WC#2,None,NaN
42,J.43,[J.42],1,M2,WC#3,None,NaN
43,J.44,[J.43],1,M2,WC#2,None,NaN
44,J.45,[J.44],1,M2,WC#3,None,NaN
45,J.46,[J.45],2,M1,WC#1,None,NaN
46,J.47,[J.46],3,M2,WC#1,None,NaN
47,J.48,[],1,M2,WC#3,None,NaN
48,J.49,"[J.47, J.48]",1,M2,WC#3,None,NaN
49,J.50,[J.49],1,M1,WC#2,12,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],4,M1,WC#3,None,NaN
1,J.2,[J.1],2,M2,WC#1,None,NaN
2,J.3,[J.2],3,M2,WC#1,None,NaN
3,J.4,[J.3],1,M1,WC#2,None,NaN
4,J.5,[J.4],31,M1,WC#1,None,NaN
5,J.6,[J.5],1,M2,WC#3,None,NaN
6,J.7,[J.6],8,M1,WC#1,None,NaN
7,J.8,[J.7],2,M1,WC#3,None,NaN
8,J.9,[J.8],2,M2,WC#1,None,NaN
9,J.10,[J.9],1,M1,WC#3,None,NaN
10,J.11,[J.10],1,M2,WC#3,None,NaN
11,J.12,[J.11],49,M2,WC#2,None,NaN
12,J.13,[J.12],32,M2,WC#1,None,NaN
13,J.14,[],12,M1,WC#2,None,NaN
14,J.15,"[J.13, J.14]",4,M2,WC#2,None,NaN
15,J.16,[J.15],25,M1,WC#1,None,NaN
16,J.17,[J.16],3,M1,WC#2,None,NaN
17,J.18,[J.17],15,M1,WC#2,None,NaN
18,J.19,[J.18],4,M2,WC#2,None,NaN
19,J.20,[J.19],4,M1,WC#3,None,NaN
20,J.21,[J.20],1,M1,WC#3,None,NaN
21,J.22,[J.21],13,M1,WC#3,None,NaN
22,J.23,[J.22],1,M2,WC#3,None,NaN
23,J.24,[J.23],2,M2,WC#1,None,NaN
24,J.25,[J.24],2,M1,WC#1,None,NaN
25,J.26,[J.25],3,M2,WC#3,None,NaN
26,J.27,[J.26],3,M1,WC#1,None,NaN
27,J.28,[],1,M1,WC#3,None,NaN
28,J.29,"[J.27, J.28]",1,M2,WC#2,None,NaN
29,J.30,[J.29],4,M1,WC#2,None,NaN
30,J.31,[],2,M1,WC#3,None,NaN
31,J.32,"[J.30, J.31]",3,M1,WC#2,None,NaN
32,J.33,[J.32],3,M1,WC#3,None,NaN
33,J.34,[J.33],2,M2,WC#1,None,NaN
34,J.35,[J.34],1,M2,WC#3,None,NaN
35,J.36,[J.35],3,M2,WC#3,None,NaN
36,J.37,[J.36],3,M2,WC#1,None,NaN
37,J.38,[J.37],8,M2,WC#2,None,NaN
38,J.39,[J.38],1,M1,WC#3,None,NaN
39,J.40,[J.39],3,M1,WC#3,None,NaN
40,J.41,[],9,M2,WC#3,None,NaN
41,J.42,"[J.40, J.41]",1,M1,WC#1,None,NaN
42,J.43,[J.42],1,M2,WC#3,None,NaN
43,J.44,[],1,M1,WC#2,None,NaN
44,J.45,[J.43],2,M2,WC#3,None,NaN
45,J.46,"[J.44, J.45]",2,M2,WC#3,None,NaN
46,J.47,[J.46],3,M2,WC#1,None,NaN
47,J.48,[J.47],42,M1,WC#2,None,NaN
48,J.49,[J.48],3,M2,WC#1,None,NaN
49,J.50,[J.49],4,M2,WC#3,68,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[J.1],2,M2,WC#1,None,NaN
2,J.3,[J.2],2,M2,WC#2,None,NaN
3,J.4,[J.3],4,M2,WC#2,None,NaN
4,J.5,[J.4],6,M2,WC#2,None,NaN
5,J.6,[],1,M2,WC#1,None,NaN
6,J.7,"[J.5, J.6]",2,M2,WC#3,None,NaN
7,J.8,[J.7],1,M2,WC#1,None,NaN
8,J.9,[J.8],1,M1,WC#3,None,NaN
9,J.10,[J.9],3,M2,WC#2,None,NaN
10,J.11,[J.10],1,M2,WC#1,None,NaN
11,J.12,[J.11],8,M1,WC#2,None,NaN
12,J.13,[J.12],1,M1,WC#2,None,NaN
13,J.14,[J.13],1,M2,WC#2,None,NaN
14,J.15,[J.14],20,M2,WC#2,None,NaN
15,J.16,[J.15],8,M2,WC#3,None,NaN
16,J.17,[J.16],1,M2,WC#1,None,NaN
17,J.18,[J.17],1,M2,WC#2,None,NaN
18,J.19,[J.18],1,M2,WC#3,None,NaN
19,J.20,[J.19],1,M1,WC#1,None,NaN
20,J.21,[J.20],24,M2,WC#3,None,NaN
21,J.22,[],1,M2,WC#2,None,NaN
22,J.23,"[J.21, J.22]",20,M2,WC#2,None,NaN
23,J.24,[J.23],1,M1,WC#2,None,NaN
24,J.25,[J.24],14,M2,WC#1,None,NaN
25,J.26,[J.25],3,M2,WC#1,None,NaN
26,J.27,[J.26],3,M2,WC#2,None,NaN
27,J.28,[J.27],2,M2,WC#3,None,NaN
28,J.29,[J.28],1,M2,WC#3,None,NaN
29,J.30,[J.29],5,M1,WC#3,None,NaN
30,J.31,[J.30],2,M2,WC#3,None,NaN
31,J.32,[J.31],3,M2,WC#2,None,NaN
32,J.33,[J.32],9,M2,WC#2,None,NaN
33,J.34,[J.33],1,M2,WC#3,None,NaN
34,J.35,[J.34],1,M1,WC#1,None,NaN
35,J.36,[J.35],7,M2,WC#2,None,NaN
36,J.37,[J.36],1,M1,WC#1,None,NaN
37,J.38,[J.37],1,M2,WC#3,None,NaN
38,J.39,[J.38],7,M2,WC#2,None,NaN
39,J.40,[J.39],1,M2,WC#1,None,NaN
40,J.41,[J.40],1,M2,WC#2,None,NaN
41,J.42,[J.41],10,M2,WC#2,None,NaN
42,J.43,[],1,M2,WC#1,None,NaN
43,J.44,"[J.42, J.43]",1,M1,WC#2,None,NaN
44,J.45,[J.44],1,M1,WC#2,None,NaN
45,J.46,[J.45],2,M1,WC#1,None,NaN
46,J.47,[J.46],4,M2,WC#2,None,NaN
47,J.48,[J.47],19,M1,WC#3,None,NaN
48,J.49,[J.48],2,M2,WC#3,None,NaN
49,J.50,[J.49],2,M1,WC#2,45,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[J.1],1,M2,WC#1,None,NaN
2,J.3,[J.2],1,M2,WC#3,None,NaN
3,J.4,[],1,M2,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#1,None,NaN
5,J.6,"[J.3, J.5]",1,M1,WC#3,None,NaN
6,J.7,[J.6],1,M2,WC#3,None,NaN
7,J.8,[],2,M1,WC#3,None,NaN
8,J.9,"[J.7, J.8]",1,M2,WC#2,None,NaN
9,J.10,[J.9],1,M1,WC#2,None,NaN
10,J.11,[J.10],1,M2,WC#2,None,NaN
11,J.12,[],1,M1,WC#2,None,NaN
12,J.13,[J.12],1,M2,WC#3,None,NaN
13,J.14,[J.11],1,M1,WC#2,None,NaN
14,J.15,[J.13],1,M2,WC#3,None,NaN
15,J.16,[J.14],1,M2,WC#2,None,NaN
16,J.17,"[J.15, J.16]",1,M1,WC#3,None,NaN
17,J.18,[],1,M1,WC#2,None,NaN
18,J.19,[J.18],1,M2,WC#2,None,NaN
19,J.20,"[J.17, J.19]",1,M1,WC#1,None,NaN
20,J.21,[],1,M2,WC#2,None,NaN
21,J.22,"[J.20, J.21]",1,M1,WC#2,None,NaN
22,J.23,[],2,M1,WC#1,None,NaN
23,J.24,[J.23],1,M1,WC#2,None,NaN
24,J.25,[J.22],1,M1,WC#3,None,NaN
25,J.26,"[J.24, J.25]",1,M1,WC#1,None,NaN
26,J.27,[],1,M2,WC#2,None,NaN
27,J.28,[J.27],2,M1,WC#3,None,NaN
28,J.29,[J.26],1,M2,WC#2,None,NaN
29,J.30,[J.28],1,M1,WC#2,None,NaN
30,J.31,"[J.29, J.30]",1,M2,WC#3,None,NaN
31,J.32,[],1,M2,WC#2,None,NaN
32,J.33,"[J.31, J.32]",1,M2,WC#2,None,NaN
33,J.34,[J.33],1,M2,WC#2,None,NaN
34,J.35,[J.34],1,M2,WC#1,None,NaN
35,J.36,[],1,M1,WC#1,None,NaN
36,J.37,[J.35],1,M2,WC#3,None,NaN
37,J.38,[J.37],1,M1,WC#3,None,NaN
38,J.39,"[J.36, J.38]",1,M1,WC#2,None,NaN
39,J.40,[],1,M2,WC#3,None,NaN
40,J.41,[J.39],1,M1,WC#1,None,NaN
41,J.42,[J.41],1,M2,WC#2,None,NaN
42,J.43,[J.40],1,M2,WC#3,None,NaN
43,J.44,[J.42],1,M2,WC#2,None,NaN
44,J.45,"[J.43, J.44]",1,M2,WC#1,None,NaN
45,J.46,[J.45],1,M1,WC#3,None,NaN
46,J.47,[],2,M1,WC#1,None,NaN
47,J.48,[J.46],1,M1,WC#3,None,NaN
48,J.49,"[J.47, J.48]",1,M1,WC#3,None,NaN
49,J.50,[J.49],1,M2,WC#2,15,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[J.1],1,M1,WC#3,None,NaN
2,J.3,[],1,M1,WC#1,None,NaN
3,J.4,[],1,M1,WC#2,None,NaN
4,J.5,"[J.2, J.3, J.4]",1,M1,WC#2,None,NaN
5,J.6,[],1,M1,WC#2,None,NaN
6,J.7,[J.5],1,M1,WC#2,None,NaN
7,J.8,[J.6],1,M1,WC#1,None,NaN
8,J.9,[J.7],1,M1,WC#2,None,NaN
9,J.10,[J.9],1,M2,WC#2,None,NaN
10,J.11,[J.8],1,M1,WC#2,None,NaN
11,J.12,"[J.10, J.11]",2,M1,WC#3,None,NaN
12,J.13,[],1,M1,WC#1,None,NaN
13,J.14,[],1,M2,WC#2,None,NaN
14,J.15,[J.12],1,M1,WC#1,None,NaN
15,J.16,[J.15],1,M2,WC#3,None,NaN
16,J.17,"[J.13, J.14]",1,M1,WC#1,None,NaN
17,J.18,[J.16],2,M1,WC#1,None,NaN
18,J.19,[J.17],1,M1,WC#3,None,NaN
19,J.20,[J.18],1,M2,WC#1,None,NaN
20,J.21,[J.19],1,M1,WC#1,None,NaN
21,J.22,[],1,M1,WC#1,None,NaN
22,J.23,[],1,M1,WC#3,None,NaN
23,J.24,"[J.20, J.21]",1,M1,WC#3,None,NaN
24,J.25,"[J.22, J.23]",1,M2,WC#3,None,NaN
25,J.26,[J.24],1,M2,WC#2,None,NaN
26,J.27,"[J.25, J.26]",1,M1,WC#1,None,NaN
27,J.28,[],1,M1,WC#2,None,NaN
28,J.29,[J.27],1,M1,WC#2,None,NaN
29,J.30,[J.28],1,M1,WC#2,None,NaN
30,J.31,[J.30],1,M1,WC#2,None,NaN
31,J.32,[],1,M1,WC#3,None,NaN
32,J.33,[J.29],2,M1,WC#3,None,NaN
33,J.34,"[J.31, J.32, J.33]",1,M1,WC#3,None,NaN
34,J.35,[],1,M1,WC#3,None,NaN
35,J.36,[J.34],1,M1,WC#1,None,NaN
36,J.37,[],1,M1,WC#3,None,NaN
37,J.38,[],1,M1,WC#1,None,NaN
38,J.39,"[J.35, J.36, J.37]",1,M1,WC#3,None,NaN
39,J.40,[J.38],1,M1,WC#1,None,NaN
40,J.41,"[J.39, J.40]",1,M2,WC#2,None,NaN
41,J.42,[J.41],1,M2,WC#1,None,NaN
42,J.43,[],1,M1,WC#2,None,NaN
43,J.44,"[J.42, J.43]",2,M2,WC#1,None,NaN
44,J.45,[J.44],1,M1,WC#3,None,NaN
45,J.46,[],3,M1,WC#2,None,NaN
46,J.47,"[J.45, J.46]",1,M1,WC#2,None,NaN
47,J.48,[J.47],1,M1,WC#3,None,NaN
48,J.49,[],1,M2,WC#3,None,NaN
49,J.50,"[J.48, J.49]",1,M2,WC#2,12,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],6,M2,WC#1,None,NaN
1,J.2,[J.1],4,M2,WC#3,None,NaN
2,J.3,[J.2],10,M2,WC#2,None,NaN
3,J.4,[],5,M1,WC#2,None,NaN
4,J.5,[J.4],28,M1,WC#3,None,NaN
5,J.6,"[J.3, J.5]",1,M2,WC#3,None,NaN
6,J.7,[J.6],3,M2,WC#2,None,NaN
7,J.8,[J.7],1,M2,WC#3,None,NaN
8,J.9,[J.8],2,M1,WC#2,None,NaN
9,J.10,[J.9],17,M2,WC#2,None,NaN
10,J.11,[J.10],13,M2,WC#2,None,NaN
11,J.12,[],1,M2,WC#3,None,NaN
12,J.13,[J.11],1,M2,WC#2,None,NaN
13,J.14,[J.12],8,M2,WC#1,None,NaN
14,J.15,[J.14],1,M1,WC#1,None,NaN
15,J.16,[J.13],7,M1,WC#3,None,NaN
16,J.17,[J.16],2,M1,WC#2,None,NaN
17,J.18,"[J.15, J.17]",3,M2,WC#2,None,NaN
18,J.19,[J.18],4,M1,WC#2,None,NaN
19,J.20,[],6,M1,WC#3,None,NaN
20,J.21,[J.19],30,M2,WC#1,None,NaN
21,J.22,[J.20],2,M2,WC#1,None,NaN
22,J.23,"[J.21, J.22]",40,M2,WC#2,None,NaN
23,J.24,[],45,M1,WC#3,None,NaN
24,J.25,"[J.23, J.24]",1,M2,WC#3,None,NaN
25,J.26,[J.25],1,M2,WC#3,None,NaN
26,J.27,[J.26],1,M1,WC#3,None,NaN
27,J.28,[],3,M2,WC#2,None,NaN
28,J.29,[J.27],1,M1,WC#3,None,NaN
29,J.30,"[J.28, J.29]",22,M1,WC#1,None,NaN
30,J.31,[],3,M2,WC#3,None,NaN
31,J.32,"[J.30, J.31]",3,M1,WC#3,None,NaN
32,J.33,[],2,M2,WC#1,None,NaN
33,J.34,"[J.32, J.33]",2,M2,WC#3,None,NaN
34,J.35,[J.34],2,M1,WC#3,None,NaN
35,J.36,[J.35],35,M1,WC#1,None,NaN
36,J.37,[],1,M1,WC#2,None,NaN
37,J.38,[J.36],6,M1,WC#1,None,NaN
38,J.39,[J.37],3,M2,WC#1,None,NaN
39,J.40,[J.38],5,M1,WC#2,None,NaN
40,J.41,"[J.39, J.40]",1,M1,WC#3,None,NaN
41,J.42,[],15,M2,WC#1,None,NaN
42,J.43,[J.41],1,M1,WC#2,None,NaN
43,J.44,[J.43],2,M2,WC#2,None,NaN
44,J.45,"[J.42, J.44]",10,M1,WC#1,None,NaN
45,J.46,[J.45],8,M1,WC#3,None,NaN
46,J.47,[],1,M1,WC#2,None,NaN
47,J.48,[J.47],2,M1,WC#1,None,NaN
48,J.49,[J.46],1,M1,WC#2,None,NaN
49,J.50,"[J.48, J.49]",4,M2,WC#3,77,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[J.1],1,M2,WC#1,None,NaN
2,J.3,[],8,M1,WC#1,None,NaN
3,J.4,"[J.2, J.3]",5,M2,WC#2,None,NaN
4,J.5,[J.4],8,M1,WC#2,None,NaN
5,J.6,[],2,M2,WC#1,None,NaN
6,J.7,"[J.5, J.6]",1,M1,WC#1,None,NaN
7,J.8,[J.7],4,M1,WC#3,None,NaN
8,J.9,[],18,M1,WC#3,None,NaN
9,J.10,[J.9],1,M1,WC#2,None,NaN
10,J.11,[J.8],4,M1,WC#3,None,NaN
11,J.12,"[J.10, J.11]",77,M2,WC#3,None,NaN
12,J.13,[],9,M1,WC#2,None,NaN
13,J.14,"[J.12, J.13]",2,M2,WC#1,None,NaN
14,J.15,[J.14],1,M1,WC#3,None,NaN
15,J.16,[J.15],2,M1,WC#2,None,NaN
16,J.17,[J.16],1,M2,WC#3,None,NaN
17,J.18,[],2,M1,WC#2,None,NaN
18,J.19,[J.17],26,M2,WC#1,None,NaN
19,J.20,[J.19],16,M1,WC#2,None,NaN
20,J.21,[J.18],1,M2,WC#1,None,NaN
21,J.22,[],11,M2,WC#1,None,NaN
22,J.23,"[J.20, J.21]",3,M1,WC#3,None,NaN
23,J.24,[J.23],3,M2,WC#1,None,NaN
24,J.25,"[J.22, J.24]",9,M1,WC#3,None,NaN
25,J.26,[],1,M2,WC#3,None,NaN
26,J.27,[J.26],2,M1,WC#2,None,NaN
27,J.28,[J.27],8,M2,WC#1,None,NaN
28,J.29,[J.25],1,M1,WC#3,None,NaN
29,J.30,[],11,M2,WC#1,None,NaN
30,J.31,"[J.28, J.29, J.30]",5,M2,WC#2,None,NaN
31,J.32,[J.31],13,M2,WC#2,None,NaN
32,J.33,[],10,M1,WC#1,None,NaN
33,J.34,[],4,M2,WC#3,None,NaN
34,J.35,[J.32],5,M1,WC#1,None,NaN
35,J.36,[J.33],1,M2,WC#2,None,NaN
36,J.37,"[J.34, J.35, J.36]",5,M2,WC#2,None,NaN
37,J.38,[J.37],1,M1,WC#3,None,NaN
38,J.39,[J.38],1,M1,WC#2,None,NaN
39,J.40,[],6,M1,WC#3,None,NaN
40,J.41,[J.40],2,M2,WC#1,None,NaN
41,J.42,"[J.39, J.41]",1,M1,WC#2,None,NaN
42,J.43,[J.42],1,M1,WC#3,None,NaN
43,J.44,[J.43],4,M1,WC#2,None,NaN
44,J.45,[J.44],1,M1,WC#2,None,NaN
45,J.46,[],1,M1,WC#1,None,NaN
46,J.47,[J.46],2,M2,WC#2,None,NaN
47,J.48,"[J.45, J.47]",1,M1,WC#1,None,NaN
48,J.49,[J.48],1,M2,WC#3,None,NaN
49,J.50,[J.49],1,M1,WC#3,64,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],1,M1,WC#3,None,NaN
2,J.3,[J.1],1,M2,WC#3,None,NaN
3,J.4,[],1,M2,WC#1,None,NaN
4,J.5,"[J.2, J.3]",1,M1,WC#3,None,NaN
5,J.6,[J.4],1,M2,WC#3,None,NaN
6,J.7,[],1,M1,WC#2,None,NaN
7,J.8,[J.5],1,M2,WC#1,None,NaN
8,J.9,"[J.6, J.7]",1,M1,WC#3,None,NaN
9,J.10,[],1,M1,WC#3,None,NaN
10,J.11,"[J.8, J.9]",1,M2,WC#2,None,NaN
11,J.12,[J.10],1,M2,WC#2,None,NaN
12,J.13,[],1,M1,WC#3,None,NaN
13,J.14,[J.11],1,M1,WC#3,None,NaN
14,J.15,"[J.12, J.14]",1,M1,WC#3,None,NaN
15,J.16,[J.13],1,M2,WC#1,None,NaN
16,J.17,[],1,M1,WC#3,None,NaN
17,J.18,"[J.15, J.16]",1,M1,WC#3,None,NaN
18,J.19,[J.17],1,M1,WC#3,None,NaN
19,J.20,[J.19],1,M2,WC#3,None,NaN
20,J.21,[],1,M1,WC#2,None,NaN
21,J.22,"[J.18, J.20]",1,M1,WC#3,None,NaN
22,J.23,[J.21],1,M1,WC#2,None,NaN
23,J.24,[],1,M2,WC#2,None,NaN
24,J.25,"[J.22, J.23]",2,M1,WC#2,None,NaN
25,J.26,[],1,M2,WC#2,None,NaN
26,J.27,"[J.24, J.25, J.26]",1,M1,WC#3,None,NaN
27,J.28,[],1,M2,WC#3,None,NaN
28,J.29,[],1,M2,WC#2,None,NaN
29,J.30,[J.29],1,M2,WC#3,None,NaN
30,J.31,"[J.27, J.28]",2,M1,WC#2,None,NaN
31,J.32,[J.30],1,M2,WC#2,None,NaN
32,J.33,"[J.31, J.32]",1,M2,WC#3,None,NaN
33,J.34,[],1,M2,WC#2,None,NaN
34,J.35,[J.33],1,M1,WC#3,None,NaN
35,J.36,[],1,M2,WC#2,None,NaN
36,J.37,[J.34],1,M2,WC#1,None,NaN
37,J.38,[J.35],1,M2,WC#1,None,NaN
38,J.39,"[J.36, J.37, J.38]",2,M1,WC#3,None,NaN
39,J.40,[],1,M1,WC#3,None,NaN
40,J.41,[J.39],1,M1,WC#3,None,NaN
41,J.42,[J.40],1,M2,WC#1,None,NaN
42,J.43,[J.41],1,M1,WC#1,None,NaN
43,J.44,[J.42],2,M1,WC#3,None,NaN
44,J.45,[],1,M1,WC#3,None,NaN
45,J.46,[J.43],1,M2,WC#2,None,NaN
46,J.47,[J.44],1,M2,WC#2,None,NaN
47,J.48,[J.45],1,M2,WC#3,None,NaN
48,J.49,"[J.46, J.47]",1,M2,WC#2,None,NaN
49,J.50,"[J.48, J.49]",1,M2,WC#3,11,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[],1,M1,WC#3,None,NaN
2,J.3,[],1,M1,WC#1,None,NaN
3,J.4,"[J.1, J.2, J.3]",1,M1,WC#2,None,NaN
4,J.5,[],1,M1,WC#1,None,NaN
5,J.6,[J.4],1,M1,WC#1,None,NaN
6,J.7,[],1,M2,WC#2,None,NaN
7,J.8,"[J.5, J.6]",1,M2,WC#2,None,NaN
8,J.9,[J.7],1,M2,WC#3,None,NaN
9,J.10,[],1,M1,WC#1,None,NaN
10,J.11,"[J.8, J.9]",1,M2,WC#1,None,NaN
11,J.12,[],1,M1,WC#1,None,NaN
12,J.13,"[J.10, J.11]",2,M1,WC#1,None,NaN
13,J.14,[],1,M1,WC#1,None,NaN
14,J.15,"[J.12, J.14]",1,M2,WC#1,None,NaN
15,J.16,[J.13],3,M2,WC#3,None,NaN
16,J.17,"[J.15, J.16]",1,M1,WC#1,None,NaN
17,J.18,[],1,M1,WC#3,None,NaN
18,J.19,[J.17],1,M1,WC#3,None,NaN
19,J.20,[J.19],1,M1,WC#3,None,NaN
20,J.21,[J.18],1,M1,WC#2,None,NaN
21,J.22,[],1,M1,WC#3,None,NaN
22,J.23,"[J.20, J.21]",1,M2,WC#3,None,NaN
23,J.24,[J.22],1,M1,WC#3,None,NaN
24,J.25,[J.24],1,M1,WC#1,None,NaN
25,J.26,[J.23],1,M1,WC#3,None,NaN
26,J.27,[J.25],1,M1,WC#1,None,NaN
27,J.28,[],1,M1,WC#2,None,NaN
28,J.29,"[J.26, J.27]",1,M1,WC#3,None,NaN
29,J.30,[],1,M2,WC#1,None,NaN
30,J.31,[J.28],1,M2,WC#1,None,NaN
31,J.32,"[J.29, J.30]",1,M1,WC#3,None,NaN
32,J.33,[J.31],1,M1,WC#2,None,NaN
33,J.34,[J.32],1,M1,WC#1,None,NaN
34,J.35,[],1,M1,WC#1,None,NaN
35,J.36,"[J.33, J.34, J.35]",1,M1,WC#1,None,NaN
36,J.37,[],1,M2,WC#3,None,NaN
37,J.38,[J.37],1,M2,WC#1,None,NaN
38,J.39,[J.36],1,M2,WC#2,None,NaN
39,J.40,[],1,M1,WC#3,None,NaN
40,J.41,[J.38],1,M1,WC#2,None,NaN
41,J.42,"[J.39, J.41]",1,M2,WC#1,None,NaN
42,J.43,"[J.40, J.42]",1,M2,WC#1,None,NaN
43,J.44,[],1,M1,WC#3,None,NaN
44,J.45,[J.43],1,M1,WC#3,None,NaN
45,J.46,[],1,M1,WC#3,None,NaN
46,J.47,[J.44],1,M1,WC#1,None,NaN
47,J.48,"[J.45, J.46]",1,M1,WC#2,None,NaN
48,J.49,[J.47],2,M2,WC#2,14,1.0
49,J.50,[J.48],1,M1,WC#1,12,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],6,M1,WC#2,None,NaN
1,J.2,[],2,M1,WC#2,None,NaN
2,J.3,[J.1],1,M1,WC#1,None,NaN
3,J.4,[J.2],5,M2,WC#1,None,NaN
4,J.5,[J.3],1,M2,WC#3,None,NaN
5,J.6,[J.4],27,M1,WC#3,None,NaN
6,J.7,[J.5],1,M1,WC#2,None,NaN
7,J.8,[J.6],1,M1,WC#1,None,NaN
8,J.9,[],1,M2,WC#1,None,NaN
9,J.10,[J.7],1,M1,WC#1,None,NaN
10,J.11,[J.8],1,M2,WC#3,None,NaN
11,J.12,[J.9],6,M2,WC#3,None,NaN
12,J.13,"[J.10, J.12]",2,M2,WC#3,None,NaN
13,J.14,[J.11],1,M1,WC#1,None,NaN
14,J.15,[J.13],6,M1,WC#2,None,NaN
15,J.16,[J.14],1,M1,WC#1,None,NaN
16,J.17,[J.15],55,M1,WC#1,None,NaN
17,J.18,[J.16],4,M1,WC#1,None,NaN
18,J.19,[],19,M1,WC#1,None,NaN
19,J.20,[J.17],3,M1,WC#3,None,NaN
20,J.21,[J.18],2,M1,WC#2,None,NaN
21,J.22,"[J.19, J.20]",8,M2,WC#1,None,NaN
22,J.23,[],3,M1,WC#1,None,NaN
23,J.24,[J.21],2,M1,WC#1,None,NaN
24,J.25,[J.22],9,M2,WC#1,None,NaN
25,J.26,[J.23],5,M2,WC#3,None,NaN
26,J.27,"[J.24, J.25]",2,M1,WC#1,None,NaN
27,J.28,[],7,M2,WC#3,None,NaN
28,J.29,"[J.26, J.27, J.28]",2,M2,WC#3,None,NaN
29,J.30,[],17,M1,WC#3,None,NaN
30,J.31,[],1,M2,WC#1,None,NaN
31,J.32,"[J.29, J.30]",7,M2,WC#2,None,NaN
32,J.33,[J.31],6,M2,WC#3,None,NaN
33,J.34,[J.32],7,M1,WC#1,None,NaN
34,J.35,[J.33],4,M1,WC#2,None,NaN
35,J.36,[J.35],2,M2,WC#1,None,NaN
36,J.37,"[J.34, J.36]",1,M1,WC#1,None,NaN
37,J.38,[],1,M1,WC#3,None,NaN
38,J.39,[J.37],18,M2,WC#1,None,NaN
39,J.40,[J.38],6,M1,WC#3,None,NaN
40,J.41,[J.39],3,M1,WC#3,None,NaN
41,J.42,[],3,M1,WC#2,None,NaN
42,J.43,"[J.40, J.41]",1,M1,WC#3,None,NaN
43,J.44,[],2,M2,WC#1,None,NaN
44,J.45,"[J.42, J.43]",3,M2,WC#2,None,NaN
45,J.46,"[J.44, J.45]",37,M2,WC#3,None,NaN
46,J.47,[J.46],21,M1,WC#2,None,NaN
47,J.48,[],9,M2,WC#3,None,NaN
48,J.49,[],15,M2,WC#2,74,1.0
49,J.50,"[J.47, J.48]",2,M1,WC#1,71,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],12,M2,WC#1,None,NaN
1,J.2,[],2,M2,WC#1,None,NaN
2,J.3,[],3,M2,WC#1,None,NaN
3,J.4,"[J.1, J.2]",11,M1,WC#1,None,NaN
4,J.5,[],4,M2,WC#3,None,NaN
5,J.6,"[J.3, J.5]",1,M1,WC#1,None,NaN
6,J.7,[J.4],5,M2,WC#2,None,NaN
7,J.8,[J.6],18,M2,WC#1,None,NaN
8,J.9,[],6,M1,WC#2,None,NaN
9,J.10,[J.7],1,M2,WC#3,None,NaN
10,J.11,"[J.8, J.10]",1,M1,WC#1,None,NaN
11,J.12,[J.9],3,M1,WC#3,None,NaN
12,J.13,[],3,M1,WC#3,None,NaN
13,J.14,"[J.11, J.12]",14,M2,WC#3,None,NaN
14,J.15,[],1,M2,WC#2,None,NaN
15,J.16,"[J.13, J.14]",2,M2,WC#1,None,NaN
16,J.17,[],3,M2,WC#3,None,NaN
17,J.18,[J.15],1,M2,WC#2,None,NaN
18,J.19,"[J.16, J.17]",4,M2,WC#1,None,NaN
19,J.20,[J.18],2,M1,WC#2,None,NaN
20,J.21,[J.19],1,M2,WC#1,None,NaN
21,J.22,[],5,M2,WC#1,None,NaN
22,J.23,[J.20],1,M2,WC#1,None,NaN
23,J.24,[J.21],16,M1,WC#2,None,NaN
24,J.25,"[J.22, J.23]",7,M2,WC#2,None,NaN
25,J.26,[J.24],5,M1,WC#1,None,NaN
26,J.27,[J.25],5,M2,WC#2,None,NaN
27,J.28,"[J.26, J.27]",8,M1,WC#2,None,NaN
28,J.29,[],5,M1,WC#3,None,NaN
29,J.30,[J.28],4,M2,WC#1,None,NaN
30,J.31,[J.29],21,M2,WC#1,None,NaN
31,J.32,[J.30],29,M1,WC#3,None,NaN
32,J.33,[J.31],7,M2,WC#1,None,NaN
33,J.34,[J.32],1,M2,WC#2,None,NaN
34,J.35,[J.33],6,M1,WC#3,None,NaN
35,J.36,[J.34],5,M2,WC#1,None,NaN
36,J.37,[],33,M2,WC#2,None,NaN
37,J.38,[J.35],14,M1,WC#3,None,NaN
38,J.39,[J.36],4,M2,WC#3,None,NaN
39,J.40,[J.37],5,M2,WC#3,None,NaN
40,J.41,[J.38],10,M2,WC#3,None,NaN
41,J.42,"[J.40, J.41]",20,M2,WC#1,None,NaN
42,J.43,[J.39],5,M1,WC#2,None,NaN
43,J.44,[J.42],7,M2,WC#1,None,NaN
44,J.45,[],1,M2,WC#3,None,NaN
45,J.46,"[J.43, J.44]",16,M2,WC#2,None,NaN
46,J.47,[J.45],1,M2,WC#1,None,NaN
47,J.48,[J.46],1,M1,WC#2,None,NaN
48,J.49,[J.47],3,M1,WC#3,70,1.0
49,J.50,[J.48],1,M1,WC#3,72,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#2,None,NaN
1,J.2,[],1,M2,WC#2,None,NaN
2,J.3,"[J.1, J.2]",1,M3,WC#1,None,NaN
3,J.4,[J.3],1,M4,WC#1,None,NaN
4,J.5,[],1,M5,WC#1,None,NaN
5,J.6,"[J.4, J.5]",1,M3,WC#1,None,NaN
6,J.7,[],1,M2,WC#1,None,NaN
7,J.8,"[J.6, J.7]",1,M5,WC#1,None,NaN
8,J.9,[J.8],2,M4,WC#2,None,NaN
9,J.10,[],1,M3,WC#2,None,NaN
10,J.11,"[J.9, J.10]",2,M3,WC#3,None,NaN
11,J.12,[J.11],1,M5,WC#1,None,NaN
12,J.13,[],1,M1,WC#1,None,NaN
13,J.14,"[J.12, J.13]",1,M3,WC#3,None,NaN
14,J.15,[],1,M2,WC#3,None,NaN
15,J.16,"[J.14, J.15]",1,M2,WC#1,None,NaN
16,J.17,[J.16],1,M1,WC#3,None,NaN
17,J.18,[J.17],1,M4,WC#3,None,NaN
18,J.19,[J.18],1,M5,WC#3,None,NaN
19,J.20,[J.19],1,M5,WC#2,None,NaN
20,J.21,[J.20],1,M1,WC#2,None,NaN
21,J.22,[J.21],1,M4,WC#3,None,NaN
22,J.23,[J.22],1,M5,WC#1,None,NaN
23,J.24,[J.23],1,M3,WC#2,None,NaN
24,J.25,[J.24],1,M1,WC#2,None,NaN
25,J.26,[J.25],1,M1,WC#3,None,NaN
26,J.27,[],1,M2,WC#2,None,NaN
27,J.28,[],1,M5,WC#2,None,NaN
28,J.29,"[J.26, J.27]",1,M3,WC#1,None,NaN
29,J.30,"[J.28, J.29]",1,M1,WC#2,None,NaN
30,J.31,[],1,M1,WC#3,None,NaN
31,J.32,"[J.30, J.31]",1,M4,WC#1,None,NaN
32,J.33,[J.32],1,M4,WC#1,None,NaN
33,J.34,[J.33],1,M1,WC#1,None,NaN
34,J.35,[J.34],1,M5,WC#3,None,NaN
35,J.36,[J.35],1,M1,WC#1,None,NaN
36,J.37,[],1,M1,WC#2,None,NaN
37,J.38,"[J.36, J.37]",1,M5,WC#2,None,NaN
38,J.39,[J.38],1,M1,WC#2,None,NaN
39,J.40,[J.39],1,M5,WC#3,None,NaN
40,J.41,[J.40],1,M2,WC#1,None,NaN
41,J.42,[J.41],1,M1,WC#3,None,NaN
42,J.43,[J.42],1,M3,WC#1,None,NaN
43,J.44,[J.43],1,M3,WC#2,None,NaN
44,J.45,[J.44],1,M3,WC#2,None,NaN
45,J.46,[J.45],1,M3,WC#1,None,NaN
46,J.47,[J.46],1,M4,WC#1,None,NaN
47,J.48,[J.47],1,M5,WC#3,None,NaN
48,J.49,[J.48],2,M2,WC#1,None,NaN
49,J.50,[J.49],1,M3,WC#2,15,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M3,WC#2,None,NaN
1,J.2,[J.1],1,M3,WC#1,None,NaN
2,J.3,[J.2],2,M3,WC#2,None,NaN
3,J.4,[J.3],1,M1,WC#3,None,NaN
4,J.5,[J.4],1,M3,WC#3,None,NaN
5,J.6,[J.5],1,M1,WC#2,None,NaN
6,J.7,[J.6],1,M3,WC#1,None,NaN
7,J.8,[J.7],1,M2,WC#3,None,NaN
8,J.9,[J.8],1,M5,WC#2,None,NaN
9,J.10,[J.9],1,M5,WC#3,None,NaN
10,J.11,[J.10],1,M3,WC#3,None,NaN
11,J.12,[J.11],2,M3,WC#3,None,NaN
12,J.13,[J.12],1,M3,WC#1,None,NaN
13,J.14,[J.13],1,M5,WC#2,None,NaN
14,J.15,[],1,M3,WC#3,None,NaN
15,J.16,"[J.14, J.15]",1,M3,WC#2,None,NaN
16,J.17,[J.16],1,M3,WC#3,None,NaN
17,J.18,[J.17],1,M3,WC#3,None,NaN
18,J.19,[J.18],1,M4,WC#2,None,NaN
19,J.20,[J.19],1,M3,WC#2,None,NaN
20,J.21,[J.20],1,M1,WC#3,None,NaN
21,J.22,[J.21],1,M3,WC#3,None,NaN
22,J.23,[J.22],1,M2,WC#1,None,NaN
23,J.24,[J.23],1,M3,WC#2,None,NaN
24,J.25,[J.24],1,M4,WC#3,None,NaN
25,J.26,[J.25],2,M3,WC#1,None,NaN
26,J.27,[J.26],1,M1,WC#3,None,NaN
27,J.28,[],2,M3,WC#3,None,NaN
28,J.29,"[J.27, J.28]",1,M4,WC#2,None,NaN
29,J.30,[J.29],1,M3,WC#2,None,NaN
30,J.31,[J.30],1,M3,WC#1,None,NaN
31,J.32,[J.31],1,M5,WC#3,None,NaN
32,J.33,[],1,M3,WC#1,None,NaN
33,J.34,"[J.32, J.33]",1,M1,WC#3,None,NaN
34,J.35,[J.34],1,M3,WC#2,None,NaN
35,J.36,[J.35],1,M5,WC#1,None,NaN
36,J.37,[J.36],1,M3,WC#2,None,NaN
37,J.38,[J.37],1,M3,WC#2,None,NaN
38,J.39,[J.38],1,M3,WC#3,None,NaN
39,J.40,[J.39],1,M3,WC#1,None,NaN
40,J.41,[J.40],1,M4,WC#2,None,NaN
41,J.42,[J.41],1,M3,WC#1,None,NaN
42,J.43,[J.42],1,M4,WC#1,None,NaN
43,J.44,[J.43],1,M3,WC#1,None,NaN
44,J.45,[J.44],1,M2,WC#3,None,NaN
45,J.46,[J.45],1,M3,WC#3,None,NaN
46,J.47,[J.46],3,M4,WC#1,None,NaN
47,J.48,[J.47],1,M3,WC#1,None,NaN
48,J.49,[J.48],1,M3,WC#3,None,NaN
49,J.50,[J.49],2,M5,WC#2,13,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M4,WC#1,None,NaN
1,J.2,[J.1],18,M4,WC#2,None,NaN
2,J.3,[J.2],3,M2,WC#2,None,NaN
3,J.4,[J.3],1,M1,WC#3,None,NaN
4,J.5,[J.4],11,M2,WC#3,None,NaN
5,J.6,[J.5],1,M4,WC#3,None,NaN
6,J.7,[J.6],1,M2,WC#3,None,NaN
7,J.8,[J.7],1,M2,WC#1,None,NaN
8,J.9,[J.8],1,M4,WC#1,None,NaN
9,J.10,[J.9],3,M5,WC#3,None,NaN
10,J.11,[J.10],11,M3,WC#1,None,NaN
11,J.12,[J.11],1,M3,WC#1,None,NaN
12,J.13,[J.12],1,M4,WC#2,None,NaN
13,J.14,[J.13],3,M1,WC#1,None,NaN
14,J.15,[J.14],2,M3,WC#3,None,NaN
15,J.16,[J.15],3,M5,WC#3,None,NaN
16,J.17,[J.16],3,M2,WC#3,None,NaN
17,J.18,[J.17],8,M1,WC#2,None,NaN
18,J.19,[J.18],1,M3,WC#3,None,NaN
19,J.20,[],17,M4,WC#2,None,NaN
20,J.21,"[J.19, J.20]",9,M1,WC#2,None,NaN
21,J.22,[],9,M5,WC#3,None,NaN
22,J.23,"[J.21, J.22]",4,M3,WC#1,None,NaN
23,J.24,[J.23],12,M1,WC#2,None,NaN
24,J.25,[J.24],70,M1,WC#2,None,NaN
25,J.26,[J.25],1,M4,WC#3,None,NaN
26,J.27,[J.26],1,M2,WC#1,None,NaN
27,J.28,[J.27],1,M5,WC#3,None,NaN
28,J.29,[],1,M2,WC#1,None,NaN
29,J.30,"[J.28, J.29]",11,M4,WC#2,None,NaN
30,J.31,[J.30],4,M3,WC#2,None,NaN
31,J.32,[J.31],1,M2,WC#1,None,NaN
32,J.33,[J.32],4,M3,WC#2,None,NaN
33,J.34,[],1,M5,WC#1,None,NaN
34,J.35,[J.34],1,M2,WC#1,None,NaN
35,J.36,"[J.33, J.35]",4,M2,WC#2,None,NaN
36,J.37,[J.36],7,M1,WC#2,None,NaN
37,J.38,[J.37],10,M3,WC#2,None,NaN
38,J.39,[],1,M4,WC#3,None,NaN
39,J.40,"[J.38, J.39]",1,M1,WC#1,None,NaN
40,J.41,[],3,M2,WC#3,None,NaN
41,J.42,"[J.40, J.41]",5,M5,WC#3,None,NaN
42,J.43,[J.42],2,M4,WC#1,None,NaN
43,J.44,[],1,M2,WC#1,None,NaN
44,J.45,"[J.43, J.44]",1,M1,WC#1,None,NaN
45,J.46,[],8,M5,WC#2,None,NaN
46,J.47,"[J.45, J.46]",1,M5,WC#3,None,NaN
47,J.48,[J.47],13,M1,WC#3,None,NaN
48,J.49,[J.48],4,M1,WC#2,None,NaN
49,J.50,[J.49],2,M4,WC#1,59,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#1,None,NaN
1,J.2,[J.1],29,M3,WC#2,None,NaN
2,J.3,[J.2],2,M2,WC#3,None,NaN
3,J.4,[],1,M1,WC#1,None,NaN
4,J.5,[J.3],1,M1,WC#1,None,NaN
5,J.6,"[J.4, J.5]",2,M4,WC#3,None,NaN
6,J.7,[J.6],5,M1,WC#2,None,NaN
7,J.8,[J.7],36,M4,WC#2,None,NaN
8,J.9,[J.8],3,M1,WC#1,None,NaN
9,J.10,[J.9],6,M1,WC#3,None,NaN
10,J.11,[J.10],2,M1,WC#1,None,NaN
11,J.12,[],2,M1,WC#3,None,NaN
12,J.13,"[J.11, J.12]",6,M1,WC#2,None,NaN
13,J.14,[J.13],1,M4,WC#1,None,NaN
14,J.15,[J.14],4,M4,WC#3,None,NaN
15,J.16,[J.15],1,M1,WC#3,None,NaN
16,J.17,[J.16],1,M1,WC#1,None,NaN
17,J.18,[J.17],8,M1,WC#3,None,NaN
18,J.19,[J.18],15,M1,WC#3,None,NaN
19,J.20,[J.19],3,M1,WC#3,None,NaN
20,J.21,[],3,M1,WC#3,None,NaN
21,J.22,[J.20],1,M1,WC#1,None,NaN
22,J.23,"[J.21, J.22]",3,M1,WC#1,None,NaN
23,J.24,[J.23],19,M4,WC#3,None,NaN
24,J.25,[J.24],7,M1,WC#3,None,NaN
25,J.26,[J.25],2,M1,WC#3,None,NaN
26,J.27,[J.26],19,M1,WC#3,None,NaN
27,J.28,[J.27],13,M1,WC#2,None,NaN
28,J.29,[J.28],1,M1,WC#2,None,NaN
29,J.30,[J.29],7,M1,WC#1,None,NaN
30,J.31,[J.30],2,M2,WC#3,None,NaN
31,J.32,[J.31],2,M1,WC#1,None,NaN
32,J.33,[J.32],2,M1,WC#1,None,NaN
33,J.34,[J.33],3,M5,WC#2,None,NaN
34,J.35,[J.34],1,M1,WC#2,None,NaN
35,J.36,[J.35],7,M5,WC#1,None,NaN
36,J.37,[J.36],8,M1,WC#3,None,NaN
37,J.38,[J.37],6,M1,WC#3,None,NaN
38,J.39,[J.38],1,M5,WC#2,None,NaN
39,J.40,[J.39],11,M2,WC#3,None,NaN
40,J.41,[J.40],2,M3,WC#2,None,NaN
41,J.42,[J.41],1,M3,WC#2,None,NaN
42,J.43,[J.42],4,M5,WC#2,None,NaN
43,J.44,[J.43],9,M1,WC#3,None,NaN
44,J.45,[J.44],24,M2,WC#1,None,NaN
45,J.46,[],3,M1,WC#2,None,NaN
46,J.47,"[J.45, J.46]",3,M1,WC#1,None,NaN
47,J.48,[J.47],6,M1,WC#1,None,NaN
48,J.49,[],1,M1,WC#3,None,NaN
49,J.50,"[J.48, J.49]",5,M1,WC#3,62,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#2,None,NaN
1,J.2,[J.1],1,M5,WC#2,None,NaN
2,J.3,[],1,M3,WC#2,None,NaN
3,J.4,[J.2],1,M1,WC#2,None,NaN
4,J.5,[J.3],1,M1,WC#2,None,NaN
5,J.6,[J.5],1,M3,WC#3,None,NaN
6,J.7,"[J.4, J.6]",1,M1,WC#1,None,NaN
7,J.8,[J.7],1,M1,WC#1,None,NaN
8,J.9,[],1,M4,WC#2,None,NaN
9,J.10,"[J.8, J.9]",1,M4,WC#3,None,NaN
10,J.11,[J.10],1,M2,WC#1,None,NaN
11,J.12,[J.11],2,M2,WC#2,None,NaN
12,J.13,[],2,M2,WC#1,None,NaN
13,J.14,[J.12],1,M5,WC#3,None,NaN
14,J.15,"[J.13, J.14]",1,M1,WC#2,None,NaN
15,J.16,[J.15],1,M2,WC#2,None,NaN
16,J.17,[J.16],1,M1,WC#3,None,NaN
17,J.18,[J.17],1,M1,WC#1,None,NaN
18,J.19,[J.18],1,M4,WC#1,None,NaN
19,J.20,[J.19],1,M4,WC#2,None,NaN
20,J.21,[J.20],1,M2,WC#2,None,NaN
21,J.22,[J.21],1,M2,WC#3,None,NaN
22,J.23,[J.22],1,M2,WC#2,None,NaN
23,J.24,[],3,M1,WC#1,None,NaN
24,J.25,[J.23],1,M5,WC#2,None,NaN
25,J.26,[],1,M4,WC#2,None,NaN
26,J.27,[J.24],1,M1,WC#1,None,NaN
27,J.28,"[J.26, J.27]",2,M1,WC#1,None,NaN
28,J.29,"[J.25, J.28]",1,M5,WC#3,None,NaN
29,J.30,[],1,M4,WC#2,None,NaN
30,J.31,[J.29],1,M1,WC#2,None,NaN
31,J.32,"[J.30, J.31]",1,M1,WC#3,None,NaN
32,J.33,[],1,M4,WC#3,None,NaN
33,J.34,[],1,M3,WC#1,None,NaN
34,J.35,"[J.32, J.33, J.34]",1,M3,WC#3,None,NaN
35,J.36,[],1,M5,WC#2,None,NaN
36,J.37,[],1,M5,WC#3,None,NaN
37,J.38,"[J.35, J.37]",3,M3,WC#1,None,NaN
38,J.39,[J.36],1,M1,WC#2,None,NaN
39,J.40,[],1,M4,WC#3,None,NaN
40,J.41,"[J.38, J.39, J.40]",1,M5,WC#3,None,NaN
41,J.42,[J.41],1,M4,WC#3,None,NaN
42,J.43,[J.42],1,M4,WC#1,None,NaN
43,J.44,[],2,M3,WC#1,None,NaN
44,J.45,[J.43],1,M4,WC#2,None,NaN
45,J.46,[J.44],1,M2,WC#2,None,NaN
46,J.47,[J.46],1,M1,WC#2,None,NaN
47,J.48,"[J.45, J.47]",1,M5,WC#2,None,NaN
48,J.49,[J.48],1,M4,WC#3,None,NaN
49,J.50,[J.49],1,M1,WC#1,16,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",2,M1,WC#2,None,NaN
3,J.4,[],1,M3,WC#1,None,NaN
4,J.5,"[J.3, J.4]",1,M1,WC#1,None,NaN
5,J.6,[],1,M4,WC#1,None,NaN
6,J.7,[J.6],1,M2,WC#2,None,NaN
7,J.8,"[J.5, J.7]",1,M1,WC#3,None,NaN
8,J.9,[],1,M1,WC#2,None,NaN
9,J.10,[J.8],1,M4,WC#3,None,NaN
10,J.11,"[J.9, J.10]",1,M1,WC#2,None,NaN
11,J.12,[J.11],1,M2,WC#3,None,NaN
12,J.13,[],1,M1,WC#1,None,NaN
13,J.14,"[J.12, J.13]",1,M1,WC#3,None,NaN
14,J.15,[J.14],1,M1,WC#2,None,NaN
15,J.16,[],1,M3,WC#1,None,NaN
16,J.17,[J.15],1,M1,WC#3,None,NaN
17,J.18,[J.16],1,M1,WC#1,None,NaN
18,J.19,[J.18],1,M1,WC#3,None,NaN
19,J.20,"[J.17, J.19]",1,M1,WC#1,None,NaN
20,J.21,[],1,M1,WC#2,None,NaN
21,J.22,[J.21],1,M2,WC#3,None,NaN
22,J.23,[J.20],1,M1,WC#2,None,NaN
23,J.24,[J.22],1,M1,WC#3,None,NaN
24,J.25,[],1,M1,WC#1,None,NaN
25,J.26,"[J.23, J.24]",1,M4,WC#2,None,NaN
26,J.27,"[J.25, J.26]",1,M1,WC#2,None,NaN
27,J.28,[J.27],1,M1,WC#3,None,NaN
28,J.29,[],1,M3,WC#1,None,NaN
29,J.30,[J.28],1,M5,WC#3,None,NaN
30,J.31,"[J.29, J.30]",1,M1,WC#2,None,NaN
31,J.32,[J.31],1,M1,WC#3,None,NaN
32,J.33,[],1,M1,WC#1,None,NaN
33,J.34,[J.32],1,M1,WC#2,None,NaN
34,J.35,"[J.33, J.34]",1,M1,WC#2,None,NaN
35,J.36,[J.35],1,M1,WC#3,None,NaN
36,J.37,[],1,M1,WC#1,None,NaN
37,J.38,"[J.36, J.37]",1,M5,WC#2,None,NaN
38,J.39,[J.38],1,M1,WC#3,None,NaN
39,J.40,[],1,M1,WC#3,None,NaN
40,J.41,"[J.39, J.40]",1,M1,WC#2,None,NaN
41,J.42,[],1,M1,WC#2,None,NaN
42,J.43,"[J.41, J.42]",1,M4,WC#3,None,NaN
43,J.44,[J.43],1,M4,WC#3,None,NaN
44,J.45,[J.44],1,M1,WC#2,None,NaN
45,J.46,[J.45],1,M2,WC#1,None,NaN
46,J.47,[],2,M1,WC#2,None,NaN
47,J.48,[],1,M1,WC#2,None,NaN
48,J.49,"[J.47, J.48]",1,M1,WC#2,12,1.0
49,J.50,[J.46],1,M1,WC#1,12,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],3,M5,WC#2,None,NaN
2,J.3,[J.2],2,M2,WC#3,None,NaN
3,J.4,[],2,M2,WC#1,None,NaN
4,J.5,"[J.1, J.4]",54,M4,WC#1,None,NaN
5,J.6,[J.3],1,M2,WC#3,None,NaN
6,J.7,[],1,M3,WC#1,None,NaN
7,J.8,"[J.5, J.6]",10,M2,WC#3,None,NaN
8,J.9,[J.8],23,M4,WC#3,None,NaN
9,J.10,[J.9],27,M2,WC#2,None,NaN
10,J.11,"[J.7, J.10]",1,M3,WC#1,None,NaN
11,J.12,[J.11],1,M2,WC#1,None,NaN
12,J.13,[],1,M4,WC#1,None,NaN
13,J.14,[J.12],4,M1,WC#3,None,NaN
14,J.15,[J.13],5,M1,WC#2,None,NaN
15,J.16,"[J.14, J.15]",2,M3,WC#3,None,NaN
16,J.17,[J.16],1,M1,WC#2,None,NaN
17,J.18,[],7,M2,WC#2,None,NaN
18,J.19,[],6,M4,WC#3,None,NaN
19,J.20,[J.17],83,M4,WC#2,None,NaN
20,J.21,"[J.18, J.19]",2,M5,WC#3,None,NaN
21,J.22,"[J.20, J.21]",23,M3,WC#2,None,NaN
22,J.23,[],2,M4,WC#2,None,NaN
23,J.24,"[J.22, J.23]",2,M4,WC#1,None,NaN
24,J.25,[],1,M4,WC#2,None,NaN
25,J.26,"[J.24, J.25]",1,M5,WC#3,None,NaN
26,J.27,[J.26],2,M3,WC#3,None,NaN
27,J.28,[],2,M3,WC#2,None,NaN
28,J.29,"[J.27, J.28]",1,M3,WC#3,None,NaN
29,J.30,[],3,M2,WC#3,None,NaN
30,J.31,[],4,M3,WC#3,None,NaN
31,J.32,"[J.30, J.31]",4,M3,WC#3,None,NaN
32,J.33,[J.29],22,M2,WC#3,None,NaN
33,J.34,[J.32],2,M4,WC#3,None,NaN
34,J.35,[J.33],12,M2,WC#1,None,NaN
35,J.36,[J.34],4,M1,WC#2,None,NaN
36,J.37,[J.35],7,M5,WC#1,None,NaN
37,J.38,[J.36],2,M4,WC#3,None,NaN
38,J.39,[J.38],17,M3,WC#2,None,NaN
39,J.40,[J.39],41,M3,WC#1,None,NaN
40,J.41,[J.40],3,M3,WC#3,None,NaN
41,J.42,[J.37],3,M3,WC#3,None,NaN
42,J.43,[J.42],5,M4,WC#3,None,NaN
43,J.44,"[J.41, J.43]",3,M2,WC#1,None,NaN
44,J.45,[J.44],1,M3,WC#2,None,NaN
45,J.46,[],1,M3,WC#3,None,NaN
46,J.47,[J.46],1,M3,WC#2,None,NaN
47,J.48,[J.45],3,M5,WC#1,None,NaN
48,J.49,"[J.47, J.48]",2,M2,WC#3,None,NaN
49,J.50,[J.49],1,M1,WC#1,85,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],11,M3,WC#3,None,NaN
1,J.2,[],2,M3,WC#3,None,NaN
2,J.3,"[J.1, J.2]",4,M1,WC#3,None,NaN
3,J.4,[J.3],4,M2,WC#3,None,NaN
4,J.5,[J.4],9,M3,WC#2,None,NaN
5,J.6,[J.5],2,M4,WC#3,None,NaN
6,J.7,[],7,M2,WC#3,None,NaN
7,J.8,"[J.6, J.7]",6,M3,WC#2,None,NaN
8,J.9,[J.8],1,M3,WC#3,None,NaN
9,J.10,[J.9],6,M3,WC#3,None,NaN
10,J.11,[],1,M3,WC#2,None,NaN
11,J.12,"[J.10, J.11]",3,M1,WC#2,None,NaN
12,J.13,[],3,M1,WC#2,None,NaN
13,J.14,[J.12],1,M3,WC#3,None,NaN
14,J.15,[J.13],1,M1,WC#1,None,NaN
15,J.16,[J.14],4,M4,WC#3,None,NaN
16,J.17,[J.16],10,M3,WC#2,None,NaN
17,J.18,"[J.15, J.17]",1,M1,WC#2,None,NaN
18,J.19,[J.18],1,M4,WC#3,None,NaN
19,J.20,[],8,M3,WC#2,None,NaN
20,J.21,[],8,M3,WC#1,None,NaN
21,J.22,[J.19],1,M4,WC#3,None,NaN
22,J.23,"[J.20, J.21, J.22]",1,M3,WC#1,None,NaN
23,J.24,[],2,M3,WC#2,None,NaN
24,J.25,[],12,M4,WC#2,None,NaN
25,J.26,"[J.23, J.24]",10,M2,WC#2,None,NaN
26,J.27,[J.26],3,M4,WC#1,None,NaN
27,J.28,"[J.25, J.27]",6,M1,WC#2,None,NaN
28,J.29,[],13,M3,WC#3,None,NaN
29,J.30,[J.28],4,M3,WC#3,None,NaN
30,J.31,[J.30],1,M3,WC#1,None,NaN
31,J.32,"[J.29, J.31]",1,M3,WC#2,None,NaN
32,J.33,[J.32],1,M1,WC#3,None,NaN
33,J.34,[],3,M4,WC#2,None,NaN
34,J.35,"[J.33, J.34]",1,M3,WC#3,None,NaN
35,J.36,[J.35],1,M2,WC#3,None,NaN
36,J.37,[],24,M3,WC#1,None,NaN
37,J.38,[J.37],9,M3,WC#1,None,NaN
38,J.39,[J.36],12,M3,WC#1,None,NaN
39,J.40,"[J.38, J.39]",1,M4,WC#2,None,NaN
40,J.41,[],2,M3,WC#2,None,NaN
41,J.42,[J.40],4,M4,WC#2,None,NaN
42,J.43,[J.41],9,M2,WC#1,None,NaN
43,J.44,[J.42],1,M3,WC#3,None,NaN
44,J.45,[],1,M2,WC#1,None,NaN
45,J.46,[],2,M5,WC#3,None,NaN
46,J.47,"[J.43, J.44, J.45, J.46]",3,M3,WC#3,None,NaN
47,J.48,[J.47],12,M3,WC#2,None,NaN
48,J.49,[],4,M4,WC#1,None,NaN
49,J.50,"[J.48, J.49]",13,M3,WC#1,53,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#2,None,NaN
1,J.2,[],1,M4,WC#1,None,NaN
2,J.3,[J.1],1,M4,WC#2,None,NaN
3,J.4,[],1,M1,WC#2,None,NaN
4,J.5,[J.2],1,M5,WC#2,None,NaN
5,J.6,[J.3],1,M3,WC#1,None,NaN
6,J.7,[J.4],1,M1,WC#3,None,NaN
7,J.8,[J.6],1,M1,WC#1,None,NaN
8,J.9,[J.5],1,M2,WC#3,None,NaN
9,J.10,[J.7],1,M2,WC#2,None,NaN
10,J.11,[J.8],1,M1,WC#3,None,NaN
11,J.12,"[J.9, J.10, J.11]",1,M2,WC#2,None,NaN
12,J.13,[],1,M5,WC#1,None,NaN
13,J.14,[J.12],2,M1,WC#2,None,NaN
14,J.15,[],1,M1,WC#3,None,NaN
15,J.16,"[J.13, J.14]",1,M4,WC#2,None,NaN
16,J.17,[],1,M3,WC#1,None,NaN
17,J.18,"[J.15, J.16]",1,M3,WC#1,None,NaN
18,J.19,[J.18],1,M5,WC#2,None,NaN
19,J.20,[J.17],1,M4,WC#2,None,NaN
20,J.21,[],1,M5,WC#2,None,NaN
21,J.22,"[J.19, J.20]",1,M3,WC#2,None,NaN
22,J.23,[],1,M3,WC#1,None,NaN
23,J.24,"[J.21, J.22]",1,M5,WC#3,None,NaN
24,J.25,[],1,M2,WC#2,None,NaN
25,J.26,[J.23],1,M3,WC#1,None,NaN
26,J.27,[J.24],1,M2,WC#1,None,NaN
27,J.28,[J.25],1,M5,WC#3,None,NaN
28,J.29,"[J.26, J.27]",1,M3,WC#3,None,NaN
29,J.30,[J.28],1,M3,WC#1,None,NaN
30,J.31,[],1,M5,WC#1,None,NaN
31,J.32,[J.29],1,M1,WC#2,None,NaN
32,J.33,[J.30],1,M4,WC#3,None,NaN
33,J.34,"[J.31, J.32]",1,M2,WC#2,None,NaN
34,J.35,[J.33],1,M4,WC#1,None,NaN
35,J.36,[J.34],1,M3,WC#3,None,NaN
36,J.37,[],1,M2,WC#2,None,NaN
37,J.38,"[J.35, J.36]",1,M3,WC#2,None,NaN
38,J.39,[J.37],1,M1,WC#1,None,NaN
39,J.40,[J.38],1,M2,WC#3,None,NaN
40,J.41,[J.39],1,M4,WC#1,None,NaN
41,J.42,[J.40],1,M1,WC#1,None,NaN
42,J.43,[J.41],1,M4,WC#1,None,NaN
43,J.44,[],1,M5,WC#1,None,NaN
44,J.45,"[J.42, J.43, J.44]",1,M1,WC#2,None,NaN
45,J.46,[],1,M3,WC#3,None,NaN
46,J.47,"[J.45, J.46]",1,M1,WC#3,None,NaN
47,J.48,[],1,M2,WC#1,13,1.0
48,J.49,[J.47],1,M4,WC#3,None,NaN
49,J.50,[J.49],1,M3,WC#3,14,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M3,WC#1,None,NaN
1,J.2,[J.1],1,M3,WC#1,None,NaN
2,J.3,[],2,M3,WC#2,None,NaN
3,J.4,[],1,M3,WC#1,None,NaN
4,J.5,[J.2],1,M3,WC#1,None,NaN
5,J.6,[J.3],1,M5,WC#2,None,NaN
6,J.7,[J.4],1,M3,WC#2,None,NaN
7,J.8,"[J.5, J.6]",1,M3,WC#1,None,NaN
8,J.9,[J.7],1,M3,WC#3,None,NaN
9,J.10,[J.8],1,M3,WC#2,None,NaN
10,J.11,[J.9],1,M3,WC#3,None,NaN
11,J.12,[],1,M2,WC#2,None,NaN
12,J.13,"[J.10, J.11]",1,M3,WC#1,None,NaN
13,J.14,[J.13],1,M3,WC#1,None,NaN
14,J.15,[J.12],1,M2,WC#3,None,NaN
15,J.16,[],1,M3,WC#2,None,NaN
16,J.17,"[J.14, J.16]",1,M3,WC#1,None,NaN
17,J.18,[J.15],1,M3,WC#1,None,NaN
18,J.19,[],1,M3,WC#2,None,NaN
19,J.20,"[J.17, J.18]",1,M3,WC#1,None,NaN
20,J.21,[J.20],3,M2,WC#2,None,NaN
21,J.22,[J.19],1,M3,WC#3,None,NaN
22,J.23,[],1,M3,WC#1,None,NaN
23,J.24,[J.21],1,M3,WC#3,None,NaN
24,J.25,[J.22],1,M3,WC#2,None,NaN
25,J.26,"[J.23, J.24]",1,M5,WC#2,None,NaN
26,J.27,[],1,M3,WC#2,None,NaN
27,J.28,[J.25],1,M3,WC#1,None,NaN
28,J.29,[J.26],1,M3,WC#3,None,NaN
29,J.30,"[J.27, J.28]",1,M3,WC#2,None,NaN
30,J.31,[],1,M3,WC#2,None,NaN
31,J.32,[J.29],1,M3,WC#1,None,NaN
32,J.33,[J.30],1,M3,WC#3,None,NaN
33,J.34,"[J.31, J.32]",1,M3,WC#3,None,NaN
34,J.35,[J.33],1,M3,WC#1,None,NaN
35,J.36,[J.34],2,M3,WC#3,None,NaN
36,J.37,[],1,M3,WC#2,None,NaN
37,J.38,[J.35],1,M2,WC#2,None,NaN
38,J.39,[J.36],1,M4,WC#1,None,NaN
39,J.40,[J.37],2,M3,WC#1,None,NaN
40,J.41,"[J.38, J.39]",1,M3,WC#1,None,NaN
41,J.42,[],1,M3,WC#3,None,NaN
42,J.43,[J.40],2,M3,WC#2,None,NaN
43,J.44,"[J.41, J.42]",2,M3,WC#3,None,NaN
44,J.45,[],1,M3,WC#1,None,NaN
45,J.46,"[J.43, J.44, J.45]",1,M3,WC#3,None,NaN
46,J.47,[],2,M3,WC#2,None,NaN
47,J.48,[J.46],1,M3,WC#3,None,NaN
48,J.49,[],1,M2,WC#1,12,1.0
49,J.50,"[J.47, J.48]",1,M3,WC#2,12,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],9,M3,WC#1,None,NaN
1,J.2,[J.1],3,M5,WC#2,None,NaN
2,J.3,[],2,M1,WC#1,None,NaN
3,J.4,[J.2],3,M4,WC#1,None,NaN
4,J.5,[],7,M4,WC#3,None,NaN
5,J.6,"[J.3, J.4]",2,M3,WC#1,None,NaN
6,J.7,[],1,M1,WC#1,None,NaN
7,J.8,"[J.5, J.6]",5,M2,WC#3,None,NaN
8,J.9,[J.8],1,M3,WC#3,None,NaN
9,J.10,[J.7],1,M5,WC#2,None,NaN
10,J.11,[],1,M2,WC#3,None,NaN
11,J.12,"[J.9, J.10]",5,M3,WC#3,None,NaN
12,J.13,[J.11],2,M2,WC#2,None,NaN
13,J.14,[],1,M3,WC#3,None,NaN
14,J.15,[J.12],1,M2,WC#2,None,NaN
15,J.16,[J.13],1,M5,WC#3,None,NaN
16,J.17,[J.14],1,M1,WC#1,None,NaN
17,J.18,[J.15],4,M4,WC#2,None,NaN
18,J.19,"[J.16, J.17]",1,M2,WC#1,None,NaN
19,J.20,[J.18],14,M1,WC#1,None,NaN
20,J.21,[],2,M1,WC#1,None,NaN
21,J.22,[J.19],6,M3,WC#1,None,NaN
22,J.23,"[J.20, J.21]",1,M1,WC#3,None,NaN
23,J.24,[],1,M2,WC#2,None,NaN
24,J.25,"[J.22, J.23]",2,M1,WC#2,None,NaN
25,J.26,[],1,M2,WC#3,None,NaN
26,J.27,"[J.24, J.25]",11,M3,WC#3,None,NaN
27,J.28,[],5,M5,WC#1,None,NaN
28,J.29,[J.26],3,M3,WC#2,None,NaN
29,J.30,[J.27],8,M2,WC#3,None,NaN
30,J.31,[J.28],2,M3,WC#1,None,NaN
31,J.32,"[J.29, J.30]",3,M1,WC#2,None,NaN
32,J.33,[J.31],1,M2,WC#3,None,NaN
33,J.34,[],1,M1,WC#3,None,NaN
34,J.35,[J.32],4,M1,WC#1,None,NaN
35,J.36,[J.33],5,M4,WC#2,None,NaN
36,J.37,[J.34],1,M4,WC#2,None,NaN
37,J.38,[J.36],7,M1,WC#2,None,NaN
38,J.39,"[J.35, J.37]",1,M2,WC#2,None,NaN
39,J.40,[],2,M2,WC#1,None,NaN
40,J.41,[J.38],1,M4,WC#1,None,NaN
41,J.42,[J.39],1,M1,WC#1,None,NaN
42,J.43,"[J.40, J.41]",4,M2,WC#2,None,NaN
43,J.44,[],31,M4,WC#3,None,NaN
44,J.45,[J.42],2,M2,WC#1,None,NaN
45,J.46,"[J.43, J.44]",6,M4,WC#3,None,NaN
46,J.47,[],7,M1,WC#1,None,NaN
47,J.48,[J.45],4,M3,WC#2,None,NaN
48,J.49,"[J.46, J.47]",4,M3,WC#1,45,1.0
49,J.50,[J.48],8,M3,WC#1,41,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M3,WC#3,None,NaN
1,J.2,[],2,M3,WC#1,None,NaN
2,J.3,[],4,M5,WC#3,None,NaN
3,J.4,"[J.1, J.2]",4,M3,WC#2,None,NaN
4,J.5,[J.4],8,M3,WC#2,None,NaN
5,J.6,[J.3],1,M3,WC#1,None,NaN
6,J.7,[],22,M3,WC#2,None,NaN
7,J.8,"[J.5, J.6]",8,M5,WC#1,None,NaN
8,J.9,[J.7],3,M3,WC#1,None,NaN
9,J.10,[J.8],13,M3,WC#3,None,NaN
10,J.11,[],1,M3,WC#2,None,NaN
11,J.12,[J.9],1,M3,WC#2,None,NaN
12,J.13,"[J.10, J.11]",5,M3,WC#2,None,NaN
13,J.14,[],1,M1,WC#2,None,NaN
14,J.15,"[J.12, J.13]",5,M3,WC#2,None,NaN
15,J.16,[J.14],7,M3,WC#3,None,NaN
16,J.17,[J.15],1,M3,WC#3,None,NaN
17,J.18,[],4,M2,WC#3,None,NaN
18,J.19,[J.16],1,M4,WC#3,None,NaN
19,J.20,[],8,M3,WC#3,None,NaN
20,J.21,"[J.17, J.18]",10,M3,WC#3,None,NaN
21,J.22,[J.19],2,M3,WC#1,None,NaN
22,J.23,"[J.20, J.21]",6,M3,WC#3,None,NaN
23,J.24,[],41,M3,WC#3,None,NaN
24,J.25,[J.22],8,M3,WC#2,None,NaN
25,J.26,"[J.23, J.24]",1,M3,WC#1,None,NaN
26,J.27,[J.25],3,M3,WC#1,None,NaN
27,J.28,[J.27],10,M3,WC#1,None,NaN
28,J.29,[J.26],1,M3,WC#2,None,NaN
29,J.30,[J.28],5,M3,WC#3,None,NaN
30,J.31,[],4,M3,WC#3,None,NaN
31,J.32,"[J.29, J.30]",1,M3,WC#1,None,NaN
32,J.33,[],1,M3,WC#3,None,NaN
33,J.34,[],2,M2,WC#1,None,NaN
34,J.35,"[J.31, J.32, J.33]",3,M3,WC#3,None,NaN
35,J.36,[],2,M3,WC#3,None,NaN
36,J.37,"[J.35, J.36]",4,M3,WC#1,None,NaN
37,J.38,[J.34],1,M3,WC#2,None,NaN
38,J.39,[],2,M3,WC#1,None,NaN
39,J.40,"[J.37, J.38]",1,M2,WC#2,None,NaN
40,J.41,[],5,M3,WC#3,None,NaN
41,J.42,[J.39],52,M3,WC#2,None,NaN
42,J.43,[J.40],5,M3,WC#3,None,NaN
43,J.44,"[J.41, J.42]",2,M3,WC#3,None,NaN
44,J.45,[],4,M3,WC#1,None,NaN
45,J.46,[J.43],3,M3,WC#1,None,NaN
46,J.47,"[J.44, J.45]",1,M3,WC#3,None,NaN
47,J.48,[J.46],16,M3,WC#2,None,NaN
48,J.49,[],9,M3,WC#3,66,1.0
49,J.50,"[J.47, J.48]",17,M3,WC#3,68,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[J.1],2,M1,WC#1,None,NaN
2,J.3,[J.2],1,M1,WC#2,None,NaN
3,J.4,[J.3],1,M1,WC#1,None,NaN
4,J.5,[J.4],1,M1,WC#3,None,NaN
5,J.6,[J.5],1,M1,WC#3,None,NaN
6,J.7,[J.6],1,M1,WC#1,None,NaN
7,J.8,[J.7],1,M1,WC#2,None,NaN
8,J.9,[J.8],1,M1,WC#2,None,NaN
9,J.10,[J.9],1,M1,WC#1,None,NaN
10,J.11,[J.10],1,M1,WC#3,None,NaN
11,J.12,[J.11],1,M1,WC#2,None,NaN
12,J.13,[J.12],1,M1,WC#3,None,NaN
13,J.14,[J.13],1,M1,WC#2,None,NaN
14,J.15,[J.14],1,M1,WC#1,None,NaN
15,J.16,[J.15],1,M1,WC#1,None,NaN
16,J.17,[J.16],2,M1,WC#2,None,NaN
17,J.18,[J.17],1,M1,WC#1,None,NaN
18,J.19,[J.18],1,M1,WC#1,None,NaN
19,J.20,[J.19],1,M1,WC#3,None,NaN
20,J.21,[J.20],1,M1,WC#3,None,NaN
21,J.22,[J.21],1,M1,WC#2,None,NaN
22,J.23,[J.22],1,M1,WC#1,None,NaN
23,J.24,[J.23],1,M1,WC#2,None,NaN
24,J.25,[J.24],1,M1,WC#2,None,NaN
25,J.26,[J.25],1,M1,WC#2,None,NaN
26,J.27,[J.26],1,M1,WC#1,None,NaN
27,J.28,[J.27],1,M1,WC#2,None,NaN
28,J.29,[J.28],1,M1,WC#3,None,NaN
29,J.30,[J.29],1,M1,WC#3,11,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],1,M1,WC#2,None,NaN
2,J.3,[J.1],1,M1,WC#3,None,NaN
3,J.4,"[J.2, J.3]",10,M1,WC#3,None,NaN
4,J.5,[J.4],16,M1,WC#2,None,NaN
5,J.6,[J.5],12,M1,WC#2,None,NaN
6,J.7,[J.6],27,M1,WC#1,None,NaN
7,J.8,[J.7],1,M1,WC#3,None,NaN
8,J.9,[J.8],1,M1,WC#1,None,NaN
9,J.10,[J.9],5,M1,WC#2,None,NaN
10,J.11,[J.10],4,M1,WC#1,None,NaN
11,J.12,[J.11],31,M1,WC#1,None,NaN
12,J.13,[],2,M1,WC#2,None,NaN
13,J.14,"[J.12, J.13]",9,M1,WC#3,None,NaN
14,J.15,[J.14],3,M1,WC#2,None,NaN
15,J.16,[J.15],1,M1,WC#2,None,NaN
16,J.17,[J.16],2,M1,WC#3,None,NaN
17,J.18,[J.17],4,M1,WC#3,None,NaN
18,J.19,[J.18],19,M1,WC#1,None,NaN
19,J.20,[J.19],4,M1,WC#1,None,NaN
20,J.21,[],5,M1,WC#1,None,NaN
21,J.22,"[J.20, J.21]",1,M1,WC#2,None,NaN
22,J.23,[J.22],1,M1,WC#3,None,NaN
23,J.24,[J.23],1,M1,WC#3,None,NaN
24,J.25,[J.24],41,M1,WC#3,None,NaN
25,J.26,[J.25],1,M1,WC#2,None,NaN
26,J.27,[J.26],4,M1,WC#1,None,NaN
27,J.28,[J.27],5,M1,WC#2,None,NaN
28,J.29,[J.28],9,M1,WC#3,None,NaN
29,J.30,[J.29],2,M1,WC#1,47,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[J.1],1,M1,WC#3,None,NaN
2,J.3,[J.2],1,M1,WC#3,None,NaN
3,J.4,[],1,M1,WC#1,None,NaN
4,J.5,"[J.3, J.4]",1,M1,WC#3,None,NaN
5,J.6,[],1,M1,WC#3,None,NaN
6,J.7,"[J.5, J.6]",1,M1,WC#2,None,NaN
7,J.8,[],1,M1,WC#2,None,NaN
8,J.9,[J.8],1,M1,WC#2,None,NaN
9,J.10,[J.7],1,M1,WC#1,None,NaN
10,J.11,"[J.9, J.10]",1,M1,WC#1,None,NaN
11,J.12,[J.11],1,M1,WC#3,None,NaN
12,J.13,[J.12],1,M1,WC#1,None,NaN
13,J.14,[J.13],2,M1,WC#1,None,NaN
14,J.15,[],1,M1,WC#3,None,NaN
15,J.16,[J.14],1,M1,WC#1,None,NaN
16,J.17,[J.15],1,M1,WC#3,None,NaN
17,J.18,[J.17],1,M1,WC#1,None,NaN
18,J.19,"[J.16, J.18]",1,M1,WC#2,None,NaN
19,J.20,[],1,M1,WC#2,None,NaN
20,J.21,"[J.19, J.20]",1,M1,WC#3,None,NaN
21,J.22,[J.21],1,M1,WC#3,None,NaN
22,J.23,[J.22],1,M1,WC#1,None,NaN
23,J.24,[J.23],1,M1,WC#1,None,NaN
24,J.25,[],2,M1,WC#3,None,NaN
25,J.26,[J.25],1,M1,WC#2,None,NaN
26,J.27,"[J.24, J.26]",1,M1,WC#1,None,NaN
27,J.28,[],1,M1,WC#1,None,NaN
28,J.29,[J.28],1,M1,WC#2,9,1.0
29,J.30,[J.27],1,M1,WC#3,9,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[J.1],3,M1,WC#3,None,NaN
2,J.3,[J.2],1,M1,WC#1,None,NaN
3,J.4,[J.3],1,M1,WC#1,None,NaN
4,J.5,[],2,M1,WC#2,None,NaN
5,J.6,[J.4],1,M1,WC#1,None,NaN
6,J.7,[J.5],18,M1,WC#2,None,NaN
7,J.8,"[J.6, J.7]",9,M1,WC#1,None,NaN
8,J.9,[],2,M1,WC#2,None,NaN
9,J.10,[J.8],2,M1,WC#1,None,NaN
10,J.11,"[J.9, J.10]",14,M1,WC#3,None,NaN
11,J.12,[J.11],5,M1,WC#3,None,NaN
12,J.13,[J.12],1,M1,WC#1,None,NaN
13,J.14,[J.13],5,M1,WC#1,None,NaN
14,J.15,[],11,M1,WC#2,None,NaN
15,J.16,"[J.14, J.15]",1,M1,WC#2,None,NaN
16,J.17,[J.16],1,M1,WC#3,None,NaN
17,J.18,[J.17],5,M1,WC#3,None,NaN
18,J.19,[],8,M1,WC#3,None,NaN
19,J.20,[J.19],7,M1,WC#2,None,NaN
20,J.21,[J.18],1,M1,WC#2,None,NaN
21,J.22,[J.20],1,M1,WC#1,None,NaN
22,J.23,[J.21],1,M1,WC#1,None,NaN
23,J.24,[J.22],4,M1,WC#3,None,NaN
24,J.25,[J.23],1,M1,WC#1,None,NaN
25,J.26,[],2,M1,WC#3,None,NaN
26,J.27,"[J.24, J.25]",12,M1,WC#2,None,NaN
27,J.28,[J.27],14,M1,WC#1,None,NaN
28,J.29,[J.26],26,M1,WC#2,None,NaN
29,J.30,"[J.28, J.29]",2,M1,WC#3,36,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#2,None,NaN
2,J.3,[],1,M1,WC#2,None,NaN
3,J.4,[J.1],1,M1,WC#2,None,NaN
4,J.5,"[J.2, J.4]",1,M1,WC#3,None,NaN
5,J.6,[J.3],1,M1,WC#1,None,NaN
6,J.7,[],1,M1,WC#1,None,NaN
7,J.8,"[J.5, J.6]",1,M1,WC#3,None,NaN
8,J.9,[J.7],1,M1,WC#1,None,NaN
9,J.10,[],1,M1,WC#2,None,NaN
10,J.11,"[J.8, J.9]",1,M1,WC#2,None,NaN
11,J.12,[],2,M1,WC#2,None,NaN
12,J.13,[J.10],1,M1,WC#1,None,NaN
13,J.14,[J.11],1,M1,WC#1,None,NaN
14,J.15,"[J.12, J.13]",1,M1,WC#1,None,NaN
15,J.16,[J.14],1,M1,WC#1,None,NaN
16,J.17,[],2,M1,WC#3,None,NaN
17,J.18,[J.15],1,M1,WC#2,None,NaN
18,J.19,[J.16],1,M1,WC#3,None,NaN
19,J.20,"[J.17, J.18]",1,M1,WC#3,None,NaN
20,J.21,[J.19],1,M1,WC#1,None,NaN
21,J.22,[],1,M1,WC#3,None,NaN
22,J.23,[J.20],1,M1,WC#3,None,NaN
23,J.24,"[J.21, J.22]",2,M1,WC#3,None,NaN
24,J.25,[],1,M1,WC#3,None,NaN
25,J.26,"[J.23, J.24]",1,M1,WC#1,None,NaN
26,J.27,[J.25],2,M1,WC#3,None,NaN
27,J.28,[J.26],1,M1,WC#1,None,NaN
28,J.29,[J.27],1,M1,WC#1,7,1.0
29,J.30,[J.28],1,M1,WC#1,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,[],3,M1,WC#2,None,NaN
3,J.4,[J.1],9,M1,WC#1,None,NaN
4,J.5,"[J.2, J.3]",1,M1,WC#1,None,NaN
5,J.6,[J.4],5,M1,WC#3,None,NaN
6,J.7,[J.5],1,M1,WC#3,None,NaN
7,J.8,[],6,M1,WC#2,None,NaN
8,J.9,"[J.6, J.7]",13,M1,WC#1,None,NaN
9,J.10,[J.9],2,M1,WC#3,None,NaN
10,J.11,"[J.8, J.10]",1,M1,WC#3,None,NaN
11,J.12,[],4,M1,WC#2,None,NaN
12,J.13,[J.11],13,M1,WC#3,None,NaN
13,J.14,[J.12],3,M1,WC#3,None,NaN
14,J.15,[J.13],8,M1,WC#2,None,NaN
15,J.16,[],8,M1,WC#1,None,NaN
16,J.17,[J.14],7,M1,WC#2,None,NaN
17,J.18,"[J.15, J.16]",2,M1,WC#2,None,NaN
18,J.19,[J.17],12,M1,WC#3,None,NaN
19,J.20,[J.18],2,M1,WC#1,None,NaN
20,J.21,[J.19],2,M1,WC#2,None,NaN
21,J.22,[J.20],1,M1,WC#3,None,NaN
22,J.23,[],1,M1,WC#2,None,NaN
23,J.24,[J.21],32,M1,WC#2,None,NaN
24,J.25,"[J.22, J.23]",12,M1,WC#3,None,NaN
25,J.26,[J.24],1,M1,WC#3,None,NaN
26,J.27,[],2,M1,WC#3,34,1.0
27,J.28,"[J.25, J.26]",2,M1,WC#2,32,1.0
28,J.29,[],1,M1,WC#2,None,NaN
29,J.30,[J.29],1,M1,WC#3,33,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[J.1],1,M2,WC#3,None,NaN
2,J.3,[],1,M2,WC#3,None,NaN
3,J.4,"[J.2, J.3]",1,M1,WC#1,None,NaN
4,J.5,[J.4],2,M1,WC#3,None,NaN
5,J.6,[],1,M1,WC#1,None,NaN
6,J.7,"[J.5, J.6]",1,M2,WC#3,None,NaN
7,J.8,[J.7],1,M1,WC#2,None,NaN
8,J.9,[J.8],1,M1,WC#3,None,NaN
9,J.10,[J.9],1,M1,WC#3,None,NaN
10,J.11,[J.10],1,M1,WC#2,None,NaN
11,J.12,[],1,M2,WC#1,None,NaN
12,J.13,"[J.11, J.12]",1,M2,WC#3,None,NaN
13,J.14,[J.13],1,M2,WC#2,None,NaN
14,J.15,[J.14],1,M2,WC#2,None,NaN
15,J.16,[J.15],1,M2,WC#2,None,NaN
16,J.17,[J.16],1,M2,WC#2,None,NaN
17,J.18,[J.17],2,M2,WC#3,None,NaN
18,J.19,[J.18],1,M2,WC#1,None,NaN
19,J.20,[J.19],1,M1,WC#3,None,NaN
20,J.21,[J.20],1,M2,WC#1,None,NaN
21,J.22,[J.21],1,M2,WC#3,None,NaN
22,J.23,[J.22],1,M1,WC#1,None,NaN
23,J.24,[J.23],1,M1,WC#3,None,NaN
24,J.25,[J.24],1,M1,WC#3,None,NaN
25,J.26,[J.25],1,M2,WC#3,None,NaN
26,J.27,[J.26],1,M2,WC#2,None,NaN
27,J.28,[J.27],1,M1,WC#1,None,NaN
28,J.29,[J.28],1,M2,WC#1,None,NaN
29,J.30,[J.29],1,M1,WC#3,7,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[J.1],1,M2,WC#3,None,NaN
2,J.3,[J.2],1,M2,WC#2,None,NaN
3,J.4,[J.3],1,M2,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#3,None,NaN
5,J.6,[J.5],1,M1,WC#1,None,NaN
6,J.7,[J.6],1,M1,WC#2,None,NaN
7,J.8,[J.7],2,M2,WC#3,None,NaN
8,J.9,[J.8],1,M2,WC#3,None,NaN
9,J.10,[],1,M2,WC#2,None,NaN
10,J.11,"[J.9, J.10]",1,M2,WC#1,None,NaN
11,J.12,[J.11],1,M1,WC#1,None,NaN
12,J.13,[J.12],1,M2,WC#2,None,NaN
13,J.14,[],1,M2,WC#3,None,NaN
14,J.15,[J.13],2,M1,WC#1,None,NaN
15,J.16,"[J.14, J.15]",1,M2,WC#1,None,NaN
16,J.17,[J.16],1,M2,WC#2,None,NaN
17,J.18,[J.17],1,M2,WC#2,None,NaN
18,J.19,[J.18],1,M2,WC#2,None,NaN
19,J.20,[J.19],1,M2,WC#1,None,NaN
20,J.21,[J.20],1,M2,WC#2,None,NaN
21,J.22,[J.21],1,M2,WC#2,None,NaN
22,J.23,[J.22],1,M2,WC#3,None,NaN
23,J.24,[J.23],1,M2,WC#2,None,NaN
24,J.25,[J.24],1,M2,WC#3,None,NaN
25,J.26,[J.25],1,M1,WC#3,None,NaN
26,J.27,[J.26],1,M2,WC#1,None,NaN
27,J.28,[J.27],1,M1,WC#3,None,NaN
28,J.29,[J.28],1,M1,WC#3,None,NaN
29,J.30,[J.29],2,M1,WC#1,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#1,None,NaN
1,J.2,[J.1],4,M1,WC#1,None,NaN
2,J.3,[],6,M1,WC#3,None,NaN
3,J.4,"[J.2, J.3]",1,M2,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#3,None,NaN
5,J.6,[J.5],1,M1,WC#2,None,NaN
6,J.7,[J.6],2,M1,WC#2,None,NaN
7,J.8,[],2,M2,WC#2,None,NaN
8,J.9,"[J.7, J.8]",1,M1,WC#1,None,NaN
9,J.10,[J.9],7,M1,WC#2,None,NaN
10,J.11,[J.10],2,M1,WC#1,None,NaN
11,J.12,[J.11],1,M1,WC#1,None,NaN
12,J.13,[J.12],4,M2,WC#1,None,NaN
13,J.14,[J.13],4,M1,WC#3,None,NaN
14,J.15,[J.14],3,M1,WC#1,None,NaN
15,J.16,[J.15],7,M1,WC#1,None,NaN
16,J.17,[J.16],5,M1,WC#3,None,NaN
17,J.18,[J.17],20,M1,WC#3,None,NaN
18,J.19,[],16,M1,WC#2,None,NaN
19,J.20,"[J.18, J.19]",3,M1,WC#2,None,NaN
20,J.21,[J.20],2,M1,WC#2,None,NaN
21,J.22,[J.21],2,M2,WC#3,None,NaN
22,J.23,[J.22],1,M2,WC#3,None,NaN
23,J.24,[J.23],1,M2,WC#2,None,NaN
24,J.25,[],6,M2,WC#2,None,NaN
25,J.26,"[J.24, J.25]",1,M2,WC#2,None,NaN
26,J.27,[J.26],4,M1,WC#3,None,NaN
27,J.28,[J.27],1,M1,WC#2,None,NaN
28,J.29,[J.28],2,M2,WC#3,None,NaN
29,J.30,[J.29],2,M1,WC#1,24,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M1,WC#1,None,NaN
1,J.2,[],14,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M1,WC#2,None,NaN
3,J.4,[J.3],20,M2,WC#1,None,NaN
4,J.5,[J.4],7,M1,WC#1,None,NaN
5,J.6,[J.5],4,M1,WC#1,None,NaN
6,J.7,[J.6],2,M1,WC#3,None,NaN
7,J.8,[J.7],1,M2,WC#2,None,NaN
8,J.9,[J.8],9,M1,WC#3,None,NaN
9,J.10,[J.9],4,M1,WC#1,None,NaN
10,J.11,[J.10],18,M1,WC#2,None,NaN
11,J.12,[J.11],2,M1,WC#1,None,NaN
12,J.13,[J.12],1,M1,WC#2,None,NaN
13,J.14,[J.13],1,M1,WC#2,None,NaN
14,J.15,[J.14],1,M1,WC#1,None,NaN
15,J.16,[J.15],1,M2,WC#2,None,NaN
16,J.17,[J.16],9,M1,WC#3,None,NaN
17,J.18,[J.17],3,M1,WC#2,None,NaN
18,J.19,[J.18],3,M1,WC#2,None,NaN
19,J.20,[],4,M1,WC#1,None,NaN
20,J.21,[J.20],2,M1,WC#2,None,NaN
21,J.22,"[J.19, J.21]",6,M1,WC#2,None,NaN
22,J.23,[J.22],1,M1,WC#1,None,NaN
23,J.24,[J.23],1,M2,WC#2,None,NaN
24,J.25,[J.24],8,M1,WC#2,None,NaN
25,J.26,[J.25],4,M1,WC#1,None,NaN
26,J.27,[J.26],4,M1,WC#2,None,NaN
27,J.28,[J.27],7,M2,WC#3,None,NaN
28,J.29,[J.28],5,M1,WC#3,None,NaN
29,J.30,[J.29],1,M1,WC#3,34,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M1,WC#1,None,NaN
1,J.2,[J.1],1,M2,WC#2,None,NaN
2,J.3,[J.2],1,M1,WC#1,None,NaN
3,J.4,[J.3],2,M1,WC#2,None,NaN
4,J.5,[J.4],1,M2,WC#3,None,NaN
5,J.6,[J.5],1,M2,WC#3,None,NaN
6,J.7,[J.6],1,M1,WC#3,None,NaN
7,J.8,[J.7],1,M2,WC#1,None,NaN
8,J.9,[],1,M1,WC#2,None,NaN
9,J.10,[J.9],1,M2,WC#3,None,NaN
10,J.11,"[J.8, J.10]",1,M2,WC#3,None,NaN
11,J.12,[],1,M2,WC#1,None,NaN
12,J.13,"[J.11, J.12]",1,M2,WC#1,None,NaN
13,J.14,[J.13],1,M2,WC#1,None,NaN
14,J.15,[],1,M1,WC#1,None,NaN
15,J.16,[J.14],1,M2,WC#1,None,NaN
16,J.17,[J.15],1,M1,WC#1,None,NaN
17,J.18,"[J.16, J.17]",1,M1,WC#3,None,NaN
18,J.19,[J.18],1,M1,WC#2,None,NaN
19,J.20,[],3,M2,WC#2,None,NaN
20,J.21,[J.19],1,M1,WC#2,None,NaN
21,J.22,[J.20],1,M2,WC#1,None,NaN
22,J.23,[J.21],1,M2,WC#2,None,NaN
23,J.24,[J.22],1,M2,WC#2,None,NaN
24,J.25,[J.23],1,M1,WC#1,None,NaN
25,J.26,"[J.24, J.25]",1,M2,WC#1,None,NaN
26,J.27,[J.26],1,M2,WC#1,None,NaN
27,J.28,[J.27],1,M2,WC#2,None,NaN
28,J.29,[J.28],1,M2,WC#3,None,NaN
29,J.30,[J.29],1,M2,WC#3,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M2,WC#3,None,NaN
1,J.2,[],1,M2,WC#3,None,NaN
2,J.3,[J.1],1,M1,WC#1,None,NaN
3,J.4,[J.2],1,M2,WC#1,None,NaN
4,J.5,[J.4],1,M1,WC#2,None,NaN
5,J.6,[J.3],1,M2,WC#2,None,NaN
6,J.7,[J.5],1,M2,WC#2,None,NaN
7,J.8,[J.6],1,M1,WC#3,None,NaN
8,J.9,[J.7],1,M2,WC#2,None,NaN
9,J.10,[J.8],1,M2,WC#2,None,NaN
10,J.11,[J.10],1,M1,WC#2,None,NaN
11,J.12,"[J.9, J.11]",1,M2,WC#1,None,NaN
12,J.13,[],1,M1,WC#3,None,NaN
13,J.14,"[J.12, J.13]",1,M1,WC#3,None,NaN
14,J.15,[],1,M2,WC#2,None,NaN
15,J.16,[J.14],1,M1,WC#1,None,NaN
16,J.17,[J.16],1,M2,WC#3,None,NaN
17,J.18,"[J.15, J.17]",1,M1,WC#2,None,NaN
18,J.19,[],1,M2,WC#2,None,NaN
19,J.20,[],1,M1,WC#2,None,NaN
20,J.21,"[J.18, J.19, J.20]",1,M2,WC#2,None,NaN
21,J.22,[],1,M1,WC#2,None,NaN
22,J.23,[J.22],1,M1,WC#3,None,NaN
23,J.24,"[J.21, J.23]",1,M1,WC#1,None,NaN
24,J.25,[J.24],1,M2,WC#3,None,NaN
25,J.26,[],1,M2,WC#2,None,NaN
26,J.27,[J.26],1,M2,WC#1,None,NaN
27,J.28,[J.25],1,M1,WC#3,None,NaN
28,J.29,[J.27],1,M2,WC#2,11,1.0
29,J.30,[J.28],1,M1,WC#1,9,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#2,None,NaN
1,J.2,[],1,M2,WC#1,None,NaN
2,J.3,[J.1],14,M1,WC#3,None,NaN
3,J.4,[J.2],12,M2,WC#3,None,NaN
4,J.5,[J.3],6,M1,WC#2,None,NaN
5,J.6,[J.5],11,M2,WC#1,None,NaN
6,J.7,[J.4],1,M2,WC#3,None,NaN
7,J.8,[J.6],5,M2,WC#2,None,NaN
8,J.9,"[J.7, J.8]",6,M1,WC#1,None,NaN
9,J.10,[J.9],1,M1,WC#3,None,NaN
10,J.11,[],5,M1,WC#2,None,NaN
11,J.12,[],6,M1,WC#3,None,NaN
12,J.13,"[J.10, J.11]",1,M2,WC#1,None,NaN
13,J.14,[J.12],2,M1,WC#1,None,NaN
14,J.15,"[J.13, J.14]",1,M1,WC#3,None,NaN
15,J.16,[J.15],1,M2,WC#1,None,NaN
16,J.17,[],5,M2,WC#2,None,NaN
17,J.18,"[J.16, J.17]",5,M2,WC#1,None,NaN
18,J.19,[J.18],13,M2,WC#3,None,NaN
19,J.20,[J.19],1,M2,WC#2,None,NaN
20,J.21,[J.20],1,M2,WC#3,None,NaN
21,J.22,[],1,M1,WC#3,None,NaN
22,J.23,"[J.21, J.22]",16,M2,WC#3,None,NaN
23,J.24,[J.23],10,M1,WC#2,None,NaN
24,J.25,[],2,M2,WC#3,None,NaN
25,J.26,[],25,M1,WC#2,None,NaN
26,J.27,"[J.24, J.25]",1,M2,WC#2,None,NaN
27,J.28,[J.26],31,M1,WC#2,None,NaN
28,J.29,[],20,M1,WC#3,None,NaN
29,J.30,"[J.27, J.28, J.29]",9,M2,WC#3,44,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M2,WC#3,None,NaN
2,J.3,[],3,M1,WC#1,None,NaN
3,J.4,[J.1],12,M1,WC#3,None,NaN
4,J.5,"[J.2, J.3, J.4]",9,M2,WC#2,None,NaN
5,J.6,[J.5],4,M1,WC#3,None,NaN
6,J.7,[J.6],1,M1,WC#2,None,NaN
7,J.8,[],16,M1,WC#1,None,NaN
8,J.9,[J.8],2,M2,WC#2,None,NaN
9,J.10,[J.7],7,M1,WC#3,None,NaN
10,J.11,[],6,M1,WC#2,None,NaN
11,J.12,"[J.9, J.11]",5,M1,WC#3,None,NaN
12,J.13,"[J.10, J.12]",2,M1,WC#2,None,NaN
13,J.14,[J.13],1,M1,WC#2,None,NaN
14,J.15,[],17,M1,WC#3,None,NaN
15,J.16,"[J.14, J.15]",9,M1,WC#2,None,NaN
16,J.17,[],2,M1,WC#2,None,NaN
17,J.18,"[J.16, J.17]",2,M2,WC#1,None,NaN
18,J.19,[J.18],5,M2,WC#1,None,NaN
19,J.20,[J.19],5,M1,WC#2,None,NaN
20,J.21,[],1,M1,WC#1,None,NaN
21,J.22,"[J.20, J.21]",1,M1,WC#3,None,NaN
22,J.23,[J.22],5,M2,WC#3,None,NaN
23,J.24,[J.23],2,M2,WC#1,None,NaN
24,J.25,[],7,M1,WC#3,None,NaN
25,J.26,[J.24],7,M2,WC#3,None,NaN
26,J.27,[],4,M2,WC#1,None,NaN
27,J.28,[J.25],1,M1,WC#2,37,1.0
28,J.29,"[J.26, J.27]",32,M1,WC#1,None,NaN
29,J.30,[J.29],5,M1,WC#3,40,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M2,WC#1,None,NaN
3,J.4,[],1,M2,WC#2,None,NaN
4,J.5,[J.3],1,M1,WC#3,None,NaN
5,J.6,[J.4],1,M1,WC#3,None,NaN
6,J.7,[J.5],1,M2,WC#3,None,NaN
7,J.8,[J.6],1,M1,WC#1,None,NaN
8,J.9,[J.7],1,M1,WC#3,None,NaN
9,J.10,[J.8],1,M2,WC#1,None,NaN
10,J.11,[J.9],1,M2,WC#3,None,NaN
11,J.12,[J.10],1,M1,WC#2,None,NaN
12,J.13,[],1,M1,WC#1,None,NaN
13,J.14,[J.11],1,M2,WC#2,None,NaN
14,J.15,[J.12],2,M2,WC#1,None,NaN
15,J.16,"[J.13, J.15]",1,M2,WC#2,None,NaN
16,J.17,[J.14],1,M1,WC#1,None,NaN
17,J.18,[],1,M1,WC#1,None,NaN
18,J.19,"[J.16, J.17]",1,M2,WC#1,None,NaN
19,J.20,[],1,M2,WC#3,None,NaN
20,J.21,"[J.18, J.19]",1,M2,WC#3,None,NaN
21,J.22,[J.20],1,M1,WC#3,None,NaN
22,J.23,[],2,M1,WC#3,None,NaN
23,J.24,"[J.21, J.22]",2,M2,WC#1,None,NaN
24,J.25,[],1,M2,WC#3,None,NaN
25,J.26,[J.24],1,M2,WC#3,None,NaN
26,J.27,"[J.23, J.25]",1,M1,WC#2,None,NaN
27,J.28,[J.26],1,M1,WC#1,None,NaN
28,J.29,[J.27],1,M1,WC#3,10,1.0
29,J.30,[J.28],1,M1,WC#2,11,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[],1,M2,WC#1,None,NaN
2,J.3,[J.1],1,M1,WC#2,None,NaN
3,J.4,[J.2],1,M2,WC#1,None,NaN
4,J.5,[J.3],2,M2,WC#2,None,NaN
5,J.6,[J.4],1,M2,WC#2,None,NaN
6,J.7,[J.5],1,M2,WC#1,None,NaN
7,J.8,[],3,M2,WC#1,None,NaN
8,J.9,[J.6],1,M2,WC#3,None,NaN
9,J.10,[J.7],1,M1,WC#1,None,NaN
10,J.11,[J.8],1,M2,WC#1,None,NaN
11,J.12,[J.9],1,M2,WC#3,None,NaN
12,J.13,[J.10],1,M1,WC#2,None,NaN
13,J.14,[J.11],1,M2,WC#2,None,NaN
14,J.15,"[J.12, J.13]",1,M2,WC#2,None,NaN
15,J.16,[],1,M2,WC#2,None,NaN
16,J.17,"[J.14, J.15]",1,M2,WC#2,None,NaN
17,J.18,[J.16],1,M2,WC#2,None,NaN
18,J.19,[J.17],1,M1,WC#2,None,NaN
19,J.20,[],1,M2,WC#1,None,NaN
20,J.21,[J.18],1,M2,WC#2,None,NaN
21,J.22,"[J.19, J.20]",1,M2,WC#2,None,NaN
22,J.23,[J.21],1,M2,WC#2,None,NaN
23,J.24,[J.22],1,M1,WC#3,None,NaN
24,J.25,[],1,M2,WC#1,None,NaN
25,J.26,"[J.23, J.24]",1,M2,WC#1,None,NaN
26,J.27,[J.25],1,M1,WC#1,None,NaN
27,J.28,[],1,M2,WC#1,11,1.0
28,J.29,[J.26],1,M2,WC#3,11,1.0
29,J.30,[J.27],1,M2,WC#2,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#1,None,NaN
1,J.2,[],1,M1,WC#2,None,NaN
2,J.3,[J.1],3,M1,WC#3,None,NaN
3,J.4,"[J.2, J.3]",3,M1,WC#2,None,NaN
4,J.5,[],10,M1,WC#2,None,NaN
5,J.6,[J.4],2,M2,WC#3,None,NaN
6,J.7,[],4,M1,WC#2,None,NaN
7,J.8,[J.5],4,M2,WC#2,None,NaN
8,J.9,"[J.6, J.7]",13,M1,WC#3,None,NaN
9,J.10,[],1,M1,WC#1,None,NaN
10,J.11,[J.8],1,M2,WC#3,None,NaN
11,J.12,"[J.9, J.10]",2,M1,WC#3,None,NaN
12,J.13,[J.11],1,M1,WC#2,None,NaN
13,J.14,[],1,M2,WC#1,None,NaN
14,J.15,[],1,M1,WC#2,None,NaN
15,J.16,"[J.12, J.13, J.14]",29,M2,WC#2,None,NaN
16,J.17,[],7,M2,WC#1,None,NaN
17,J.18,[],3,M1,WC#2,None,NaN
18,J.19,"[J.15, J.16]",6,M1,WC#2,None,NaN
19,J.20,"[J.17, J.18]",1,M1,WC#3,None,NaN
20,J.21,[],1,M2,WC#2,None,NaN
21,J.22,"[J.19, J.20]",2,M2,WC#1,None,NaN
22,J.23,[J.21],1,M2,WC#3,None,NaN
23,J.24,"[J.22, J.23]",1,M1,WC#1,None,NaN
24,J.25,[],5,M1,WC#2,None,NaN
25,J.26,[J.24],5,M2,WC#2,None,NaN
26,J.27,[],20,M1,WC#1,None,NaN
27,J.28,"[J.25, J.26]",10,M2,WC#2,37,1.0
28,J.29,[],5,M1,WC#3,36,1.0
29,J.30,[J.27],20,M2,WC#2,36,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[],2,M2,WC#1,None,NaN
2,J.3,[J.1],5,M2,WC#1,None,NaN
3,J.4,[],5,M2,WC#2,None,NaN
4,J.5,"[J.2, J.3]",9,M2,WC#1,None,NaN
5,J.6,[J.4],4,M2,WC#2,None,NaN
6,J.7,[],1,M2,WC#1,None,NaN
7,J.8,"[J.5, J.6]",3,M1,WC#1,None,NaN
8,J.9,[J.7],1,M2,WC#3,None,NaN
9,J.10,[J.8],22,M2,WC#3,None,NaN
10,J.11,[J.9],1,M1,WC#2,None,NaN
11,J.12,[J.10],1,M2,WC#1,None,NaN
12,J.13,[],2,M2,WC#1,None,NaN
13,J.14,[J.11],2,M1,WC#2,None,NaN
14,J.15,"[J.12, J.13]",3,M2,WC#2,None,NaN
15,J.16,[J.15],9,M2,WC#1,None,NaN
16,J.17,"[J.14, J.16]",26,M1,WC#1,None,NaN
17,J.18,[],1,M1,WC#1,None,NaN
18,J.19,[],7,M2,WC#1,None,NaN
19,J.20,"[J.17, J.18]",3,M2,WC#2,None,NaN
20,J.21,[],5,M2,WC#2,None,NaN
21,J.22,[J.19],4,M2,WC#2,None,NaN
22,J.23,[J.20],1,M2,WC#1,None,NaN
23,J.24,[],6,M2,WC#1,None,NaN
24,J.25,"[J.21, J.22, J.23, J.24]",1,M1,WC#1,None,NaN
25,J.26,[J.25],9,M2,WC#3,None,NaN
26,J.27,[J.26],7,M2,WC#1,None,NaN
27,J.28,[],1,M2,WC#3,None,NaN
28,J.29,[J.27],35,M2,WC#3,39,1.0
29,J.30,[J.28],1,M2,WC#1,36,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[],1,M5,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M5,WC#2,None,NaN
3,J.4,[J.3],1,M5,WC#1,None,NaN
4,J.5,[J.4],1,M4,WC#1,None,NaN
5,J.6,[J.5],1,M1,WC#2,None,NaN
6,J.7,[J.6],1,M3,WC#3,None,NaN
7,J.8,[],1,M5,WC#3,None,NaN
8,J.9,"[J.7, J.8]",1,M5,WC#1,None,NaN
9,J.10,[J.9],1,M1,WC#1,None,NaN
10,J.11,[J.10],1,M4,WC#3,None,NaN
11,J.12,[J.11],2,M4,WC#2,None,NaN
12,J.13,[],1,M2,WC#2,None,NaN
13,J.14,"[J.12, J.13]",1,M4,WC#3,None,NaN
14,J.15,[J.14],1,M5,WC#2,None,NaN
15,J.16,[],1,M5,WC#1,None,NaN
16,J.17,"[J.15, J.16]",1,M3,WC#3,None,NaN
17,J.18,[J.17],1,M3,WC#1,None,NaN
18,J.19,[J.18],1,M1,WC#1,None,NaN
19,J.20,[J.19],1,M5,WC#3,None,NaN
20,J.21,[J.20],1,M1,WC#1,None,NaN
21,J.22,[J.21],1,M3,WC#2,None,NaN
22,J.23,[J.22],1,M4,WC#1,None,NaN
23,J.24,[J.23],1,M2,WC#1,None,NaN
24,J.25,[J.24],1,M5,WC#1,None,NaN
25,J.26,[J.25],1,M1,WC#3,None,NaN
26,J.27,[J.26],2,M5,WC#3,None,NaN
27,J.28,[J.27],1,M4,WC#1,None,NaN
28,J.29,[J.28],1,M2,WC#1,None,NaN
29,J.30,[J.29],1,M4,WC#1,7,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M4,WC#3,None,NaN
1,J.2,[],1,M4,WC#3,None,NaN
2,J.3,"[J.1, J.2]",1,M3,WC#1,None,NaN
3,J.4,[J.3],1,M4,WC#2,None,NaN
4,J.5,[J.4],1,M4,WC#3,None,NaN
5,J.6,[J.5],1,M4,WC#1,None,NaN
6,J.7,[J.6],2,M1,WC#2,None,NaN
7,J.8,[J.7],1,M4,WC#2,None,NaN
8,J.9,[J.8],1,M3,WC#1,None,NaN
9,J.10,[J.9],1,M4,WC#2,None,NaN
10,J.11,[J.10],1,M1,WC#3,None,NaN
11,J.12,[J.11],1,M4,WC#3,None,NaN
12,J.13,[],1,M4,WC#1,None,NaN
13,J.14,"[J.12, J.13]",2,M4,WC#1,None,NaN
14,J.15,[J.14],1,M5,WC#2,None,NaN
15,J.16,[],1,M4,WC#1,None,NaN
16,J.17,"[J.15, J.16]",1,M4,WC#3,None,NaN
17,J.18,[J.17],1,M3,WC#2,None,NaN
18,J.19,[J.18],1,M4,WC#1,None,NaN
19,J.20,[J.19],2,M1,WC#1,None,NaN
20,J.21,[J.20],1,M3,WC#2,None,NaN
21,J.22,[J.21],1,M5,WC#1,None,NaN
22,J.23,[J.22],1,M1,WC#2,None,NaN
23,J.24,[J.23],1,M4,WC#2,None,NaN
24,J.25,[],1,M4,WC#3,None,NaN
25,J.26,"[J.24, J.25]",1,M4,WC#3,None,NaN
26,J.27,[J.26],1,M4,WC#1,None,NaN
27,J.28,[J.27],1,M4,WC#1,None,NaN
28,J.29,[J.28],1,M4,WC#2,None,NaN
29,J.30,[J.29],1,M1,WC#1,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M1,WC#2,None,NaN
1,J.2,[],2,M2,WC#1,None,NaN
2,J.3,"[J.1, J.2]",29,M1,WC#2,None,NaN
3,J.4,[],1,M1,WC#1,None,NaN
4,J.5,"[J.3, J.4]",3,M4,WC#2,None,NaN
5,J.6,[],1,M3,WC#3,None,NaN
6,J.7,"[J.5, J.6]",3,M4,WC#2,None,NaN
7,J.8,[J.7],1,M3,WC#2,None,NaN
8,J.9,[J.8],2,M4,WC#1,None,NaN
9,J.10,[],1,M4,WC#3,None,NaN
10,J.11,"[J.9, J.10]",9,M4,WC#3,None,NaN
11,J.12,[J.11],2,M5,WC#2,None,NaN
12,J.13,[J.12],3,M3,WC#3,None,NaN
13,J.14,[J.13],20,M2,WC#1,None,NaN
14,J.15,[J.14],7,M3,WC#1,None,NaN
15,J.16,[J.15],12,M2,WC#2,None,NaN
16,J.17,[J.16],13,M5,WC#1,None,NaN
17,J.18,[J.17],12,M4,WC#1,None,NaN
18,J.19,[J.18],23,M2,WC#1,None,NaN
19,J.20,[J.19],9,M5,WC#2,None,NaN
20,J.21,[J.20],9,M5,WC#3,None,NaN
21,J.22,[J.21],49,M2,WC#3,None,NaN
22,J.23,[J.22],2,M1,WC#3,None,NaN
23,J.24,[J.23],15,M1,WC#1,None,NaN
24,J.25,[J.24],14,M1,WC#1,None,NaN
25,J.26,[J.25],1,M2,WC#1,None,NaN
26,J.27,[J.26],8,M5,WC#2,None,NaN
27,J.28,[J.27],4,M4,WC#2,61,1.0
28,J.29,[],22,M2,WC#1,None,NaN
29,J.30,[J.29],3,M4,WC#1,58,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M2,WC#3,None,NaN
1,J.2,[J.1],1,M2,WC#2,None,NaN
2,J.3,[J.2],2,M3,WC#2,None,NaN
3,J.4,[J.3],6,M2,WC#2,None,NaN
4,J.5,[J.4],9,M1,WC#3,None,NaN
5,J.6,[J.5],1,M2,WC#2,None,NaN
6,J.7,[J.6],1,M2,WC#3,None,NaN
7,J.8,[J.7],4,M3,WC#3,None,NaN
8,J.9,[J.8],1,M2,WC#1,None,NaN
9,J.10,[J.9],1,M2,WC#2,None,NaN
10,J.11,[J.10],1,M2,WC#2,None,NaN
11,J.12,[J.11],2,M1,WC#1,None,NaN
12,J.13,[J.12],1,M2,WC#1,None,NaN
13,J.14,[J.13],4,M2,WC#1,None,NaN
14,J.15,[J.14],1,M2,WC#3,None,NaN
15,J.16,[J.15],2,M2,WC#2,None,NaN
16,J.17,[J.16],3,M2,WC#1,None,NaN
17,J.18,[J.17],2,M2,WC#3,None,NaN
18,J.19,[J.18],38,M3,WC#2,None,NaN
19,J.20,[J.19],5,M3,WC#3,None,NaN
20,J.21,[J.20],6,M3,WC#1,None,NaN
21,J.22,[J.21],1,M4,WC#2,None,NaN
22,J.23,[J.22],5,M2,WC#2,None,NaN
23,J.24,[J.23],3,M1,WC#3,None,NaN
24,J.25,[J.24],4,M2,WC#1,None,NaN
25,J.26,[],4,M5,WC#2,None,NaN
26,J.27,"[J.25, J.26]",1,M2,WC#2,None,NaN
27,J.28,[J.27],7,M2,WC#1,None,NaN
28,J.29,[J.28],2,M2,WC#3,None,NaN
29,J.30,[J.29],7,M2,WC#3,29,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#2,None,NaN
1,J.2,[],1,M4,WC#2,None,NaN
2,J.3,[J.1],2,M1,WC#1,None,NaN
3,J.4,"[J.2, J.3]",1,M2,WC#1,None,NaN
4,J.5,[J.4],1,M4,WC#2,None,NaN
5,J.6,[],1,M2,WC#1,None,NaN
6,J.7,"[J.5, J.6]",3,M5,WC#2,None,NaN
7,J.8,[],1,M3,WC#2,None,NaN
8,J.9,"[J.7, J.8]",1,M5,WC#3,None,NaN
9,J.10,[J.9],1,M1,WC#2,None,NaN
10,J.11,[J.10],1,M5,WC#1,None,NaN
11,J.12,[],1,M5,WC#1,None,NaN
12,J.13,"[J.11, J.12]",2,M1,WC#1,None,NaN
13,J.14,[],1,M1,WC#3,None,NaN
14,J.15,[J.13],1,M2,WC#1,None,NaN
15,J.16,[],1,M4,WC#2,None,NaN
16,J.17,"[J.15, J.16]",1,M4,WC#2,None,NaN
17,J.18,"[J.14, J.17]",2,M1,WC#2,None,NaN
18,J.19,[J.18],1,M1,WC#1,None,NaN
19,J.20,[],1,M3,WC#1,None,NaN
20,J.21,"[J.19, J.20]",1,M3,WC#1,None,NaN
21,J.22,[J.21],1,M4,WC#1,None,NaN
22,J.23,[],1,M3,WC#2,None,NaN
23,J.24,"[J.22, J.23]",1,M2,WC#2,None,NaN
24,J.25,[J.24],1,M4,WC#1,None,NaN
25,J.26,[J.25],1,M1,WC#3,None,NaN
26,J.27,[],1,M4,WC#3,None,NaN
27,J.28,[J.26],1,M5,WC#3,None,NaN
28,J.29,"[J.27, J.28]",1,M3,WC#2,None,NaN
29,J.30,[J.29],1,M1,WC#1,12,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,[],1,M1,WC#1,None,NaN
3,J.4,[],2,M1,WC#3,None,NaN
4,J.5,"[J.1, J.3]",1,M1,WC#3,None,NaN
5,J.6,"[J.2, J.5]",1,M3,WC#3,None,NaN
6,J.7,"[J.4, J.6]",1,M1,WC#2,None,NaN
7,J.8,[],1,M3,WC#3,None,NaN
8,J.9,[J.8],1,M5,WC#2,None,NaN
9,J.10,"[J.7, J.9]",1,M2,WC#2,None,NaN
10,J.11,[],1,M1,WC#3,None,NaN
11,J.12,[J.11],1,M1,WC#3,None,NaN
12,J.13,"[J.10, J.12]",1,M1,WC#2,None,NaN
13,J.14,[J.13],1,M1,WC#1,None,NaN
14,J.15,[],1,M2,WC#3,None,NaN
15,J.16,[J.14],1,M4,WC#1,None,NaN
16,J.17,[],1,M1,WC#1,None,NaN
17,J.18,"[J.15, J.16, J.17]",1,M1,WC#3,None,NaN
18,J.19,[],1,M1,WC#1,None,NaN
19,J.20,[J.18],1,M1,WC#1,None,NaN
20,J.21,[J.19],1,M1,WC#1,None,NaN
21,J.22,[J.21],2,M1,WC#1,None,NaN
22,J.23,[J.22],1,M5,WC#3,None,NaN
23,J.24,[J.20],1,M1,WC#1,None,NaN
24,J.25,[],1,M1,WC#1,None,NaN
25,J.26,"[J.23, J.24, J.25]",1,M1,WC#1,None,NaN
26,J.27,[J.26],1,M2,WC#3,None,NaN
27,J.28,[J.27],1,M3,WC#1,None,NaN
28,J.29,[],1,M1,WC#2,None,NaN
29,J.30,"[J.28, J.29]",1,M1,WC#3,10,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],20,M2,WC#2,None,NaN
1,J.2,[],10,M4,WC#1,None,NaN
2,J.3,"[J.1, J.2]",5,M5,WC#3,None,NaN
3,J.4,[J.3],4,M3,WC#3,None,NaN
4,J.5,[J.4],9,M2,WC#3,None,NaN
5,J.6,[J.5],2,M1,WC#1,None,NaN
6,J.7,[J.6],2,M3,WC#1,None,NaN
7,J.8,[],1,M3,WC#2,None,NaN
8,J.9,[J.7],1,M2,WC#3,None,NaN
9,J.10,[J.9],11,M4,WC#2,None,NaN
10,J.11,[],4,M3,WC#3,None,NaN
11,J.12,"[J.8, J.11]",2,M4,WC#2,None,NaN
12,J.13,"[J.10, J.12]",16,M5,WC#3,None,NaN
13,J.14,[J.13],32,M5,WC#2,None,NaN
14,J.15,[J.14],30,M3,WC#1,None,NaN
15,J.16,[],1,M4,WC#3,None,NaN
16,J.17,[J.15],7,M4,WC#2,None,NaN
17,J.18,[J.16],3,M4,WC#2,None,NaN
18,J.19,[J.17],5,M1,WC#1,None,NaN
19,J.20,"[J.18, J.19]",8,M5,WC#3,None,NaN
20,J.21,[],1,M2,WC#2,None,NaN
21,J.22,[],3,M2,WC#3,None,NaN
22,J.23,"[J.20, J.21]",2,M5,WC#1,None,NaN
23,J.24,"[J.22, J.23]",8,M3,WC#2,None,NaN
24,J.25,[J.24],3,M3,WC#3,None,NaN
25,J.26,[J.25],55,M3,WC#1,None,NaN
26,J.27,[],4,M2,WC#1,None,NaN
27,J.28,"[J.26, J.27]",9,M5,WC#2,None,NaN
28,J.29,[],34,M3,WC#2,62,1.0
29,J.30,[J.28],2,M5,WC#3,60,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],17,M5,WC#3,None,NaN
1,J.2,[J.1],3,M5,WC#2,None,NaN
2,J.3,[],6,M5,WC#2,None,NaN
3,J.4,[J.2],4,M5,WC#3,None,NaN
4,J.5,"[J.3, J.4]",9,M4,WC#1,None,NaN
5,J.6,[],17,M5,WC#1,None,NaN
6,J.7,[J.6],8,M2,WC#3,None,NaN
7,J.8,"[J.5, J.7]",3,M5,WC#2,None,NaN
8,J.9,[],2,M5,WC#1,None,NaN
9,J.10,"[J.8, J.9]",4,M5,WC#3,None,NaN
10,J.11,[],7,M5,WC#2,None,NaN
11,J.12,[J.11],26,M5,WC#2,None,NaN
12,J.13,"[J.10, J.12]",7,M5,WC#2,None,NaN
13,J.14,[J.13],15,M5,WC#3,None,NaN
14,J.15,[J.14],8,M5,WC#1,None,NaN
15,J.16,[],8,M1,WC#2,None,NaN
16,J.17,"[J.15, J.16]",1,M5,WC#2,None,NaN
17,J.18,[],14,M1,WC#1,None,NaN
18,J.19,[],4,M5,WC#2,None,NaN
19,J.20,[J.17],3,M5,WC#1,None,NaN
20,J.21,"[J.18, J.19, J.20]",9,M5,WC#2,None,NaN
21,J.22,[J.21],1,M4,WC#2,None,NaN
22,J.23,[J.22],21,M5,WC#3,None,NaN
23,J.24,[],7,M5,WC#2,None,NaN
24,J.25,[],3,M5,WC#3,None,NaN
25,J.26,"[J.23, J.24]",3,M3,WC#3,None,NaN
26,J.27,[J.26],10,M4,WC#3,None,NaN
27,J.28,"[J.25, J.27]",1,M5,WC#2,None,NaN
28,J.29,[],1,M5,WC#2,None,NaN
29,J.30,"[J.28, J.29]",7,M5,WC#3,47,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M3,WC#3,None,NaN
1,J.2,[],1,M5,WC#2,None,NaN
2,J.3,[],1,M3,WC#2,None,NaN
3,J.4,"[J.1, J.3]",1,M5,WC#1,None,NaN
4,J.5,[J.4],1,M5,WC#1,None,NaN
5,J.6,[J.2],1,M4,WC#1,None,NaN
6,J.7,[],1,M3,WC#1,None,NaN
7,J.8,[J.6],1,M3,WC#2,None,NaN
8,J.9,"[J.5, J.7]",1,M4,WC#1,None,NaN
9,J.10,[J.8],1,M2,WC#3,None,NaN
10,J.11,"[J.9, J.10]",1,M4,WC#2,None,NaN
11,J.12,[],1,M1,WC#1,None,NaN
12,J.13,[],3,M1,WC#1,None,NaN
13,J.14,"[J.11, J.12]",1,M3,WC#3,None,NaN
14,J.15,[J.14],1,M5,WC#3,None,NaN
15,J.16,"[J.13, J.15]",1,M3,WC#1,None,NaN
16,J.17,[],2,M2,WC#2,None,NaN
17,J.18,[J.16],1,M4,WC#2,None,NaN
18,J.19,[J.18],1,M5,WC#2,None,NaN
19,J.20,[J.17],1,M3,WC#2,None,NaN
20,J.21,[],2,M1,WC#1,None,NaN
21,J.22,[J.19],1,M5,WC#1,None,NaN
22,J.23,[J.20],1,M4,WC#1,None,NaN
23,J.24,[J.21],1,M5,WC#1,None,NaN
24,J.25,"[J.22, J.23]",1,M5,WC#1,None,NaN
25,J.26,[],1,M1,WC#3,None,NaN
26,J.27,[J.24],1,M4,WC#3,None,NaN
27,J.28,[J.25],1,M1,WC#1,None,NaN
28,J.29,[J.27],1,M1,WC#3,10,1.0
29,J.30,"[J.26, J.28]",1,M5,WC#1,10,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#1,None,NaN
1,J.2,[],1,M2,WC#1,None,NaN
2,J.3,[J.1],1,M5,WC#1,None,NaN
3,J.4,[J.2],1,M5,WC#1,None,NaN
4,J.5,[],1,M5,WC#2,None,NaN
5,J.6,[J.3],1,M5,WC#1,None,NaN
6,J.7,"[J.4, J.5]",1,M5,WC#2,None,NaN
7,J.8,[],2,M2,WC#2,None,NaN
8,J.9,"[J.6, J.7]",1,M5,WC#2,None,NaN
9,J.10,[J.8],1,M3,WC#1,None,NaN
10,J.11,[J.9],1,M5,WC#3,None,NaN
11,J.12,[],1,M5,WC#3,None,NaN
12,J.13,"[J.10, J.12]",1,M5,WC#1,None,NaN
13,J.14,[J.11],1,M4,WC#1,None,NaN
14,J.15,[J.13],2,M5,WC#1,None,NaN
15,J.16,[],1,M5,WC#3,None,NaN
16,J.17,[J.14],1,M5,WC#3,None,NaN
17,J.18,[J.15],1,M5,WC#3,None,NaN
18,J.19,"[J.16, J.17]",1,M5,WC#1,None,NaN
19,J.20,[J.18],1,M5,WC#1,None,NaN
20,J.21,[J.19],1,M2,WC#1,None,NaN
21,J.22,[J.20],1,M5,WC#1,None,NaN
22,J.23,"[J.21, J.22]",1,M4,WC#2,None,NaN
23,J.24,[],1,M5,WC#1,None,NaN
24,J.25,[J.23],1,M5,WC#3,None,NaN
25,J.26,[J.24],1,M2,WC#1,None,NaN
26,J.27,[],1,M5,WC#3,None,NaN
27,J.28,"[J.25, J.26]",1,M5,WC#1,None,NaN
28,J.29,[],1,M5,WC#1,9,1.0
29,J.30,"[J.27, J.28]",1,M5,WC#3,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#1,None,NaN
2,J.3,[J.1],1,M1,WC#1,None,NaN
3,J.4,[J.2],1,M5,WC#2,None,NaN
4,J.5,"[J.3, J.4]",12,M5,WC#2,None,NaN
5,J.6,[],6,M5,WC#2,None,NaN
6,J.7,[],8,M4,WC#2,None,NaN
7,J.8,"[J.5, J.6, J.7]",5,M5,WC#3,None,NaN
8,J.9,[J.8],2,M5,WC#2,None,NaN
9,J.10,[],1,M1,WC#1,None,NaN
10,J.11,[],1,M4,WC#1,None,NaN
11,J.12,[],17,M5,WC#3,None,NaN
12,J.13,"[J.9, J.10]",1,M4,WC#2,None,NaN
13,J.14,[J.11],9,M3,WC#3,None,NaN
14,J.15,[J.12],7,M4,WC#3,None,NaN
15,J.16,[J.13],7,M3,WC#3,None,NaN
16,J.17,"[J.14, J.15]",9,M3,WC#1,None,NaN
17,J.18,[],2,M2,WC#3,None,NaN
18,J.19,"[J.16, J.18]",4,M4,WC#1,None,NaN
19,J.20,[J.17],7,M4,WC#3,None,NaN
20,J.21,[],1,M5,WC#2,None,NaN
21,J.22,"[J.19, J.20]",1,M5,WC#2,None,NaN
22,J.23,[],2,M1,WC#3,None,NaN
23,J.24,[J.21],1,M3,WC#1,None,NaN
24,J.25,"[J.22, J.23]",5,M2,WC#2,None,NaN
25,J.26,"[J.24, J.25]",1,M1,WC#2,None,NaN
26,J.27,[],11,M1,WC#2,None,NaN
27,J.28,[J.26],8,M1,WC#2,32,1.0
28,J.29,[],1,M1,WC#2,28,1.0
29,J.30,[J.27],2,M4,WC#2,31,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],4,M1,WC#2,None,NaN
1,J.2,[],15,M1,WC#1,None,NaN
2,J.3,[J.1],1,M1,WC#2,None,NaN
3,J.4,[J.2],28,M1,WC#1,None,NaN
4,J.5,[],2,M1,WC#1,None,NaN
5,J.6,"[J.3, J.4]",17,M1,WC#3,None,NaN
6,J.7,[],2,M1,WC#1,None,NaN
7,J.8,[J.5],1,M5,WC#2,None,NaN
8,J.9,"[J.6, J.7]",3,M1,WC#3,None,NaN
9,J.10,[J.8],1,M4,WC#2,None,NaN
10,J.11,[],7,M4,WC#1,None,NaN
11,J.12,[J.9],55,M1,WC#2,None,NaN
12,J.13,[J.10],1,M2,WC#2,None,NaN
13,J.14,"[J.11, J.12]",1,M5,WC#2,None,NaN
14,J.15,[],1,M1,WC#1,None,NaN
15,J.16,[J.13],3,M1,WC#2,None,NaN
16,J.17,"[J.14, J.15]",1,M1,WC#2,None,NaN
17,J.18,[],1,M1,WC#3,None,NaN
18,J.19,[J.17],2,M1,WC#3,None,NaN
19,J.20,[J.16],4,M2,WC#1,None,NaN
20,J.21,"[J.18, J.19]",2,M1,WC#1,None,NaN
21,J.22,[],23,M1,WC#1,None,NaN
22,J.23,[J.20],30,M1,WC#3,None,NaN
23,J.24,[J.21],1,M1,WC#1,None,NaN
24,J.25,"[J.22, J.23]",3,M1,WC#1,None,NaN
25,J.26,[J.25],5,M1,WC#1,None,NaN
26,J.27,[J.24],17,M1,WC#3,None,NaN
27,J.28,[J.26],3,M5,WC#3,None,NaN
28,J.29,[],2,M1,WC#3,49,1.0
29,J.30,"[J.27, J.28]",1,M1,WC#1,50,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[J.1],1,M1,WC#1,None,NaN
2,J.3,[J.2],1,M1,WC#3,None,NaN
3,J.4,[J.3],1,M1,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#2,None,NaN
5,J.6,[J.5],1,M1,WC#1,None,NaN
6,J.7,[],3,M1,WC#1,None,NaN
7,J.8,"[J.6, J.7]",1,M1,WC#2,None,NaN
8,J.9,[J.8],1,M1,WC#2,None,NaN
9,J.10,[J.9],1,M1,WC#1,None,NaN
10,J.11,[J.10],1,M1,WC#3,None,NaN
11,J.12,[J.11],1,M1,WC#1,None,NaN
12,J.13,[],1,M1,WC#3,None,NaN
13,J.14,[J.12],1,M1,WC#2,None,NaN
14,J.15,"[J.13, J.14]",1,M1,WC#1,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[J.1],27,M1,WC#1,None,NaN
2,J.3,[J.2],1,M1,WC#3,None,NaN
3,J.4,[],6,M1,WC#2,None,NaN
4,J.5,[J.4],1,M1,WC#2,None,NaN
5,J.6,"[J.3, J.5]",21,M1,WC#2,None,NaN
6,J.7,[J.6],2,M1,WC#3,None,NaN
7,J.8,[],3,M1,WC#2,None,NaN
8,J.9,"[J.7, J.8]",1,M1,WC#3,None,NaN
9,J.10,[J.9],4,M1,WC#3,None,NaN
10,J.11,[J.10],9,M1,WC#2,None,NaN
11,J.12,[J.11],9,M1,WC#2,None,NaN
12,J.13,[J.12],6,M1,WC#1,None,NaN
13,J.14,[J.13],11,M1,WC#3,None,NaN
14,J.15,[J.14],17,M1,WC#2,25,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[],1,M1,WC#3,None,NaN
2,J.3,[J.1],1,M1,WC#2,None,NaN
3,J.4,[J.2],1,M1,WC#1,None,NaN
4,J.5,[],1,M1,WC#1,None,NaN
5,J.6,"[J.3, J.4]",1,M1,WC#2,None,NaN
6,J.7,[J.6],1,M1,WC#1,None,NaN
7,J.8,[J.5],1,M1,WC#2,None,NaN
8,J.9,[J.8],1,M1,WC#3,None,NaN
9,J.10,[J.9],2,M1,WC#1,None,NaN
10,J.11,[J.10],1,M1,WC#3,None,NaN
11,J.12,[J.7],1,M1,WC#1,None,NaN
12,J.13,[],1,M1,WC#3,None,NaN
13,J.14,"[J.11, J.12, J.13]",1,M1,WC#1,None,NaN
14,J.15,[J.14],2,M1,WC#2,4,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],21,M1,WC#2,None,NaN
1,J.2,[J.1],3,M1,WC#3,None,NaN
2,J.3,[J.2],1,M1,WC#1,None,NaN
3,J.4,[],26,M1,WC#3,None,NaN
4,J.5,"[J.3, J.4]",5,M1,WC#3,None,NaN
5,J.6,[],3,M1,WC#1,None,NaN
6,J.7,"[J.5, J.6]",13,M1,WC#3,None,NaN
7,J.8,[J.7],1,M1,WC#1,None,NaN
8,J.9,[J.8],9,M1,WC#1,None,NaN
9,J.10,[],3,M1,WC#3,None,NaN
10,J.11,[J.9],2,M1,WC#3,None,NaN
11,J.12,[],1,M1,WC#1,None,NaN
12,J.13,[J.10],8,M1,WC#2,None,NaN
13,J.14,"[J.11, J.12]",1,M1,WC#1,None,NaN
14,J.15,"[J.13, J.14]",6,M1,WC#1,25,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[],1,M1,WC#2,None,NaN
2,J.3,[],1,M1,WC#2,None,NaN
3,J.4,[J.1],1,M1,WC#2,None,NaN
4,J.5,[J.3],1,M1,WC#3,None,NaN
5,J.6,"[J.2, J.4]",1,M1,WC#2,None,NaN
6,J.7,[],1,M1,WC#1,None,NaN
7,J.8,"[J.5, J.6]",1,M1,WC#2,None,NaN
8,J.9,[J.7],1,M1,WC#3,None,NaN
9,J.10,[],2,M1,WC#2,None,NaN
10,J.11,[J.8],1,M1,WC#1,None,NaN
11,J.12,"[J.9, J.10]",1,M1,WC#1,None,NaN
12,J.13,[J.11],1,M1,WC#1,None,NaN
13,J.14,[J.12],1,M1,WC#2,6,1.0
14,J.15,[J.13],1,M1,WC#1,7,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],7,M1,WC#1,None,NaN
1,J.2,[J.1],3,M1,WC#3,None,NaN
2,J.3,[],1,M1,WC#3,None,NaN
3,J.4,[],5,M1,WC#3,None,NaN
4,J.5,[J.2],2,M1,WC#1,None,NaN
5,J.6,"[J.3, J.4]",28,M1,WC#2,None,NaN
6,J.7,[],2,M1,WC#2,None,NaN
7,J.8,"[J.5, J.6]",36,M1,WC#2,None,NaN
8,J.9,[],2,M1,WC#3,None,NaN
9,J.10,[J.7],3,M1,WC#1,None,NaN
10,J.11,[J.8],1,M1,WC#1,None,NaN
11,J.12,[J.9],1,M1,WC#2,None,NaN
12,J.13,"[J.10, J.11]",13,M1,WC#2,None,NaN
13,J.14,[J.12],5,M1,WC#2,27,1.0
14,J.15,[J.13],8,M1,WC#1,24,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[J.1],3,M1,WC#2,None,NaN
2,J.3,[J.2],1,M1,WC#1,None,NaN
3,J.4,[J.3],1,M2,WC#1,None,NaN
4,J.5,[J.4],1,M2,WC#1,None,NaN
5,J.6,[J.5],1,M1,WC#3,None,NaN
6,J.7,[J.6],1,M2,WC#2,None,NaN
7,J.8,[J.7],1,M2,WC#1,None,NaN
8,J.9,[J.8],1,M2,WC#3,None,NaN
9,J.10,[J.9],1,M1,WC#2,None,NaN
10,J.11,[J.10],1,M2,WC#2,None,NaN
11,J.12,[J.11],1,M1,WC#3,None,NaN
12,J.13,[J.12],1,M2,WC#2,None,NaN
13,J.14,[J.13],1,M1,WC#2,None,NaN
14,J.15,[J.14],1,M2,WC#3,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[J.1],1,M2,WC#2,None,NaN
2,J.3,[J.2],1,M2,WC#2,None,NaN
3,J.4,[J.3],1,M2,WC#1,None,NaN
4,J.5,[J.4],1,M2,WC#2,None,NaN
5,J.6,[J.5],1,M2,WC#2,None,NaN
6,J.7,[J.6],1,M2,WC#1,None,NaN
7,J.8,[J.7],1,M2,WC#3,None,NaN
8,J.9,[J.8],1,M2,WC#1,None,NaN
9,J.10,[J.9],1,M2,WC#1,None,NaN
10,J.11,[J.10],1,M1,WC#2,None,NaN
11,J.12,[],1,M1,WC#1,None,NaN
12,J.13,"[J.11, J.12]",2,M2,WC#1,None,NaN
13,J.14,[J.13],1,M1,WC#1,None,NaN
14,J.15,[J.14],1,M2,WC#1,8,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#3,None,NaN
1,J.2,[J.1],1,M2,WC#3,None,NaN
2,J.3,[J.2],19,M1,WC#2,None,NaN
3,J.4,[J.3],3,M2,WC#2,None,NaN
4,J.5,[J.4],15,M1,WC#1,None,NaN
5,J.6,[],5,M2,WC#2,None,NaN
6,J.7,"[J.5, J.6]",3,M1,WC#2,None,NaN
7,J.8,[J.7],1,M1,WC#1,None,NaN
8,J.9,[],2,M2,WC#1,None,NaN
9,J.10,"[J.8, J.9]",1,M1,WC#3,None,NaN
10,J.11,[J.10],9,M1,WC#1,None,NaN
11,J.12,[J.11],1,M1,WC#3,None,NaN
12,J.13,[J.12],20,M2,WC#1,None,NaN
13,J.14,[J.13],8,M1,WC#3,None,NaN
14,J.15,[J.14],17,M2,WC#2,26,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M2,WC#2,None,NaN
1,J.2,[J.1],2,M2,WC#1,None,NaN
2,J.3,[J.2],3,M1,WC#3,None,NaN
3,J.4,[],4,M2,WC#3,None,NaN
4,J.5,"[J.3, J.4]",2,M2,WC#1,None,NaN
5,J.6,[J.5],12,M2,WC#2,None,NaN
6,J.7,[J.6],5,M2,WC#1,None,NaN
7,J.8,[J.7],1,M1,WC#1,None,NaN
8,J.9,[],4,M2,WC#2,None,NaN
9,J.10,"[J.8, J.9]",10,M1,WC#2,None,NaN
10,J.11,[J.10],6,M2,WC#2,None,NaN
11,J.12,[J.11],5,M2,WC#3,None,NaN
12,J.13,[J.12],1,M2,WC#3,None,NaN
13,J.14,[],31,M1,WC#1,None,NaN
14,J.15,"[J.13, J.14]",2,M2,WC#3,19,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[J.1],1,M1,WC#2,None,NaN
2,J.3,[J.2],1,M1,WC#2,None,NaN
3,J.4,[],1,M2,WC#3,None,NaN
4,J.5,[J.3],1,M2,WC#3,None,NaN
5,J.6,"[J.4, J.5]",1,M1,WC#3,None,NaN
6,J.7,[J.6],1,M1,WC#2,None,NaN
7,J.8,[J.7],1,M2,WC#3,None,NaN
8,J.9,[],1,M2,WC#2,None,NaN
9,J.10,[J.8],1,M1,WC#2,None,NaN
10,J.11,"[J.9, J.10]",1,M1,WC#1,None,NaN
11,J.12,[J.11],2,M1,WC#2,None,NaN
12,J.13,[],2,M2,WC#2,None,NaN
13,J.14,"[J.12, J.13]",1,M1,WC#2,None,NaN
14,J.15,[J.14],1,M2,WC#2,5,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[J.1],1,M2,WC#3,None,NaN
2,J.3,[],1,M2,WC#2,None,NaN
3,J.4,"[J.2, J.3]",1,M2,WC#2,None,NaN
4,J.5,[J.4],1,M2,WC#3,None,NaN
5,J.6,[J.5],1,M2,WC#2,None,NaN
6,J.7,[],1,M2,WC#3,None,NaN
7,J.8,[J.6],1,M2,WC#1,None,NaN
8,J.9,[J.8],1,M1,WC#1,None,NaN
9,J.10,"[J.7, J.9]",1,M1,WC#2,None,NaN
10,J.11,[],1,M2,WC#2,None,NaN
11,J.12,[],1,M2,WC#2,None,NaN
12,J.13,"[J.10, J.12]",1,M2,WC#3,None,NaN
13,J.14,[J.13],1,M1,WC#2,None,NaN
14,J.15,"[J.11, J.14]",1,M2,WC#2,6,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],8,M2,WC#2,None,NaN
1,J.2,[J.1],3,M1,WC#3,None,NaN
2,J.3,[],9,M2,WC#2,None,NaN
3,J.4,[],1,M2,WC#3,None,NaN
4,J.5,"[J.2, J.3, J.4]",29,M2,WC#3,None,NaN
5,J.6,[J.5],7,M2,WC#1,None,NaN
6,J.7,[],7,M2,WC#2,None,NaN
7,J.8,"[J.6, J.7]",2,M2,WC#2,None,NaN
8,J.9,[],23,M1,WC#1,None,NaN
9,J.10,[],5,M2,WC#3,None,NaN
10,J.11,"[J.8, J.10]",23,M2,WC#1,None,NaN
11,J.12,[],4,M1,WC#3,None,NaN
12,J.13,"[J.9, J.11]",4,M1,WC#3,None,NaN
13,J.14,[J.12],60,M1,WC#2,None,NaN
14,J.15,"[J.13, J.14]",30,M1,WC#3,45,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],52,M1,WC#3,None,NaN
1,J.2,[J.1],12,M2,WC#3,None,NaN
2,J.3,[],16,M1,WC#1,None,NaN
3,J.4,[J.2],1,M1,WC#1,None,NaN
4,J.5,[J.3],3,M2,WC#1,None,NaN
5,J.6,"[J.4, J.5]",1,M2,WC#1,None,NaN
6,J.7,[],3,M2,WC#1,None,NaN
7,J.8,[J.6],7,M2,WC#3,None,NaN
8,J.9,"[J.7, J.8]",2,M1,WC#3,None,NaN
9,J.10,[J.9],2,M2,WC#3,None,NaN
10,J.11,[],1,M2,WC#1,None,NaN
11,J.12,"[J.10, J.11]",9,M2,WC#2,None,NaN
12,J.13,[],29,M2,WC#1,None,NaN
13,J.14,[J.12],1,M2,WC#3,32,1.0
14,J.15,[J.13],14,M1,WC#1,34,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[],1,M1,WC#3,None,NaN
2,J.3,[],1,M1,WC#1,None,NaN
3,J.4,"[J.1, J.2]",1,M1,WC#1,None,NaN
4,J.5,"[J.3, J.4]",1,M1,WC#1,None,NaN
5,J.6,[],1,M2,WC#1,None,NaN
6,J.7,[],2,M2,WC#2,None,NaN
7,J.8,"[J.5, J.6]",2,M2,WC#3,None,NaN
8,J.9,[],1,M1,WC#3,None,NaN
9,J.10,[J.7],1,M2,WC#1,None,NaN
10,J.11,"[J.8, J.9]",1,M2,WC#3,None,NaN
11,J.12,[J.10],1,M2,WC#1,4,1.0
12,J.13,[],1,M2,WC#3,None,NaN
13,J.14,[J.11],2,M2,WC#1,5,1.0
14,J.15,[J.13],1,M2,WC#1,6,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#3,None,NaN
1,J.2,[],2,M1,WC#1,None,NaN
2,J.3,[J.1],1,M2,WC#3,None,NaN
3,J.4,[],1,M1,WC#3,None,NaN
4,J.5,"[J.2, J.3, J.4]",1,M1,WC#3,None,NaN
5,J.6,[],1,M1,WC#2,None,NaN
6,J.7,[J.5],1,M2,WC#2,None,NaN
7,J.8,[],1,M1,WC#1,None,NaN
8,J.9,"[J.6, J.7, J.8]",1,M2,WC#2,None,NaN
9,J.10,[],1,M1,WC#1,None,NaN
10,J.11,[J.9],1,M2,WC#3,None,NaN
11,J.12,[J.10],1,M1,WC#2,None,NaN
12,J.13,[],1,M2,WC#3,None,NaN
13,J.14,"[J.11, J.12]",1,M1,WC#1,7,1.0
14,J.15,[J.13],1,M2,WC#3,7,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#2,None,NaN
1,J.2,[],1,M2,WC#1,None,NaN
2,J.3,[J.2],3,M1,WC#2,None,NaN
3,J.4,[J.1],8,M2,WC#3,None,NaN
4,J.5,[J.3],3,M1,WC#1,None,NaN
5,J.6,[J.4],1,M1,WC#3,None,NaN
6,J.7,[],6,M2,WC#2,None,NaN
7,J.8,[],2,M2,WC#1,None,NaN
8,J.9,"[J.5, J.6, J.7]",3,M1,WC#2,None,NaN
9,J.10,[],3,M1,WC#1,None,NaN
10,J.11,[J.8],1,M1,WC#1,None,NaN
11,J.12,"[J.9, J.10]",1,M1,WC#1,None,NaN
12,J.13,[J.11],9,M2,WC#2,11,1.0
13,J.14,[J.12],1,M1,WC#1,None,NaN
14,J.15,[J.14],2,M1,WC#2,13,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],8,M1,WC#1,None,NaN
1,J.2,[],6,M2,WC#3,None,NaN
2,J.3,[J.1],2,M2,WC#2,None,NaN
3,J.4,[],2,M1,WC#3,None,NaN
4,J.5,"[J.2, J.3]",4,M2,WC#1,None,NaN
5,J.6,[],3,M2,WC#2,None,NaN
6,J.7,[J.4],7,M1,WC#1,None,NaN
7,J.8,[J.5],4,M1,WC#2,None,NaN
8,J.9,"[J.6, J.7, J.8]",3,M2,WC#1,None,NaN
9,J.10,[],1,M2,WC#3,None,NaN
10,J.11,[],1,M1,WC#1,None,NaN
11,J.12,"[J.9, J.10]",25,M2,WC#2,25,1.0
12,J.13,[J.11],2,M2,WC#1,None,NaN
13,J.14,[],8,M1,WC#2,None,NaN
14,J.15,"[J.13, J.14]",26,M2,WC#3,23,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#3,None,NaN
1,J.2,[J.1],1,M3,WC#3,None,NaN
2,J.3,[J.2],1,M3,WC#2,None,NaN
3,J.4,[],1,M3,WC#1,None,NaN
4,J.5,"[J.3, J.4]",1,M1,WC#3,None,NaN
5,J.6,[J.5],1,M2,WC#3,None,NaN
6,J.7,[],1,M5,WC#1,None,NaN
7,J.8,"[J.6, J.7]",1,M3,WC#1,None,NaN
8,J.9,[J.8],1,M3,WC#2,None,NaN
9,J.10,[J.9],1,M1,WC#2,None,NaN
10,J.11,[J.10],1,M5,WC#3,None,NaN
11,J.12,[J.11],1,M5,WC#1,None,NaN
12,J.13,[J.12],1,M4,WC#2,None,NaN
13,J.14,[J.13],1,M3,WC#1,None,NaN
14,J.15,[J.14],1,M5,WC#3,5,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M4,WC#3,None,NaN
1,J.2,[J.1],1,M3,WC#2,None,NaN
2,J.3,[J.2],2,M3,WC#2,None,NaN
3,J.4,[J.3],1,M3,WC#3,None,NaN
4,J.5,[J.4],1,M3,WC#2,None,NaN
5,J.6,[],1,M1,WC#1,None,NaN
6,J.7,[J.6],1,M3,WC#1,None,NaN
7,J.8,"[J.5, J.7]",1,M3,WC#1,None,NaN
8,J.9,[J.8],2,M3,WC#3,None,NaN
9,J.10,[J.9],1,M2,WC#1,None,NaN
10,J.11,[J.10],1,M5,WC#1,None,NaN
11,J.12,[J.11],1,M3,WC#2,None,NaN
12,J.13,[J.12],2,M3,WC#1,None,NaN
13,J.14,[J.13],1,M3,WC#1,None,NaN
14,J.15,[J.14],1,M3,WC#3,4,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#1,None,NaN
1,J.2,[J.1],8,M1,WC#2,None,NaN
2,J.3,[J.2],1,M3,WC#2,None,NaN
3,J.4,[J.3],9,M1,WC#2,None,NaN
4,J.5,[J.4],4,M4,WC#1,None,NaN
5,J.6,[J.5],3,M2,WC#1,None,NaN
6,J.7,[J.6],9,M3,WC#1,None,NaN
7,J.8,[J.7],2,M5,WC#1,None,NaN
8,J.9,[],1,M3,WC#3,None,NaN
9,J.10,"[J.8, J.9]",1,M2,WC#1,None,NaN
10,J.11,[],7,M2,WC#2,None,NaN
11,J.12,"[J.10, J.11]",2,M2,WC#3,None,NaN
12,J.13,[J.12],2,M1,WC#3,None,NaN
13,J.14,[],1,M4,WC#2,None,NaN
14,J.15,"[J.13, J.14]",3,M5,WC#3,12,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],13,M4,WC#3,None,NaN
1,J.2,[J.1],2,M2,WC#2,None,NaN
2,J.3,[J.2],2,M1,WC#1,None,NaN
3,J.4,[J.3],16,M1,WC#3,None,NaN
4,J.5,[J.4],1,M1,WC#1,None,NaN
5,J.6,[J.5],7,M1,WC#2,None,NaN
6,J.7,[],17,M1,WC#1,None,NaN
7,J.8,[J.6],1,M1,WC#3,None,NaN
8,J.9,"[J.7, J.8]",1,M5,WC#2,None,NaN
9,J.10,[J.9],1,M1,WC#1,None,NaN
10,J.11,[J.10],3,M1,WC#2,None,NaN
11,J.12,[],2,M2,WC#1,None,NaN
12,J.13,"[J.11, J.12]",27,M1,WC#2,None,NaN
13,J.14,[J.13],1,M1,WC#1,None,NaN
14,J.15,[J.14],1,M1,WC#2,22,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M3,WC#1,None,NaN
1,J.2,[],1,M3,WC#1,None,NaN
2,J.3,"[J.1, J.2]",1,M2,WC#3,None,NaN
3,J.4,[],1,M2,WC#3,None,NaN
4,J.5,[],1,M4,WC#1,None,NaN
5,J.6,"[J.3, J.4, J.5]",1,M3,WC#2,None,NaN
6,J.7,[J.6],1,M1,WC#2,None,NaN
7,J.8,[J.7],1,M4,WC#2,None,NaN
8,J.9,[J.8],2,M1,WC#2,None,NaN
9,J.10,[],1,M5,WC#3,None,NaN
10,J.11,"[J.9, J.10]",1,M2,WC#2,None,NaN
11,J.12,[J.11],1,M2,WC#1,None,NaN
12,J.13,[],1,M2,WC#2,None,NaN
13,J.14,"[J.12, J.13]",1,M2,WC#3,None,NaN
14,J.15,[J.14],1,M3,WC#2,6,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#1,None,NaN
1,J.2,[],1,M2,WC#2,None,NaN
2,J.3,[J.1],1,M2,WC#2,None,NaN
3,J.4,[J.3],1,M5,WC#1,None,NaN
4,J.5,[J.2],1,M5,WC#1,None,NaN
5,J.6,[J.5],1,M1,WC#2,None,NaN
6,J.7,[],1,M1,WC#1,None,NaN
7,J.8,"[J.4, J.7]",1,M2,WC#1,None,NaN
8,J.9,"[J.6, J.8]",1,M2,WC#2,None,NaN
9,J.10,[],2,M4,WC#2,None,NaN
10,J.11,"[J.9, J.10]",1,M2,WC#2,None,NaN
11,J.12,[J.11],1,M2,WC#1,None,NaN
12,J.13,[],1,M2,WC#2,None,NaN
13,J.14,[J.12],1,M2,WC#2,None,NaN
14,J.15,"[J.13, J.14]",1,M2,WC#2,5,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],4,M4,WC#3,None,NaN
1,J.2,[J.1],1,M4,WC#1,None,NaN
2,J.3,[J.2],7,M5,WC#1,None,NaN
3,J.4,[],1,M2,WC#2,None,NaN
4,J.5,[J.4],1,M5,WC#1,None,NaN
5,J.6,"[J.3, J.5]",13,M2,WC#1,None,NaN
6,J.7,[],3,M5,WC#1,None,NaN
7,J.8,"[J.6, J.7]",3,M2,WC#1,None,NaN
8,J.9,[],1,M2,WC#2,None,NaN
9,J.10,[J.9],7,M2,WC#1,None,NaN
10,J.11,"[J.8, J.10]",1,M3,WC#2,None,NaN
11,J.12,[],1,M3,WC#3,None,NaN
12,J.13,[],9,M3,WC#2,None,NaN
13,J.14,[J.11],7,M3,WC#3,14,1.0
14,J.15,"[J.12, J.13]",2,M4,WC#2,16,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M2,WC#3,None,NaN
1,J.2,[J.1],1,M2,WC#1,None,NaN
2,J.3,[J.2],1,M2,WC#1,None,NaN
3,J.4,[],4,M2,WC#3,None,NaN
4,J.5,[J.3],3,M2,WC#3,None,NaN
5,J.6,[J.4],8,M2,WC#3,None,NaN
6,J.7,[],6,M2,WC#2,None,NaN
7,J.8,"[J.5, J.7]",19,M2,WC#1,None,NaN
8,J.9,"[J.6, J.8]",31,M2,WC#2,None,NaN
9,J.10,[J.9],16,M2,WC#2,None,NaN
10,J.11,[J.10],8,M2,WC#1,None,NaN
11,J.12,[J.11],1,M2,WC#3,None,NaN
12,J.13,[],1,M2,WC#3,None,NaN
13,J.14,[J.12],2,M2,WC#3,25,1.0
14,J.15,[J.13],1,M2,WC#1,21,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#1,None,NaN
1,J.2,[],1,M3,WC#1,None,NaN
2,J.3,[J.1],1,M1,WC#1,None,NaN
3,J.4,[J.3],1,M5,WC#2,None,NaN
4,J.5,[J.2],1,M1,WC#2,None,NaN
5,J.6,[],1,M1,WC#2,None,NaN
6,J.7,"[J.4, J.5]",2,M2,WC#2,None,NaN
7,J.8,[],2,M2,WC#3,None,NaN
8,J.9,"[J.6, J.7]",2,M2,WC#1,None,NaN
9,J.10,[J.8],1,M2,WC#2,None,NaN
10,J.11,[J.9],1,M2,WC#2,None,NaN
11,J.12,[J.10],1,M1,WC#3,None,NaN
12,J.13,[],1,M2,WC#2,None,NaN
13,J.14,"[J.11, J.12]",1,M2,WC#2,7,1.0
14,J.15,[J.13],1,M5,WC#2,7,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#3,None,NaN
1,J.2,[],1,M5,WC#1,None,NaN
2,J.3,[],1,M4,WC#2,None,NaN
3,J.4,"[J.1, J.2]",1,M1,WC#1,None,NaN
4,J.5,[J.3],2,M5,WC#2,None,NaN
5,J.6,"[J.4, J.5]",1,M5,WC#2,None,NaN
6,J.7,[],1,M5,WC#1,None,NaN
7,J.8,[],1,M5,WC#3,None,NaN
8,J.9,"[J.6, J.7]",1,M4,WC#3,None,NaN
9,J.10,[],1,M3,WC#2,None,NaN
10,J.11,[],1,M5,WC#2,None,NaN
11,J.12,"[J.8, J.9, J.10]",1,M5,WC#2,None,NaN
12,J.13,[],1,M1,WC#2,None,NaN
13,J.14,"[J.11, J.12]",1,M5,WC#2,7,1.0
14,J.15,[J.13],1,M5,WC#3,6,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M5,WC#3,None,NaN
1,J.2,[],1,M5,WC#3,None,NaN
2,J.3,[J.1],3,M1,WC#3,None,NaN
3,J.4,[],1,M5,WC#1,None,NaN
4,J.5,[J.2],2,M4,WC#1,None,NaN
5,J.6,"[J.3, J.4]",1,M5,WC#3,None,NaN
6,J.7,[],2,M3,WC#1,None,NaN
7,J.8,[J.5],1,M1,WC#3,None,NaN
8,J.9,[J.6],1,M2,WC#3,None,NaN
9,J.10,"[J.7, J.8]",5,M1,WC#3,None,NaN
10,J.11,[J.9],1,M4,WC#3,None,NaN
11,J.12,[J.10],3,M4,WC#1,None,NaN
12,J.13,[],2,M5,WC#2,None,NaN
13,J.14,"[J.11, J.13]",4,M1,WC#1,7,1.0
14,J.15,[J.12],1,M5,WC#1,7,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M5,WC#3,None,NaN
1,J.2,[],10,M5,WC#3,None,NaN
2,J.3,[J.1],2,M5,WC#1,None,NaN
3,J.4,[J.2],12,M5,WC#3,None,NaN
4,J.5,[J.3],6,M5,WC#2,None,NaN
5,J.6,"[J.4, J.5]",2,M1,WC#3,None,NaN
6,J.7,[J.6],1,M5,WC#1,None,NaN
7,J.8,[],1,M5,WC#3,None,NaN
8,J.9,[],2,M5,WC#1,None,NaN
9,J.10,"[J.7, J.8]",1,M3,WC#2,None,NaN
10,J.11,[J.9],3,M2,WC#3,None,NaN
11,J.12,[],2,M5,WC#2,None,NaN
12,J.13,"[J.10, J.11, J.12]",1,M5,WC#3,None,NaN
13,J.14,[],7,M5,WC#2,12,1.0
14,J.15,[J.13],3,M5,WC#1,16,1.0

In [16]:
list_n = [500]
list_M = [5]
list_D = [0.1]
list_p = [0.15, 0.95]

combinations = []
for n in list_n: 
    for M in list_M:
        for D in list_D: 
            for p in list_p: 
                combinations.append( (n, M, D, p) )

for n, M, D, p in combinations: 
    folder_path = f"TestCases//{n}operations"
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)
    
    df = generate_dataset(n, M, D, p, bottleneck_machine=None)
    display(df)
    filename = f"{n}_{M}_{D}_{p}"
    df.to_csv(f"{folder_path}//{filename}.csv", index=False)

    if M > 1:
        df = generate_dataset(n, M, D, p, bottleneck_machine=random.randint(1, M))
        display(df)
        filename_bottleneck = f"{n}_{M}_{D}_{p}_bottleneck"
        df.to_csv(f"{folder_path}//{filename_bottleneck}.csv", index=False)

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],2,M1,WC#2,None,NaN
1,J.2,[],1,M5,WC#2,None,NaN
2,J.3,"[J.1, J.2]",1,M5,WC#1,None,NaN
3,J.4,[J.3],1,M5,WC#1,None,NaN
4,J.5,[J.4],1,M3,WC#3,None,NaN
...,...,...,...,...,...,...,...
495,J.496,[J.495],1,M1,WC#2,None,NaN
496,J.497,[J.496],2,M5,WC#3,None,NaN
497,J.498,[J.497],1,M1,WC#1,None,NaN
498,J.499,[J.498],1,M4,WC#2,None,NaN
499,J.500,[J.499],1,M4,WC#2,109,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M1,WC#2,None,NaN
1,J.2,[J.1],1,M5,WC#3,None,NaN
2,J.3,[J.2],1,M3,WC#2,None,NaN
3,J.4,[J.3],1,M5,WC#2,None,NaN
4,J.5,[J.4],1,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
495,J.496,[J.495],1,M3,WC#3,None,NaN
496,J.497,[J.496],1,M5,WC#2,None,NaN
497,J.498,[J.497],1,M1,WC#2,None,NaN
498,J.499,[J.498],1,M5,WC#3,None,NaN
499,J.500,[J.499],1,M5,WC#1,112,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],3,M5,WC#3,None,NaN
1,J.2,[J.1],1,M1,WC#2,None,NaN
2,J.3,[J.2],2,M5,WC#3,None,NaN
3,J.4,[J.3],3,M5,WC#2,None,NaN
4,J.5,[J.4],5,M2,WC#1,None,NaN
...,...,...,...,...,...,...,...
495,J.496,[J.495],18,M5,WC#2,None,NaN
496,J.497,[J.496],5,M2,WC#3,None,NaN
497,J.498,[J.497],8,M2,WC#3,None,NaN
498,J.499,[],2,M5,WC#2,None,NaN
499,J.500,"[J.498, J.499]",1,M1,WC#2,684,1.0

,operation,predecessor_operations,processing_time,machine,workcenter,due_date,end_product
0,J.1,[],1,M2,WC#3,None,NaN
1,J.2,[J.1],11,M3,WC#2,None,NaN
2,J.3,[J.2],14,M3,WC#1,None,NaN
3,J.4,[J.3],1,M3,WC#2,None,NaN
4,J.5,[J.4],3,M3,WC#1,None,NaN
...,...,...,...,...,...,...,...
495,J.496,[J.495],1,M3,WC#1,None,NaN
496,J.497,[J.496],6,M3,WC#2,None,NaN
497,J.498,[J.497],4,M4,WC#2,None,NaN
498,J.499,[J.498],2,M2,WC#1,None,NaN
499,J.500,[J.499],2,M3,WC#2,578,1.0